@import (reference) '../../common/variables.less';

.accent-owl {
  esl-animate & {
    & image {
      opacity: 0;
      transition: opacity 0.4s ease-in-out 2.5s;
    }

    & text {
      opacity: 0;
      transition: opacity 0.4s ease-in-out 3.4s;
    }
  }

  esl-animate.in & {
    & path {
      animation-delay: 3.2s;
    }

    & image,
    & text {
      opacity: 1;
    }
  }

  @media @xs-sm {
    display: none;
  }
}
