{% extends './base.njk' %}
{% set baseClass = 'sidebar-layout' %}

{% block content %}
  {% include 'navigation/header.njk' %}
  {% include 'navigation/sidebar.njk' %}

  <main class="esl-scrollable-content">
    {% set isMarkdownSource = page.templateSyntax.includes('md') %}
    <div class="content {{ containerCls or 'container' }} {{ 'container-aside' if aside }} {{ 'markdown-container' if isMarkdownSource }}">
      {% if title %}
        {% include 'navigation/breadcrumbs.njk' %}
        <h1 class="page-title">
          {% if icon %}{% include "static/assets/" + icon %}{% endif %}
          {{ title | safe }}
          {% if 'beta' in [].concat(tags) %}<span class="badge badge-sup badge-warning">Beta</span>{% endif %}
          {% if 'draft' in [].concat(tags) %}<span class="badge badge-sup badge-danger">Draft</span>{% endif %}
          {% if 'new' in [].concat(tags) %}<span class="badge badge-sup badge-success">New</span>{% endif %}
        </h1>
      {% endif %}
      {% if showBackLink %}
        <a esl-d-back-link class="arrow-link reverse">Back</a>
      {% endif %}
      {% if aside %}
        <aside class="aside">
          {% if 'deprecated' in [].concat(tags) and aside.deprecationSpec %}
            <div class="alert alert-warning">
              {% mdRender aside.deprecationSpec, 'deprecation', 'intro' %}
            </div>
          {% endif %}
          {% if 'deprecated' in [].concat(tags) and aside.deprecationText %}
            <div class="alert alert-warning">
              {{ aside.deprecationText | safe }}
            </div>
          {% endif %}

          {% from 'navigation/related-links.njk' import related with context %}
          {% from 'navigation/source-link.njk' import ghLink with context %}
          {{ related(aside.components, 'components', 'Related Components') }}
          {{ related(aside.examples, 'examples', 'Related Examples') }}
          {{ ghLink(aside.source, 'Source') }}
        </aside>
      {% endif %}

      {{ content | safe or 'No content.' }}
    </div>

    <footer class="footer-compact container-fluid">
      {% include 'navigation/banner.njk' %}
      {% include 'navigation/footer-compact.njk' %}
    </footer>
  </main>

  <esl-scrollbar target="::prev" class="main-scroll"></esl-scrollbar>
  <div class="header-shadow"></div>
{% endblock %}
