{% extends './base.njk' %}
{% set baseClass = 'presentation-layout typo-large' %}

{% block content %}
  {% include 'presentation/header.njk' %}
  {% include 'presentation/sidebar.njk' %}

  <main>
    <esl-carousel id="presentation-carousel"
                  class="presentation-carousel"
                  media="all | print"
                  type="default | none"
                  vertical count="1"
                  esl-carousel-wheel
                  esl-carousel-wheel-ignore="uip-root, pre, [contenteditable]"
                  esl-carousel-wheel-prevent-default
                  esl-carousel-touch="@mobile => swipe"
                  esl-carousel-keyboard
                  esl-carousel-anchored>
      <ul esl-carousel-slides tabindex="-1" class="presentation-carousel-inner markdown-container">
        {% for item in collections[slides] | sortByPathAndOrder %}
        <li esl-carousel-slide
            {% if item.data.hash %}id="slide-{{ item.data.hash }}" {% endif %}
            {{ 'active' if loop.first}}
            class="presentation-slide {{ item.data.cls }}">
          <div class="container presentation-content esl-scrollable-content">
            {% if item.data.titleTag and item.data.titleTag !== 'none' %}
            <{{ item.data.titleTag }} class="presentation-title {{ item.data.titleCls }}">
            {{ item.data.title | safe or 'No title.' }}
          </{{ item.data.titleTag }}>
          {% endif %}
          {{ item.content | safe or 'No content.' }}
          </div>
          <esl-scrollbar target="::prev"></esl-scrollbar>
        </li>
        {% endfor %}
      </ul>
    </esl-carousel>
  </main>

  {% include 'presentation/footer.njk' %}
{% endblock %}
