{% extends './base.njk' %}
{% set baseClass = 'presentation-layout' %}

{% block content %}
  {% include 'presentation/header.njk' %}
  {% include 'presentation/sidebar.njk' %}

  <main>
    <esl-carousel id="presentation-carousel"
                  class="presentation-carousel"
                  count="1"
                  vertical
                  esl-carousel-wheel
                  esl-carousel-keyboard>
      <div tabindex="-1" data-slides-area class="presentation-carousel-inner">
        {% for item in collections[slides] | sortByOrder %}
          <esl-carousel-slide {{ 'active' if loop.first}} class="presentation-slide {{ item.data.cls }}" title="{{ item.data.title }}">
            <div class="container presentation-content">
              {{ item.content | safe or 'No content.' }}
            </div>
          </esl-carousel-slide>
        {% endfor %}
      </div>
    </esl-carousel>
  </main>

  {% include 'presentation/footer.njk' %}
{% endblock %}
