---
layout: content
title: Swipe Event Target (Regression)
name: Swipe Event Target (Regression)
tags: [dev]
---

<section class="row">
  <div class="col-12">
    <p>
      <code>ESLSwipeGestureTarget</code> usage example
    </p>
    {% code 'ts', 'code-block' %}
      @listen({
        event: 'swipe',
        target: ESLSwipeGestureTarget.for
      })
      onSwipe(e: ESLSwipeGestureEvent): void {
        const $logItem = document.createElement('div');
        $logItem.className = 'log-item';
        $logItem.textContent = JSON.stringify(e);
        this.appendChild($logItem);
      }
    {% endcode %}

    <div class="d-flex">
      <esl-d-swipe-area class="m-auto esl-d-log-area" placeholder="Make swipes in that area">
        <button class="btn btn-sec-blue" onclick="alert('Clicked')">Click</button>
      </esl-d-swipe-area>
    </div>

  </div>
</section>
