---
layout: content
title: Animate
name: Animate
tags: [examples, playground]
icon: examples/animate.svg
aside:
  components:
    - esl-animate
---

<section class="row">
  <div class="col-12">
    <uip-root>
      <script type="text/html"
              label="Simple animation"
              uip-snippet
              uip-snippet-js="js-snippet-animate-element">
        <div class="simple-grid simple-grid-compact">
          <esl-animate repeat class="esl-animate-fade esl-animate-slide simple-grid-cell bg-green round text-white h3 text-center">
            ESL Animate
          </esl-animate>
        </div>
      </script>

      <script type="text/html"
              label="Grouped and repetitive animation with custom delay"
              uip-snippet
              uip-snippet-js="js-snippet-animate-element">
        <ul class="round simple-grid">
          <esl-animate class="esl-animate-group" target="::parent::child(li)" group repeat></esl-animate>
          {% for i in range(0, 20) -%}
          <li class="bg-blue round esl-animate-slide esl-animate-fade simple-grid-cell {{ 'hide-xs' if i >= 12 }}"></li>
          {%- endfor %}
        </ul>
      </script>

      <script type="text/html"
              label="Grouped animation by mixin"
              uip-snippet
              uip-snippet-js="js-snippet-animate-mixin">
        <button class="btn btn-sec-orange"
                onclick="[...document.querySelectorAll('[esl-animate].re-1')].forEach((el) => ESL.AnimateMixin.get(el).reanimate())">
          Re-animate
        </button>
        <ul class="round simple-grid">
          {% for i in range(0, 20) -%}
          <li class="re-1 bg-orange round esl-animate-slide esl-animate-fade simple-grid-cell {{ 'hide-xs' if i >= 12 }}"
              esl-animate="{group: true, groupDelay: 50}"></li>
          {%- endfor %}
        </ul>
      </script>

      <script id="js-snippet-animate-element" type="text/plain">
        import { ESLAnimate } from '@exadel/esl';
        ESLAnimate.register();
      </script>
      <script id="js-snippet-animate-mixin" type="text/plain">
        import { ESLAnimate } from '@exadel/esl';
        ESLAnimate.register();
      </script>

      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-settings target=".esl-animate-slide" label="Settings" resizable vertical="@+sm">
        <uip-select-setting label="Animation type:" attribute="class" mode="append">
          <option value="esl-animate-fade">Fade</option>
          <option value="up">Slide Up</option>
          <option value="left">Slide Left</option>
          <option value="down">Slide Down</option>
          <option value="right">Slide Right</option>
        </uip-select-setting>
        <uip-bool-setting label="Repeat" attribute="repeat"></uip-bool-setting>
        <uip-bool-setting label="Group" target=".esl-animate-group" attribute="group"></uip-bool-setting>
        <uip-slider-setting label="Animation delay:" target=".esl-animate-group" attribute="group-delay" min="100" max="1000"></uip-slider-setting>
      </uip-settings>
      <uip-editor label="Source code (HTML)" collapsible copy></uip-editor>
      <uip-editor source="js" label="Source code (JS)" collapsible collapsed copy></uip-editor>
    </uip-root>
  </div>
</section>
