---
layout: content
title: Animate
seoTitle: Animate elements on their intersection with the viewport based on ESL web components
name: Animate
tags: [examples]
collectionIcon: examples/animate.svg
aside:
  components:
    - esl-animate
---

<section class="row">
  <div class="col-12">
    <uip-root>
      <script type="text/html"
              label="Simple animation"
              uip-snippet
              uip-snippet-js="js-snippet-animate-element">
        <div class="simple-grid simple-grid-compact">
          <esl-animate repeat class="simple-grid-cell bg-green round text-white h3 text-center esl-animate-fade">
            ESL Animate
          </esl-animate>
        </div>
      </script>

      <script type="text/html"
              label="Grouped and repetitive animation with custom delay"
              uip-snippet
              uip-snippet-js="js-snippet-animate-element">
        <ul class="round simple-grid">
          <esl-animate target="::parent::child(li)" group repeat></esl-animate>
          {% for i in range(0, 20) -%}
          <li class="simple-grid-cell bg-blue round {{ 'hide-xs' if i >= 12 }} esl-animate-fade"></li>
          {% endfor %}
        </ul>
      </script>

      <script type="text/html"
              label="Grouped animation by mixin"
              uip-snippet
              uip-snippet-js="js-snippet-animate-mixin">
        <button class="btn btn-sec-orange"
                onclick="[...document.querySelectorAll('[esl-animate].re-1')].forEach((el) => ESL.AnimateMixin.get(el).reanimate())">
          Re-animate
        </button>
        <ul class="round simple-grid">
          {% for i in range(0, 20) -%}
            <li class="simple-grid-cell re-1 bg-orange round {{ 'hide-xs' if i >= 12 }} esl-animate-fade"
                esl-animate="{group: true, groupDelay: 50}"></li>
          {% endfor %}
        </ul>
      </script>

      <script id="js-snippet-animate-element" type="text/plain">
        import { ESLAnimate } from '@exadel/esl';
        ESLAnimate.register();
      </script>
      <script id="js-snippet-animate-mixin" type="text/plain">
        import { ESLAnimateMixin } from '@exadel/esl';
        ESLAnimateMixin.register();
      </script>

      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-settings target=".simple-grid-cell" label="Settings" resizable collapsible vertical="@+sm">
        <uip-select-setting label="Animation type:" attribute="class" mode="append">
          <option value="esl-animate-fade">Fade</option>
          <option value="esl-animate-slide up">Slide Up</option>
          <option value="esl-animate-slide left">Slide Left</option>
          <option value="esl-animate-slide down">Slide Down</option>
          <option value="esl-animate-slide right">Slide Right</option>
        </uip-select-setting>
        <uip-bool-setting label="Repeat" target="esl-animate" attribute="repeat"></uip-bool-setting>
        <uip-bool-setting label="Group" target="esl-animate" attribute="group"></uip-bool-setting>
        <uip-slider-setting label="Animation delay:" target="esl-animate" attribute="group-delay" min="100" max="1000"></uip-slider-setting>
      </uip-settings>
      <uip-editor label="Source code (HTML)" collapsible copy></uip-editor>
      <uip-editor source="js" label="Source code (JS)" collapsible collapsed copy></uip-editor>
    </uip-root>
  </div>
</section>
