---
layout: content
title: Carousel Marquee
seoTitle: Carousel UI examples based on ESL web components
name: Carousel Marquee
tags: [examples, draft]
icon: examples/carousel.svg
---

<section class="marquee-carousel">
  <div class="flex-column main-carousel" esl-carousel-container>
    <esl-carousel id="main-carousel"
                  type="default"
                  esl-carousel-touch
                  esl-carousel-relate-to="#nav-carousel">
      <ul esl-carousel-slides>
        {% for item in slides %}
        <li esl-carousel-slide>
          <div class="img-container">
            <esl-image mode="cover" lazy
                          data-alt="{{ 'Carousel slide ' + loop.index }}"
                          data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg'  | url }}"></esl-image>
          </div>
        </li>
        {% endfor %}
      </ul>
    </esl-carousel>

    <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>
  </div>
  <div class="flex-column marquee-nav-carousel" esl-carousel-container>
    <button class="esl-carousel-arrow inner icon-arrow-prev" esl-carousel-nav="-4"></button>

    <esl-carousel id="nav-carousel"
                  esl-carousel-touch
                  type="default"
                  count="5">
      <ul esl-carousel-slides>
        {% for item in slides %}
        <li esl-carousel-slide>
          <div class="img-container img-container-4-3"
               esl-carousel-nav="slide:{{ loop.index - 1 }}"
               esl-carousel-nav-target="#main-carousel">
            <esl-image mode="cover" lazy
                       data-alt="{{ 'Carousel slide ' + loop.index }}"
                       data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg'  | url }}"></esl-image>
          </div>
        </li>
        {% endfor %}
      </ul>
    </esl-carousel>

    <button class="esl-carousel-arrow inner icon-arrow-next" esl-carousel-nav="+4"></button>
  </div>
</section>
