---
layout: content
title: Forms - Select List
seoTitle: Custom select list examples based on ESL web components
name: Select List
tags: [examples, playground]
icon: examples/select-list.svg
aside:
components:
- esl-select-list
---

<section class="row">
  <div class="col-12">
    <style>
      .form {
        display: block;
        width: 100%;
      }
    </style>
    <uip-root>
      <script type="text/html"
              label="Custom"
              uip-snippet
              uip-isolated
              uip-snippet-js="js-snippet-select-list-registration">
        <form class="form bg-white border p-4"  style="min-height: 150px">
          <div class="form-group">
            <label for="color_field" class="form-label">Choose your favorite colors:</label>
            <esl-select-list class="border"  style="display: block">
              <select esl-select-target
                      id="color_field"
                      name="color_field"
                      class="form-control">
                <option class="disabled" value="#FF0000">Red</option>
                <option value="#00FF00">Green</option>
                <option value="#0000FF">Blue</option>
                <option value="#FFFF00">Yellow</option>
                <option value="#FFA500">Orange</option>
                <option value="#800080">Purple</option>
                <option value="#000000">Black</option>
              </select>
            </esl-select-list>
          </div>

          <div class="form-group">
            <button class="btn btn-sec-blue" onclick="">Submit</button>
            <button type="reset" class="btn btn-sec-orange">Reset</button>
          </div>
          <div class="demo-info panel panel-info">
          </div>
        </form>
      </script>
      <script id="js-snippet-select-list-registration" type="text/plain">
  import {ESLSelectList} from '@exadel/esl';
  ESLSelectList.register();

  function updateFormInfo(event) {
    const form = document.querySelector('.form');
    const info = document.querySelector('.demo-info');

    event.preventDefault();
    const data = {};
    const formData = new FormData(form);

    formData.forEach((value, key) => {
      if (data[key]) {
        data[key] = [].concat(data[key], value);
      } else {
        data[key] = value;
      }
    });

    info.textContent = JSON.stringify(data, null, 2);
    info.removeAttribute('hidden');
  }

  document.addEventListener('submit', updateFormInfo);
      </script>

      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-settings target="esl-select-list" label="Settings" resizable vertical="@+sm">
        <uip-bool-setting label="Multiple" attribute="multiple" target="select"></uip-bool-setting>
        <uip-bool-setting label="Disabled" attribute="disabled" target=".disabled"></uip-bool-setting>
      </uip-settings>
      <uip-editor label="Source code (HTML)" collapsible copy></uip-editor>
      <uip-editor source="js" label="Source code (JS)" collapsible collapsed copy></uip-editor>
    </uip-root>
  </div>
</section>
