---
layout: content
title: Image
seoTitle: Lazy-loaded configurable images examples based on ESL web components
name: Image
tags: [examples, playground]
icon: examples/image.svg
aside:
  components:
    - esl-image
---
{% import 'lorem.njk' as lorem %}

{% set imageSrcBase = '/assets/' | url %}

<section class="row">
  <div class="col-12">
    <uip-root>
      <script type="text/html" uip-snippet label="Simple image">
        <div class="col-xs-12 col-sm-6">
          <esl-image class="simple-image"
                     mode="save-ratio" lazy
                     data-alt="Alt Text Test"
                     data-src="nature/forest+clouds.jpg"
                     data-src-base="{{ imageSrcBase }}"></esl-image>
        </div>
      </script>
      <script type="text/html" uip-snippet label="Image cover mode">
        <div class="col-xs-12 col-sm-6">
          <div class="img-container m-auto" style="width: 350px; padding-top: 70%; border: 1px solid #ccc;">
            <esl-image class="cover-mode-image bg-v-center bg-h-center"
                       mode="cover" lazy
                       data-alt="Alt Text"
                       data-src="nature/forest+clouds.jpg"
                       data-src-base="{{ imageSrcBase }}"></esl-image>
          </div>
        </div>
      </script>
      <script type="text/html" uip-snippet label="SVG Inline loading">
        <div class="col-xs-12 col-sm-6">
          <div class="img-container m-auto" style="width: 250px; height: 325px;">
            <esl-image lazy
                       mode="inner-svg"
                       data-alt="Svg Text Test"
                       data-src="{{ '/assets/svg/cat.svg' | url }}"></esl-image>
          </div>
        </div>
      </script>
      <script type="text/html" uip-snippet label="ESL Query Rules">
        <div class="col-xs-12 col-sm-6">
          <div class="img-container img-container-16-9">
            <esl-image lazy
                       mode="cover"
                       onload="console.log('SImage Load Track', event)"
                       onready="console.log('SImage Ready Track', event)"
                       data-alt="Alt Text Test"
                       data-src="@XS => abstract/colors.jpg |
                                      @SM => abstract/drops.jpg |
                                      @MD => abstract/unsplash.jpg |
                                      @LG => abstract/colors.jpg |
                                      @XL => abstract/drops.jpg"
                       data-src-base="{{ imageSrcBase }}"></esl-image>
          </div>
        </div>
      </script>

      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-settings label="Settings" resizable vertical="@+sm">
        <uip-select-setting target=".simple-image" label="Image mode:" attribute="mode" mode="append">
          <option value="save-ratio">save-ratio</option>
          <option value="fit">fit</option>
          <option value="origin">origin</option>
        </uip-select-setting>
        <uip-select-setting target=".cover-mode-image" label="Image vertical alignment:" attribute="class" mode="append">
          <option value="bg-v-top">bg-v-top</option>
          <option value="bg-v-center">bg-v-center</option>
          <option value="bg-v-bottom">bg-v-bottom</option>
        </uip-select-setting>
        <uip-select-setting target=".cover-mode-image" label="Image horizontal alignment:" attribute="class" mode="append">
          <option value="bg-h-left">bg-h-left</option>
          <option value="bg-h-center">bg-h-center</option>
          <option value="bg-h-right">bg-h-right</option>
        </uip-select-setting>
        <uip-bool-setting label="Inscribe" target=".cover-mode-image" mode="append" attribute="class" value="bg-inscribe"></uip-bool-setting>
      </uip-settings>
      <uip-editor label="Source code" collapsible copy></uip-editor>
    </uip-root>
  </div>
</section>
