---
layout: content
title: Notification
seoTitle: Notifications UI example based on ESL web components
name: Notification
tags: [examples, playground]
icon: examples/notification.svg
aside:
components:
- esl-alert
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <h2>Triggers</h2>
    <!-- Show Long Alert -->
    <uip-root>
      <script type="text/html" uip-snippet label="Show Long">
        <button type="button" class="btn btn-sec-blue esl-alert-show" onclick="ESL.EventUtils.dispatch(document.body, 'esl:alert:show', {
          detail: {
            text: 'Global Alert Long',
            cls: 'alert alert-warning',
          }})">
          Show Long
        </button>
      </script>

      <!-- Show Quick and Hide Alert -->
      <script type="text/html" uip-snippet label="Show Quick">
        <button type="button" class="btn btn-sec-blue esl-alert-show" onclick="ESL.EventUtils.dispatch(document.body, 'esl:alert:show', {
          detail: {
            text: 'Global Alert Short',
            cls: 'alert alert-info',
            delay: '1500'
          }
        })">
          Show Long
        </button>
        <button type="button" class="btn btn-sec-blue esl-alert-hide" onclick="ESL.EventUtils.dispatch(document.body, 'esl:alert:hide')">
          Hide
        </button>
      </script>

      <!-- Triggers Encapsulated -->
      <script type="text/html" uip-snippet label="Triggers Encapsulated">
        <div class="border p-3" style="min-height: 210px">
          <button type="button" class="btn btn-sec-orange esl-alert-show" onclick="ESL.EventUtils.dispatch(this, 'esl:alert:show', {bubbles: true,
            detail: {
              cls: 'alert alert-info',
              html: 'Inner <h2>Alert</h2> Long'
            }})">
            Show Long
          </button>
          <esl-alert default-params="{cls: 'alert alert-info'}"></esl-alert>
        </div>
      </script>


      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-editor label="Source code" collapsible copy></uip-editor>
    </uip-root>
  </div>
</section>
