---
layout: content
title: Popup
seoTitle: Popup UI examples based on ESL web components
name: Popup
tags: [examples, beta]
collectionIcon: examples/popup.svg
aside:
  components:
    - esl-popup
    - esl-toggleable
    - esl-trigger
---

<style>
  .trigger-for-inner-popup-v {
    height: 200px;
    width: 350px;
    padding: 80px;
  }
  .trigger-for-inner-popup-h {
    height: 350px;
    width: 200px;
  }
</style>

<section id="popup-controls">
  <div>
    <label for="marginArrow">Arrow margin:</label>
    <input type="text" id="marginArrow" name="marginArrow" min="0" max="100" value="5" size="3">
  </div>
  <div>
    <label for="offsetArrow">Arrow offset:</label>
    <input type="range" id="offsetArrow" name="offsetArrow" min="0" max="100" value="50" step="1">
  </div>
  <script>
    var elMarginArrow = document.querySelector('#marginArrow');
    var handlerMarginArrowChange = function() {
      Array.from(document.querySelectorAll('esl-popup')).forEach(function(el) {
        el.setAttribute('margin-arrow', elMarginArrow.value);
      });
    };
    elMarginArrow.addEventListener('change', handlerMarginArrowChange);
  </script>
  <script>
    var elOffsetArrow = document.querySelector('#offsetArrow');
    var handlerOffsetArrowChange = function() {
      Array.from(document.querySelectorAll('esl-popup')).forEach(function(el) {
        el.setAttribute('offset-arrow', elOffsetArrow.value);
      });
    };
    elOffsetArrow.addEventListener('change', handlerOffsetArrowChange);
  </script>
</section>

<h2>Popups with an arrow</h2>

<section class="row justify-content-between">
  <esl-trigger target="#popup-t-a" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="#popup-t-a" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="#popup-t-a" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
</section>

<section class="row justify-content-between">
  <esl-trigger target="#popup-l-a" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="#popup-l-a" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="#popup-r-a" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
  <esl-trigger target="#popup-r-a" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
</section>

<section class="row justify-content-between">
  <esl-trigger target="#popup-b-a" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-trigger target="#popup-b-a" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-trigger target="#popup-b-a" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
</section>

<hr/>

<h2>Popups without an arrow</h2>

<section class="row justify-content-between">
  <esl-trigger target="#popup-t" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="#popup-t" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="#popup-t" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
</section>

<section class="row justify-content-between">
  <esl-trigger target="#popup-l" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="#popup-l" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="#popup-r" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
  <esl-trigger target="#popup-r" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
</section>

<section class="row justify-content-between">
  <esl-trigger target="#popup-b" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-trigger target="#popup-b" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-trigger target="#popup-b" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
</section>

<hr/>

<h2>Inner popups with an arrow</h2>

<section class="row justify-content-between">
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-v">Top Inner Popup</esl-trigger>
    <esl-popup class="demo-top-popup" position="top" position-origin="inner">
      <div style="height: 50px; width:250px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-h">Left Inner Popup</esl-trigger>
    <esl-popup class="demo-left-popup" position="left" position-origin="inner">
      <div style="height: 250px; width:50px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-h">Right Inner Popup</esl-trigger>
    <esl-popup class="demo-right-popup" position="right" position-origin="inner">
      <div style="height: 250px; width:50px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-v">Bottom Inner Popup</esl-trigger>
    <esl-popup class="demo-bottom-popup" position="bottom" position-origin="inner">
      <div style="height: 50px; width:250px;"></div>
    </esl-popup>
  </div>
</section>

<hr/>

<h2>Inner popups without an arrow</h2>

<section class="row justify-content-between">
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-v">Top Inner Popup</esl-trigger>
    <esl-popup class="demo-top-popup disable-arrow" position="top" position-origin="inner">
      <div style="height: 50px; width:250px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-h">Left Inner Popup</esl-trigger>
    <esl-popup class="demo-left-popup disable-arrow" position="left" position-origin="inner">
      <div style="height: 250px; width:50px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-h">Right Inner Popup</esl-trigger>
    <esl-popup class="demo-right-popup disable-arrow" position="right" position-origin="inner">
      <div style="height: 250px; width:50px;"></div>
    </esl-popup>
  </div>
  <div>
    <esl-trigger target="::next" mode="toggle" class="btn btn-sec-blue trigger-for-inner-popup-v">Bottom Inner Popup</esl-trigger>
    <esl-popup class="demo-bottom-popup disable-arrow" position="bottom" position-origin="inner">
      <div style="height: 50px; width:250px;"></div>
    </esl-popup>
  </div>
</section>

<hr/>

<h2>Examples of popups when they are defined in the neighborhood of a trigger</h2>

<h3>Trigger target uses class</h3>
<section class="row justify-content-between">
  <esl-trigger target="::parent::find(.demo-top-popup)" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="::parent::find(.demo-left-popup)" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="::parent::find(.demo-right-popup)" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
  <esl-trigger target="::parent::find(.demo-bottom-popup)" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-popup class="demo-top-popup" position="top">
    <div style="height: 50px; width:250px;"></div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
  <esl-popup class="demo-bottom-popup" position="bottom">
    <div style="height: 50px; width:250px;"></div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
  <esl-popup class="demo-left-popup" position="left">
    <div style="height: 250px; width:50px;"></div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
  <esl-popup class="demo-right-popup" position="right">
    <div style="height: 250px; width:50px;"></div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
</section>

<hr/>

<h3>Trigger target uses id</h3>
<section class="row justify-content-between">
  <esl-trigger target="#demo-top-popup" mode="toggle" class="btn btn-sec-blue">Top</esl-trigger>
  <esl-trigger target="#demo-left-popup" mode="toggle" class="btn btn-sec-blue">Left</esl-trigger>
  <esl-trigger target="#demo-right-popup" mode="toggle" class="btn btn-sec-blue">Right</esl-trigger>
  <esl-trigger target="#demo-bottom-popup" mode="toggle" class="btn btn-sec-blue">Bottom</esl-trigger>
  <esl-popup id="demo-top-popup" position="top">
    <div style="height: 50px; width:250px;"></div>
  </esl-popup>
  <esl-popup id="demo-bottom-popup" position="bottom">
    <div style="height: 50px; width:250px;"></div>
  </esl-popup>
  <esl-popup id="demo-left-popup" position="left">
    <div style="height: 250px; width:50px;"></div>
  </esl-popup>
  <esl-popup id="demo-right-popup" position="right">
    <div style="height: 250px; width:50px;"></div>
  </esl-popup>
</section>

{% include 'popup.njk' %}
