// TODO: cleanup
@import (reference) "../common/variables.less";
@import "../page/base-layout.less";

.demo-layout {
  display: flex;
  flex-direction: column;
  color: @landing-fg-color
}

.transparent {
  background-color: #4a4d4f00;
}

.demo-form {
  height: calc(1.5em + .75rem + 2px);
  border: 1px solid @secondary-blue;
  width: 100%;
  border-radius: .25rem;
  line-height: normal;
}

.diagonal-gradient {
  background: linear-gradient(to bottom right, #617a7f, #d0dfe4);
}



