@import "variables.less";
@import "top-banner.less";
@import "demo-layout.less";

.showcase-page {
  background-color: @sc-bg-color;

  &-text {
    color: @sc-text-color;
  }
  &-btn {
    border: 1px #5b6b72 solid;
    border-radius: 0;
  }
  &-link {
    color: @sc-text-color;
  }
}
