@import (reference) "variables.less";

.showcase-page .content-tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media @md-xl {
    flex-direction: row;
    align-items: flex-start;

    .esl-d-tabs,
    .content-column {
      width: 50%;
    }
  }

  @media @xs-sm {
    .esl-d-tabs {
      order: -1;
    }
  }
}
