@import "variables.less";
@import "showcase-top-banner.less";
@import "demo-layout.less";
@import "showcase-content-tabs.less";
@import "showcase-grid.less";
@import "showcase-footnotes.less";

.showcase-page {
  background-color: @sc-bg-color;

  &-text {
    color: @sc-text-color;
  }
  &-btn {
    border: 1px #5b6b72 solid;
    border-radius: 0;
  }
  &-link {
    color: @sc-text-color;
  }

  .nav-light-bg {
    background-color: #4a4d4f00;
  }
}
