@import (reference) "variables.less";

.top-banner {
  position: relative;
  height: calc(var(--100vh) * .75);

  .shadow-banner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;

    z-index: 2;
    pointer-events: none;

    background: linear-gradient(to top, fade(@sc-bg-color, 100%), fade(@sc-bg-color, 0%));
  }
}
