<header class="header">
  <nav class="header-container container">
    <a class="uip-title" href="{{ '/' | url }}">
      <img class="uip-logo" alt="logo" src="{{ '/assets/uip-logo.svg' | url }}">
      <span class="uip-title-text">UIPlayground</span>
    </a>
    <div class="header-nav">
      <a class="header-nav-link" href="{{ '/examples/' | url }}">Examples</a>
      <a class="header-nav-link" href="{{ '/components/' | url }}">Components</a>
      <a class="header-nav-link icon-link" href="https://github.com/exadel-inc/ui-playground" target="_blank">
        <img alt="github" src="{{ '/assets/github.svg' | url }}">
      </a>
      <a class="header-nav-link get-started" href="{{ '/general/getting-started/' | url }}">Get Started</a>
      <esl-trigger class="header-nav-menu" target="#sidebar" aria-label="Navigation Menu"></esl-trigger>
    </div>
  </nav>
</header>
