@import '../common/colors.less';

// overwrite default search styles on the search page
main {
  .gsc-control-cse {
    padding: 0;
  }

  table.gsc-input:focus-within {
    box-shadow: 0 0 4px 2px @focus-color;
  }

  button.gsc-search-button {
    font-size: inherit;
    border: 2px solid @primary-blue;

    &:focus-visible {
      outline: 2px dashed @focus-color;
    }
  }

  .gsc-search-box table.gsc-search-box td.gsc-input {
    padding-right: 0;
  }
}
