.esl-demo-header {
  position: relative;
  z-index: 10;
  .navbar-brand {
    display: inline-flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    svg {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }

  @import './header-dropdown.less';
}

.esl-demo-header-overlay {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.2);

  opacity: 0;
  visibility: hidden;
  transition: visibility .2s linear, opacity .2s linear;
}
body.menu-opened .esl-demo-header-overlay {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear, opacity .2s linear;
}
