@import (reference) "../common/variables.less";

.header {
  background-color: @landing-bg-color;
  max-height: 56px;

  &-nav {
    display: flex;
    justify-content: center;
  }

  &-container {
    display: flex;
    height: 56px;
    align-items: center;
  }

  &-link {
    color: white;
  }

  &-logo {
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      height: 48px;
    }
  }

  &-link:hover {
    text-decoration: none;
    color: #0097E7;
  }

  &-short-name {
    text-transform: uppercase;
  }
  &-short-name, &-long-name {
    margin-left: 4px;
  }


  &-links, &-short-name {
    display: none;
  }

  &-hamburger {
    position: absolute;
    right: 20px;
    width: 30px;
  }

  &-li {
    list-style-type: none;
  }

  &-btn {
    display: none;
  }
}


@media @md-xl {
  .header {
    max-height: 84px;

    &-long-name {
      display: none;
    }

    &-short-name {
      display: inline-block;
    }

    &-logo, &-btn {
      flex: 1;
    }

    &-container {
      width: 100%;
      justify-content: space-between;
      height: 84px;
    }

    &-hamburger {
      display: none;
    }

    &-links {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    &-li {
      font-size: 16px;

      &:not(:first-child) {
        margin-left: 20px;
      }

      svg {
        height: 24px;
      }
    }

    &-logo {
      font-size: 1.2rem;

      svg {
        height: 66px;
      }
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media @lg-xl {
  .header {
    &-short-name {
      display: none;
    }

    &-long-name {
      display: inline-block;
    }
  }
}

@media @xl {
  .header {
    &-li:not(:first-child) {
      margin-left: 40px;
    }
  }
}
