@import (reference) "../common/variables.less";

.marquee {
  position: relative;
  display: flex;
  flex-direction: column;
  @media @sm-xl {
    flex-direction: row;
  }
  justify-content: space-between;
  align-items: center;

  min-height: 45vh;

  @media @sm-xl {
    padding-top: 2rem;
  }

  padding-bottom: 3rem;
  margin-bottom: 5rem;

  color: #fff;

  &-content {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;

    @media @sm {
      max-width: 60%;
    }
    @media @md-xl {
      max-width: 40%;
    }
  }
  &-illustration {
    position: relative;
    flex: 1 1 auto;
    max-width: 40%;
    width: 100%;
    justify-self: flex-end;

    order: -1;
    @media @sm-xl {
      order: 1;
    }
  }

  &-heading {
    font-size: 3rem;
    @media @sm-xl {
      font-size: 3.5rem;
    }
  }
  &-body {
    font-size: 1.5rem;
  }

  // TODO: move to common
  &-accent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    user-select: none;
    pointer-events: none;

    border: none;
  }

  // TODO: temporary
  &-brand {
    width: 90%;
    margin: auto;

    .s-l {
      fill: #0063cb;
    }
    .s-r {
      fill: #006fe8;
    }

    .w-l, .w-r {
      fill: #ffffff;
    }

    .border {
      fill: #98c6ff;
    }
  }
}
