@import (reference) "../common/variables.less";

.marquee {
  position: relative;
  display: flex;
  flex-direction: column;
  @media @md-xl {
    flex-direction: row;
  }
  justify-content: space-between;
  align-items: center;

  min-height: 50vh;

  @media @md-xl {
    padding-top: 2rem;
  }

  padding-bottom: 3rem;
  margin-bottom: 7rem;

  &-content {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    max-width: 100%;

    text-align: center;
    @media @sm-xl {
      text-align: left;
    }
    @media @md-xl {
      max-width: 50%;
    }
  }
  &-illustration {
    position: relative;
    flex: 1 1 auto;
    max-width: 50%;
    width: 100%;
    justify-self: flex-end;

    order: -1;
    @media @md-xl {
      order: 1;
    }
  }

  &-heading {
    font-size: 3rem;
    @media @sm-xl {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }
  &-body {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &-brand {
    width: 90%;
    margin: 0 auto;

    @media @md-xl {
      margin: -10% auto;
    }

    > svg {
      min-height: 200px;
    }
  }
}
@import "./marquee-logo.less";
