---
layout: content
title: ESL Drag to Scroll
seoTitle: ESL Drag to Scroll - custom mixin to enable drag-to-scroll functionality for the element
name: ESL Drag to Scroll
tags: [components]
aside:
  min-version: 5.0.0
  source: src/modules/esl-drag-to-scroll
  examples:
    - esl-drag-to-scroll
---

{% mdRender 'src/modules/esl-drag-to-scroll/README.md', 'intro' %}
