---
layout: content
title: ESL Lazy Template
seoTitle: ESL Image - custom image element with lazy loading, renditions, and different modes of embedding
name: ESL Lazy Template
tags: components
aside:
  source: src/modules/esl-lazy-template
  examples:
    - lazy-template
---

{% mdRender 'src/modules/esl-lazy-template/README.md', 'intro' %}
