---
layout: content
title: ESL Lazy Template
seoTitle: ESL Lazy Template is a custom mixin that can make parts of the page markup lazy, which will have a good effect on the performance of pages
name: ESL Lazy Template
tags: [components, beta]
aside:
  source: src/modules/esl-lazy-template
  examples:
    - lazy-template
---

{% mdRender 'src/modules/esl-lazy-template/README.md', 'intro' %}
