---
layout: content
title: ESL Image
seoTitle: ESL Image - custom image element with lazy loading, renditions, and different modes of embedding
name: ESL Image
tags: [components, deprecated]
aside:
  source: src/modules/esl-image
  examples:
    - image
    - image-utils
  components:
    - esl-image-utils
  deprecationSpec: src/modules/esl-image/README.md
---

{% mdRender 'src/modules/esl-image/README.md', 'intro' %}
