---
layout: content
title: ESL Panel
seoTitle: ESL Panel - custom element to collapse / expand content on the page (accordion behavior)
name: ESL Panel
tags: components
aside:
  source: src/modules/esl-panel
  components:
    - esl-panel-group
    - esl-toggleable
    - esl-trigger
  examples:
    - accordion
    - tabs
    - menu
---

{% mdRender 'src/modules/esl-panel/README.md', 'intro' %}
