.uip-preview {
  display: flex;
  align-items: flex-start;
  grid-area: preview;

  &-inner {
    flex: 1 0 auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  &[resizable] &-inner {
    resize: both;
  }

  &-stub {
    flex: 0 0 0;
    width: 0;
    transition: height 0.5s linear;
  }

  &.centered-content {
    .uip-preview-inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
