---
layout: content
title: Accordion
seoTitle: Accordion UI examples based on ESL web components
name: Accordion
tags: examples
icon: examples/accordion.svg
aside:
  components:
    - esl-panel
    - esl-panel-group
    - esl-trigger
    - esl-toggleable
  examples:
    - tabs
    - toggleable
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <uip-root>
      <uip-header></uip-header>
      <script type="text/html" uip-snippet label="Simple single accordion (at least 1 panel required to be open, default configuration)">
        {% code 'html', 'code-block' %}
        <esl-panel-group class="accordion-group mb-4"/>
        {% endcode %}
        <esl-panel-group class="accordion-group mb-4">
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #1
            </esl-trigger>
            <esl-panel open class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #2
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #3
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
        </esl-panel-group>
      </script>
      <script type="text/html" uip-snippet label="Simple single accordion (allows all panels to be closed)">
        <esl-panel-group class="accordion-group mb-4" min-open-items="0">
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #1
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #2
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(2) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #3
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(3) }}
              </div>
            </esl-panel>
          </div>
        </esl-panel-group>
      </script>
      <script type="text/html" uip-snippet label="Hover accordion (triggers accept any available configuration)">
        <esl-panel-group class="accordion-group mb-4" min-open-items="0">
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next"
                         track-click="not all" track-hover hide-delay="250">
              Toggle Accordion #1
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next"
                         track-click="not all" track-hover hide-delay="250">
              Toggle Accordion #2
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next"
                         track-click="not all" track-hover hide-delay="250">
              Toggle Accordion #3
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
        </esl-panel-group>
      </script>
      <script type="text/html" uip-snippet label="Simple multiple accordion (allows all panels to be closed)">
        <esl-panel-group class="accordion-group mb-4" min-open-items="0" max-open-items="all">
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #1
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #2
            </esl-trigger>
            <esl-panel open class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #3
            </esl-trigger>
            <esl-panel open class="esl-d-accordion-panel">
              <div class="esl-d-accordion-body">
                {{ lorem.paragraphs(1) }}
              </div>
            </esl-panel>
          </div>
        </esl-panel-group>
      </script>
      <script type="text/html" uip-snippet label="Nested accordion with auto-closable nested panels (esl-related-target)">
        {% code 'html', 'code-block' %}
        <esl-panel class="esl-d-accordion-panel"
                   esl-related-target="::find(esl-panel)"
                   esl-related-target-action="hide">
          <esl-panel-group class="accordion-group mb-4">
            <esl-panel .../><esl-panel .../><esl-panel .../>
          </esl-panel-group>
        </esl-panel>
        {% endcode %}
        <esl-panel-group class="accordion-group mb-4" min-open-items="0" max-open-items="all">
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #1 (auto-closable)
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel"
                       esl-related-target="::find(esl-panel)"
                       esl-related-target-action="hide">
              <div class="esl-d-accordion-body">
                {{lorem.paragraphs(2)}}
                <esl-panel-group class="accordion-group mb-4" max-open-items="all" min-open-items="0">
                  <div class="esl-d-accordion">
                    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                      Toggle Nested Accordion #1.1
                    </esl-trigger>
                    <esl-panel class="esl-d-accordion-panel">
                      <div class="esl-d-accordion-body">
                        {{lorem.paragraphs(3)}}
                      </div>
                    </esl-panel>
                  </div>
                  <div class="esl-d-accordion">
                    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                      Toggle Nested Accordion #1.2
                    </esl-trigger>
                    <esl-panel class="esl-d-accordion-panel">
                      <div class="esl-d-accordion-body">
                        {{lorem.paragraphs(2)}}
                      </div>
                    </esl-panel>
                  </div>
                  <div class="esl-d-accordion">
                    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                      Toggle Nested Accordion #1.3 (auto-closable)
                    </esl-trigger>
                    <esl-panel class="esl-d-accordion-panel"
                               esl-related-target="::find(esl-panel)"
                               esl-related-target-action="hide">
                      <div class="esl-d-accordion-body">
                        {{lorem.paragraphs(2)}}
                        <esl-panel-group class="accordion-group mb-4" max-open-items="all" min-open-items="0">
                          <div class="esl-d-accordion">
                            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                              Toggle Nested Accordion #1.3.1
                            </esl-trigger>
                            <esl-panel class="esl-d-accordion-panel">
                              <div class="esl-d-accordion-body">
                                {{lorem.paragraphs(2)}}
                              </div>
                            </esl-panel>
                          </div>
                          <div class="esl-d-accordion">
                            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                              Toggle Nested Accordion #1.3.2
                            </esl-trigger>
                            <esl-panel class="esl-d-accordion-panel">
                              <div class="esl-d-accordion-body">
                                {{lorem.paragraphs(2)}}
                              </div>
                            </esl-panel>
                          </div>
                          <div class="esl-d-accordion">
                            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                              Toggle Nested Accordion #1.3.3
                            </esl-trigger>
                            <esl-panel class="esl-d-accordion-panel">
                              <div class="esl-d-accordion-body">
                                {{lorem.paragraphs(2)}}
                              </div>
                            </esl-panel>
                          </div>
                        </esl-panel-group>
                        {{lorem.paragraphs(2)}}
                      </div>
                    </esl-panel>
                  </div>
                </esl-panel-group>
              </div>
            </esl-panel>
          </div>
          <div class="esl-d-accordion">
            <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
              Toggle Accordion #2 (not auto-closable)
            </esl-trigger>
            <esl-panel class="esl-d-accordion-panel (not auto-closable)">
              <div class="esl-d-accordion-body">
                {{lorem.paragraphs(2)}}
                <esl-panel-group class="accordion-group mb-4" max-open-items="all" min-open-items="0">
                  <div class="esl-d-accordion">
                    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
                      Toggle Nested Accordion #2.1
                    </esl-trigger>
                    <esl-panel class="esl-d-accordion-panel">
                      <div class="esl-d-accordion-body">
                        {{lorem.paragraphs(3)}}
                      </div>
                    </esl-panel>
                  </div>
                </esl-panel-group>
              </div>
            </esl-panel>
          </div>
        </esl-panel-group>
      </script>
      <uip-preview></uip-preview>
      <uip-settings target=".accordion-group">
        <uip-select-setting label="Min open items:" attribute="min-open-items">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="all">All</option>
        </uip-select-setting>
        <uip-select-setting label="Max open items:" attribute="max-open-items">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="all">All</option>
        </uip-select-setting>
      </uip-settings>
    </uip-root>
  </div>
</section>
