---
layout: content
title: Accordion
seoTitle: Accordion UI examples based on ESL web components
name: Accordion
tags: examples
icon: examples/accordion.svg
aside:
  components:
    - esl-panel
    - esl-panel-group
    - esl-trigger
    - esl-toggleable
  examples:
    - tabs
    - toggleable
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <h2>Simple single accordion</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(2) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(3) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Hover accordion</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next" track-click="not all" track-hover hide-delay="250">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next" track-click="not all" track-hover hide-delay="250">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next" track-click="not all" track-hover hide-delay="250">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Simple multiple accordion (minimum open panels - 2, maximum - all)</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" min-open-items="2" max-open-items="all"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" min-open-items="2" max-open-items="all">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Simple multiple accordion (min open items - 3, max - 1)</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" min-open-items="3" max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" min-open-items="3" max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #4
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Simple single accordion (min open items - 0, max - 1) transform to open from MD</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" min-open-items="0 | @+MD => all" max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" min-open-items="0 | @+MD => all" max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Simple single accordion (min open items - 1, refresh-strategy - initial) transform to multiple (max open - 2, refresh-strategy - last) from MD</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4"
                       min-open-items="1 | @+MD => 2"
                       max-open-items="1"
                       refresh-strategy="initial | @+MD => last"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4"
                     min-open-items="1 | @+MD => 2"
                     max-open-items="1"
                     refresh-strategy="initial | @+MD => last">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Simple muptiple accordion (min open items - 2) transform to open from MD</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4"
                       min-open-items="2 | @+MD => all"
                       max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4"
                     min-open-items="2 | @+MD => all"
                     max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>
