---
layout: content
title: Accordion
name: Accordion
containerCls: container
tags: examples
icon: samples/accordion.svg
aside:
  components:
    - esl-panel
    - esl-trigger
    - esl-toggleable
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <esl-panel-group class="accordion-group mb-2">
      <h3> Simple accordion </h3>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #1</h5>
        </esl-trigger>
        <esl-panel open class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #2</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(2) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #3</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(2) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>

    <esl-panel-group class="accordion-group mb-2">
      <h3> Hover accordion </h3>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next" track-click="not all" track-hover hide-delay="250">
          <h5 class="mb-0">Toggle Accordion #1</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next" track-click="not all" track-hover hide-delay="250">
          <h5 class="mb-0">Toggle Accordion #2</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next" track-click="not all" track-hover hide-delay="250">
          <h5 class="mb-0">Toggle Accordion #3</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel" default-params="{hideDelay: 100}">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>

    <esl-panel-group class="accordion-group mb-2" accordion-group="multiple">
      <h3> Simple accordion (multiple open items) </h3>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #1</h5>
        </esl-trigger>
        <esl-panel open class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #2</h5>
        </esl-trigger>
        <esl-panel open class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
      <div class="esl-accordion">
        <esl-trigger class="esl-accordion-header" target="::next">
          <h5 class="mb-0">Toggle Accordion #3</h5>
        </esl-trigger>
        <esl-panel class="esl-accordion-panel">
          <div class="esl-accordion-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>
