---
layout: content
title: Animate
name: Animate
tags: [examples, beta]
iconAlt: '[esl-animate]'
aside:
  components:
    - esl-animate
---

<section>
  <h2>Grouped and repetitive animation</h2>
  <ul class="round simple-grid">
    <esl-animate target="::parent::child(li)" group repeat></esl-animate>
    {% for i in range(0, 100) -%}
      <li class="bg-blue round esl-animate-slide simple-grid-cell {{ 'hide-xs' if i >= 12 }}"
          is="my-comp my-com-2"></li>
    {%- endfor %}
  </ul>
</section>

<section>
  <h2>Single animation</h2>
  <div class="simple-grid">
    {% for i in range(0, 100) -%}
      <esl-animate class="esl-animate-fade simple-grid-cell bg-green round">

      </esl-animate>
    {%- endfor %}
  </div>
</section>
