---
layout: basic
title: Animate
name: Animate
containerCls: container
tags: examples
---
<h3>Grouped and repetitive animation</h3>
<ul class="animate-ul">
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
  <li class="animate-ul-group animate-ul-li" esl-animate></li>
</ul>
<h3>Single animation</h3>
<ul class="animate-ul">
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
  <li class="animate-ul-single animate-ul-li" esl-animate></li>
</ul>
