---
layout: content
title: Animate
name: Animate
tags: [examples, beta]
iconAlt: '[esl-animate]'
---

<section>
  <h2>Grouped and repetitive animation</h2>
  <div class="animate-ul">
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
    <esl-animate class="animate-ul-group animate-ul-li esl-animate-slide-up" esl-animate repeat group="100"></esl-animate>
  </div>
</section>

<section>
  <h2>Single animation</h2>
  <div class="animate-ul">
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
    <esl-animate class="animate-ul-single animate-ul-li" esl-animate></esl-animate>
  </div>
</section>
