---
layout: content
title: Carousel Example
name: Carousel Example
tags: [examples, draft]
icon: examples/carousel.svg
---
{% import 'lorem.njk' as lorem %}

<h2>Demo 1: </h2>

<section>
  <div esl-carousel-container>
    <button class="arrow-prev icon-arrow-prev"
            esl-carousel-nav="group:prev"><span class="sr-only">Previous Slide</span></button>

    <esl-carousel count="5" type="multi" loop="true">
      <esl-carousel-touch-plugin></esl-carousel-touch-plugin>
      <div data-slides-area>
        {% for item in cards %}
          <esl-carousel-slide {{ 'active' if loop.first }}>
            <div class="card">
              <div class="card-image img-container img-container-16-9">
                <esl-image lazy
                           mode="cover"
                           data-alt="{{ 'Carousel slide ' + loop.index }}"
                           data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg'  | url }}"></esl-image>
              </div>
              <div class="card-content">
                <h5>{{ item.name }}</h5>
                {{ lorem.string(12) }}
              </div>
            </div>
          </esl-carousel-slide>
        {% endfor %}
      </div>
    </esl-carousel>

    <button class="arrow-next icon-arrow-next"
            esl-carousel-nav="group:next"><span class="sr-only">Next Slide</span></button>
  </div>
  <div class="text-center">
    <esl-carousel-dots class="carousel-dots-wrapper" target="esl-carousel"></esl-carousel-dots>
  </div>
</section>
