---
layout: content
title: Embedded Audio
seoTitle: Embedded audio examples based on ESL web components
name: Embedded Audio
tags: examples
icon: examples/embedded-audio.svg
aside:
  components:
    - esl-media
  examples:
    - embedded-video
---
{% import 'lorem.njk' as lorem %}

<div class="row">
  <section class="col-sm-6" data-demo="4">
    <div class="mb-1">
      <h2>Basic Audio Example</h2>
      <p>ESL Media supports simple HTML audio in mp3, wav or aac formats:</p>
      <esl-media controls
                 media-type="audio"
                 media-src="{{ '/assets/media/audio.mp3' | url }}"
                 tabindex="0">
      </esl-media>
    </div>
    <div class="btn-group-centered">
      <esl-d-media-controls target="[data-demo='4'] esl-media"></esl-d-media-controls>
    </div>
  </section>
</div>
