---
layout: content
title: Embedded Audio
name: Embedded Audio
containerCls: container
tags: examples
icon: samples/embedded-audio.svg
aside:
  components:
    - esl-media
---
{% import 'lorem.njk' as lorem %}

<div class="row justify-content-around">
  <section class="col-md-6" data-demo="4">
    <div class="demo">
      <h3 class="text-center">Basic Audio Example</h3>
      <p>ESL Media also supports simple HTML audio.</p>
      <hr/>
      <esl-media group="demo-media"
                 controls
                 media-type="audio"
                 media-src="https://html5book.ru/examples/media/track.mp3"
                 tabindex="0">
      </esl-media>
    </div>
    <div class="row btn-group-centered">
      <test-media-controls target="[data-demo='4'] esl-media"></test-media-controls>
    </div>
  </section>
</div>
