---
layout: content
title: Marquee
seoTitle: Carousel UI examples based on ESL web components
name: Marquee
tags: [examples, draft]
icon: examples/carousel.svg
---

<section class="container-fluid marquee-carousel">

  <div class="row flex-column main-carousel" esl-carousel-container>
    <button class="arrow-prev icon-arrow-prev" data-slide-target="prev"></button>

    <esl-carousel type="slide">
      <esl-carousel-touch-plugin></esl-carousel-touch-plugin>
      <esl-carousel-link-plugin to="#secondary-carousel"></esl-carousel-link-plugin>
      <div data-slides-area>
        {% for item in slides %}
        <esl-carousel-slide>
        <div class="img-container">
          <esl-image mode="cover" lazy
                        data-alt="{{ 'Carousel slide ' + loop.index }}"
                        data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg'  | url }}"></esl-image>
        </div>
        </esl-carousel-slide>
        {% endfor %}
      </div>
    </esl-carousel>

    <button class="arrow-next icon-arrow-next" data-slide-target="next"></button>
    <esl-carousel-dots class="carousel-dots-wrapper" target="esl-carousel"></esl-carousel-dots>
  </div>


  <div class="row flex-column marquee-nav-carousel" esl-carousel-container>
    <button class="arrow-prev icon-arrow-prev" data-slide-target="prev"></button>

    <esl-carousel id="secondary-carousel" type="@+LG" count="5">
      <esl-carousel-touch-plugin></esl-carousel-touch-plugin>
      <div data-slides-area>
        {% for item in slides %}
        <esl-carousel-slide>
          <div class="img-container">
            <esl-image mode="cover" lazy
                       data-alt="{{ 'Carousel slide ' + loop.index }}"
                       data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg'  | url }}"></esl-image>
          </div>
        </esl-carousel-slide>
        {% endfor %}
      </div>
    </esl-carousel>

    <button class="arrow-next icon-arrow-next" data-slide-target="next"></button>
  </div>

</section>
