---
layout: content
title: Menu
seoTitle: Simple menu ui example based on ESL web components
name: Menu
tags: examples
icon: examples/menu.svg
aside:
components:
- esl-trigger
- esl-panel
- esl-toggleable
---
{% import 'lorem.njk' as lorem %}

<section class="row">
   <div class="col-12">
      <h2>Simple Hover Menu:</h2>

      <ul class="esl-example-menu">
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow"
               track-hover
               hover-hide-delay="400">
               Hover Menu 1
            </esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <ul class="esl-example-sub-menu">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
               </ul>
            </esl-panel>
         </li>
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow"
               track-hover
               hover-hide-delay="400">
               Hover Menu 2
            </esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <div class="esl-example-menu-400">{{ lorem.paragraphs(1) }}</div>
            </esl-panel>
         </li>
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow"
               track-hover
               hover-hide-delay="400">
               Hover Menu 3
            </esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <ul class="esl-example-sub-menu">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
               </ul>
            </esl-panel>
         </li>
      </ul>
   </div>
</section>

<section class="row">
   <div class="col-12">
      <h2>Simple Menu:</h2>

      <ul class="esl-example-menu">
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow">Menu 1</esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <ul class="esl-example-sub-menu">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
               </ul>
            </esl-panel>
         </li>
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow">Menu 2</esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <div class="esl-example-menu-400">{{ lorem.paragraphs(1) }}</div>
            </esl-panel>
         </li>
         <li class="menu-item">
            <esl-trigger class="menu-item-btn menu-item-arrow">Menu 3</esl-trigger>
            <esl-panel class="menu-container"
               group="test-nav-group"
               fallback-duration="400"
               close-on-esc close-on-outside-action>
               <ul class="esl-example-sub-menu">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
               </ul>
            </esl-panel>
         </li>
      </ul>
   </div>
</section>
