---
layout: content
title: Notification
seoTitle: Notifications UI example based on ESL web components
name: Notification
tags: examples
icon: examples/notification.svg
aside:
  components:
    - esl-alert
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <h2>Triggers</h2>
    <div class="btn-container">
      <button type="button" class="btn btn-sec-blue esl-alert-show"
              data-text="Global Alert Long" data-cls="alert alert-warning">Show Long
      </button>
      <button type="button" class="btn btn-sec-blue esl-alert-show"
              data-text="Global Alert Short" data-delay="1500" data-cls="alert alert-info">Show Quick
      </button>
      <button type="button" class="btn btn-sec-blue esl-alert-hide">Hide</button>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Triggers Encapsulated</h2>
    <div class="border p-3" style="min-height: 210px">
      <div class="btn-container">
        <button type="button" class="btn btn-sec-orange esl-alert-show"
                data-cls="alert alert-success"
                data-html="Inner <h2>Alert</h2> Long">Show Long
        </button>
        <button type="button" class="btn btn-sec-orange esl-alert-show"
                data-cls="alert alert-danger"
                data-text="Inner Alert Short" data-delay="1500">Show Quick
        </button>
        <button type="button" class="btn btn-sec-orange esl-alert-hide">Hide</button>
      </div>

      <esl-alert default-params="{cls: 'bg-warn'}"></esl-alert>
    </div>
  </div>
</section>

<script type="text/javascript">
  document.body.addEventListener('click', function (e) {
    /** @type HTMLElement */
    var el = e.target;
    var params = {};

    if (el && el.matches('.esl-alert-show')) {
      if (el.dataset.cls) {
        params.cls = el.dataset.cls;
      }
      if (el.dataset.text) {
        params.text = el.dataset.text;
      }
      if (el.dataset.html) {
        params.html = el.dataset.html;
      }
      if (el.dataset.delay) {
        params.hideDelay = +el.dataset.delay;
      }
      el.dispatchEvent(new CustomEvent(`esl:alert:show`, {bubbles: true, detail: params}));
    }
    if (el && el.matches('.esl-alert-hide')) {
      el.dispatchEvent(new CustomEvent(`esl:alert:hide`, {bubbles: true}));
    }
  });
</script>
