---
layout: popup
title: Popup scroll parents example
seoTitle: Popup UI examples based on ESL web components
name: Popup scroll parents
tags: [examples, draft]
icon: examples/popup.svg
aside:
  components:
    - esl-popup
    - esl-toggleable
    - esl-trigger
---

<h2>An example of how popups behave when they are inside containers whose contents can be scrolled.</h2>
<p>&nbsp;</p><p>Please</p><p>scroll</p><p>me</p><p>down</p><p>even</p><p>further</p><p>&nbsp;</p>

<section class="row">
  <div id="a" style="margin: 500px 0; height: 800px; overflow-y: auto; width: 100%; background-color: azure;">
    <p>&nbsp;</p><p>Please</p><p>scroll</p><p>me</p><p>down</p><p>even</p><p>further</p><p>&nbsp;</p>
    <esl-trigger target="#popup1" mode="toggle" class="btn btn-sec-blue">Trigger B</esl-trigger>
    <div id="b" style="margin: 599px 0; height: 650px; overflow-y: auto; width: 100%; background-color: beige;">
      <p>&nbsp;</p><p>Please</p><p>scroll</p><p>me</p><p>down</p><p>even</p><p>further</p><p>&nbsp;</p>
      <esl-trigger target="#popup1" mode="toggle" class="btn btn-sec-blue">Trigger B</esl-trigger>
      <div id="c" style="margin: 599px 0; height: 500px; overflow-y: auto; width: 100%; background-color: bisque;">
        <p>&nbsp;</p><p>Please</p><p>scroll</p><p>me</p><p>down</p><p>even</p><p>further</p><p>&nbsp;</p>
        <esl-trigger target="#popup1" mode="toggle" class="btn btn-sec-blue">Trigger C</esl-trigger>
        <div id="d" style="margin: 599px 0; height: 350px; overflow-y: auto; width: 100%; background-color: tan;">
          <p>Please</p><p>scroll</p><p>me</p><p>down</p><p>even</p><p>further</p><p>&nbsp;</p>
          <esl-trigger target="#popup1" mode="toggle" class="btn btn-sec-blue">Trigger D (top)</esl-trigger>
          <esl-trigger target="#popup2" mode="toggle" class="btn btn-sec-blue">Trigger D (bottom)</esl-trigger>
          <esl-trigger target="#popup3" mode="toggle" class="btn btn-sec-blue">Trigger D (left)</esl-trigger>
          <esl-trigger target="#popup4" mode="toggle" class="btn btn-sec-blue">Trigger D (right)</esl-trigger>
          <esl-popup id="popup9" position="top">Exadel Smart Library Popup content<span class="esl-popup-arrow"></span></esl-popup>
        </div>
      </div>
    </div>
  </div>
</section>
