---
layout: content
title: Related Target
seoTitle: RelatedTarget example based on ESLMixin
name: Related Target
tags: examples
icon: examples/toggleable.svg
aside:
  components:
    - esl-related-target
    - esl-toggleable
    - esl-trigger
    - esl-image
---

{% import 'lorem.njk' as lorem %}

<section>
  <h2 style="margin-bottom: 30px;">ESLToggleable has Related Target</h2>
  <div class="row">
    <div class="col-12" style="margin-bottom: 15px;">
      <esl-trigger target="#toggleable10" mode="show" active-class-target="::parent(.col-12)" class="btn btn-sec-blue">Show</esl-trigger>
      <esl-trigger target="#toggleable10" mode="hide" class="btn btn-sec-blue">Hide</esl-trigger>
    </div>

    <div class="col-6">
      <p style="font-style: italic">Here is shown main Toggleable</p>
      <esl-toggleable class="border" style="padding: 15px;" id="toggleable10" esl-related-target="#toggleable11">
        <div>
        {{ lorem.paragraphs(1) }}
        </div>
      </esl-toggleable>
    </div>

    <div class="col-6">
      <p style="font-style: italic">Here is shown Related Target Toggleable</p>
      <esl-toggleable class="border" style="padding: 15px;" id="toggleable11">
        <div class="img-container img-container-4-3">
          <esl-image mode="cover" lazy
                     data-alt="Alt Text"
                     data-src="nature/forest+clouds.jpg"
                     data-src-base="/assets/"></esl-image>
        </div>
      </esl-toggleable>
    </div>
  </div>
</section>
