---
layout: content
title: Scrollbar
name: Scrollbar
tags: examples
icon: examples/scrollbar.svg
aside:
  components:
    - esl-scrollbar
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <esl-trigger target=".test-popup.tp-1">
      <button class="btn btn-primary mb-1">Toggle Modal (Vertical, Page Scroll Lock)</button>
    </esl-trigger>
    <esl-trigger target=".test-popup.tp-2">
      <button class="btn btn-primary mb-1">Toggle Modal (Vertical)</button>
    </esl-trigger>
    <esl-trigger target=".test-popup.tp-3">
      <button class="btn btn-primary mb-1">Toggle Modal (Horizontal)</button>
    </esl-trigger>
  </div>
</section>

<section class="row">
  <div class="col-12 m-auto">
    <div class="content esl-scrollable-content border">
      <div style="height: 400px">
        <h2>Scroll appears only if content too long for the area</h2>
        {{ lorem.paragraphs(2) }}
      </div>
    </div>
    <esl-scrollbar class="animate" target="::prev"></esl-scrollbar>
  </div>
</section>

<section class="row">
  <div class="col-12 m-auto pt-2" style="position: relative;">
    <div class="content esl-scrollable-content border">
      <div style="height: 500px">
        <h2>Simple vertical scroll example</h2>
        {{ lorem.paragraphs(7) }}
      </div>
      <esl-scrollbar target="::parent"></esl-scrollbar>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-12 m-auto" style="position: relative;">
    <div class="content esl-scrollable-content border">
      <div style="width: 1900px;">
        <h2>Simple horizontal scroll example</h2>
        {{ lorem.paragraphs(3) }}
      </div>
      <esl-scrollbar target="::parent" horizontal></esl-scrollbar>
    </div>
  </div>
</section>

<style>
  .content.esl-scrollable-content {
    background: #fff;
    padding: 15px;
  }

  @media (min-width: 600px) and (max-width: 999999px) {
    .content.esl-scrollable-content {
      padding: 30px 60px;
    }
  }

  .test-popup {
    position: absolute;
    height: 500px;
    width: 400px;
    z-index: 100;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, .4);
    overflow: hidden;
    resize: both;
  }

  .test-popup .esl-scrollable-content {
    max-height: 100%;
    padding: 20px;
  }

  .test-popup esl-scrollbar {
    right: 4px;
  }
</style>

<esl-popup class="test-popup tp-1"
           close-on-outside-action
           disable-scroll="native"
           style="background: #e6c3c3;">
  <div class="esl-scrollable-content">
    <div>
      {{ lorem.paragraphs(4) }}
    </div>
  </div>
  <esl-scrollbar class="test-scrollbar-1" target="::prev"></esl-scrollbar>
</esl-popup>
<esl-popup class="test-popup tp-2"
           close-on-outside-action
           style="background: #9fe6d2;">
  <div class="esl-scrollable-content">
    <div>
      {{ lorem.paragraphs(4) }}
    </div>
  </div>
  <esl-scrollbar class="test-scrollbar-1" target="::prev"></esl-scrollbar>
</esl-popup>
<esl-popup class="test-popup tp-3"
           close-on-outside-action
           style="background: #e6c3c3;">
  <div class="esl-scrollable-content">
    <div style="width: 1900px; padding: 30px 10px;">
      {{ lorem.paragraphs(3) }}
    </div>
  </div>
  <esl-scrollbar class="test-scrollbar-2" target="::prev" horizontal></esl-scrollbar>
</esl-popup>
