---
layout: content
title: Share
name: Share
tags: [examples, beta]
icon: examples/share.svg
aside:
  components:
    - esl-share
---
{% import 'lorem.njk' as lorem %}

<section>
  <h2>Share example</h2>

  <div class="simple-grid simple-grid-fw">
    <esl-share></esl-share>
  </div>
</section>
