---
layout: content
title: Tabs
seoTitle: Tabs UI examples based on ESL web components
name: Tabs
tags: examples
icon: examples/tabs.svg
aside:
  components:
    - esl-tabs
    - esl-panel
    - esl-panel-group
    - esl-trigger
    - esl-toggleable
  examples:
    - accordion
    - toggleable
---
{% import 'lorem.njk' as lorem %}

<section>
  <h2>Simple Tabs</h2>
  <p>Minimum configuration example</p>

  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum
          </esl-tab>
        </li>
      </ul>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="tabs"
                     mode-cls-target="::parent">
      {% set testText = lorem.paragraphs(2) %}
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ testText }}
        </div>
      </esl-panel>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ testText }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>

<section>
  <h2>Tabs (with accordion transformation)</h2>
  <p>Example with a simple tab mode, transforms to accordion on XS and SM</p>

  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum
          </esl-tab>
        </li>
      </ul>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="accordion | @+MD => tabs"
                     refresh-strategy="last | @LG => initial"
                     mode-cls-target="::parent">
      <esl-a11y-group targets="::child(esl-trigger)"></esl-a11y-group>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #1
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #2
      </esl-trigger>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5"
                   target="::next">
        Toggle Tab #3
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>

<section>
  <h2>Tabs (with accordion transformation, restore initial state)</h2>
  <p>Example with a simple tab mode, transforms to accordion on XS and SM</p>

  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum
          </esl-tab>
        </li>
      </ul>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="accordion | @+MD => tabs"
                     refresh-strategy="initial"
                     mode-cls-target="::parent">
      <esl-a11y-group targets="::child(esl-trigger)"></esl-a11y-group>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #1
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #2
      </esl-trigger>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5"
                   target="::next">
        Toggle Tab #3
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>

<section>
  <h2>Tabs (with open state)</h2>
  <p>Example with a simple tab mode, transforms to default cards on XS and SM</p>

  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum
          </esl-tab>
        </li>
      </ul>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="open | @+MD => tabs"
                     mode-cls-target="::parent">
      <esl-a11y-group targets="::child(esl-trigger)"></esl-a11y-group>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #1
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5" target="::next">
        Toggle Tab #2
      </esl-trigger>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>

      <esl-trigger class="esl-d-accordion-header esl-d-accordion-header-arrow h5"
                   target="::next">
        Toggle Tab #3
      </esl-trigger>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>

<section>
  <h2>Tabs (scrollable, with accordion transformation)</h2>
  <p>Scrollable tabs component example. Transforms to accordion on XS and SM</p>
  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control" scrollable>
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <div class="arrow-prev" data-tab-direction="left">
        <span class="icon-arrow-prev"></span>
      </div>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum dolor sit amet
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-4)">
            Tab #4 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-5)">
            Tab #5 Lorem ipsum dolor sit amet, consectetur adipiscing eli
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-6)">
            Tab #6 Lorem ipsum dolor sit amet
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-7)">
            Tab #7 Lorem ipsum
          </esl-tab>
        </li>
      </ul>

      <div class="arrow-next" data-tab-direction="right">
        <span class="icon-arrow-next"></span>
      </div>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="tabs"
                     mode-cls-target="::parent">
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-4" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-5" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(4) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-6" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-7" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>

<section>
  <h2>Tabs (scrollable, center aligned, with accordion transformation)</h2>
  <p>Scrollable tabs component example. Transforms to accordion on XS and SM</p>
  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control" scrollable="center">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

      <div class="arrow-prev" data-tab-direction="left">
        <span class="icon-arrow-prev"></span>
      </div>

      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum dolor sit amet
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-4)">
            Tab #4 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-5)">
            Tab #5 Lorem ipsum dolor sit amet, consectetur adipiscing eli
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-6)">
            Tab #6 Lorem ipsum dolor sit amet
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   target="::parent(.esl-d-tabs)::find(.tab-7)">
            Tab #7 Lorem ipsum
          </esl-tab>
        </li>
      </ul>

      <div class="arrow-next" data-tab-direction="right">
        <span class="icon-arrow-next"></span>
      </div>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="tabs"
                     mode-cls-target="::parent">
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>
      <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-4" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(1) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-5" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(4) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-6" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(2) }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-7" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>
