---
layout: content
title: Truncate
seoTitle: Toggleable panels examples based on ESL web components
name: Truncate
tags: examples
icon: examples/toggleable.svg
aside:
  components:
    - esl-toggleaTruncateble
  examples:
---
{% import 'lorem.njk' as lorem %}
<div class="container-truncate">
  <div class="wrapper">
    <esl-truncate class="ex2 ex " line-count="6">
      Consider this property as the box text handler. In simple words, when you put the text in any element, the text adjustment
        in that specific space depends upon the width of it. If the width of the box is 40px, and you added text into it. The text will wrap it up,
        according to the available white space.By default, the white-space of the box is set to normal. So, every single text which will hit the limit
        of 400px will wrap and shift to the next line automatically.
    </esl-truncate>
  </div>
  <div class="wrapper">
    <esl-truncate class="ex1 ex " line-count="9">
      Consider this property as the box text handler. In simple words, when you put the text in any element, the text adjustment
        in that specific space depends upon the width of it. If the width of the box is 40px, and you added text into it. The text will wrap it up,
        according to the available white space.By default, the white-space of the box is set to normal. So, every single text which will hit the limit
        of 400px will wrap and shift to the next line automatically.
    </esl-truncate>
  </div>

  <div class="wrapper">
    <esl-truncate class="ex1 ex " sign="!!!">
      Consider this property as the box text handler. In simple words, when you put the text in any element, the text adjustment
        in that specific space depends upon the width of it. If the width of the box is 40px, and you added text into it. The text will wrap it up,
        according to the available white space.By default, the white-space of the box is set to normal. So, every single text which will hit the limit
        of 400px will wrap and shift to the next line automatically.
    </esl-truncate>
  </div>
</div>

<div class="container-truncate">
  <div class="wrapper"  >
    <esl-truncate class="ex2 ex " style="max-height: 400px">
      <h1>ffffffffffffff</h1>
        in that specific space depends upon the width of it. If theerty as the box text
        handler. In simple words, when you put the text in any element, the text adjustment
          <a href="#">Lorem Ipsum has been the industry's standard dummy</a><p><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">Lorem Ipsum has been the industry's standard dummy</a>
        in that specific space depends upon the width of it. If theerty as the box text handler.In simple words, when you put the text in any element, the text adjustment
        in that specific space depends upon the width of it. If theerty as the box text
        handler. In simple words, when you put the text in any element, the text adjustment
      <a href="#">Lorem Ipsum has been the industry's standard dummy
        handler. In simple words, when you put the text in any element, the text adjustment</a>

        in that specific space depends upon the width of it. If theerty as the box text
        handler. In simple words, when you put the text in any element, the text adjustment
      <p><a href="#">Lorem Ipsum has been the industry's standard dummy</a> text ever since the <i>1500s</i>,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a href="#">Lorem Ipsum has been the industry's standard dummy</a>
        <a href="#">Lorem Ipsum has been the industry's standard dummy</a>
    </esl-truncate>
  </div>
</div>

