---
layout: empty
scrollbar: true
containerCls: showcase-page
name: Demo
tags: [draft]
---
{% import 'lorem.njk' as lorem %}
{% set imageSrcBase = '/assets/' | url %}

<div class="container d-flex justify-content-between">
  <ul class="transparent esl-example-menu mb-0">
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 1
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <ul class="esl-example-sub-menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </esl-panel>
    </li>
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 2
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <div class="esl-example-menu-400">{{ lorem.string(25) }}</div>
      </esl-panel>
    </li>
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 3
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <ul class="esl-example-sub-menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </esl-panel>
    </li>
  </ul>
  <ul class="transparent esl-example-menu mb-0">
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#1">To Accordion</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#2">To Tabs</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#3">To Animate</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#4">To Footnotes</a>
    </li>
  </ul>
</div>
<div class="top-banner banner">
  <esl-image class="bg-content"
             mode="cover" lazy
             data-alt="Alt Text"
             data-src="nature/forest+clouds.jpg"
             data-src-base="{{ imageSrcBase }}"></esl-image>
  <div class="banner-content m-4">
    <h1 class="showcase-page-text">Lorem ipsum dolor sit amet</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      <esl-note>et dolore magna</esl-note>
      aliqua. Donec massa sapien faucibus et molestie ac. Mi sit amet mauris commodo quis imperdiet massa. Viverra
      nibh cras pulvinar mattis nunc sed blandit. In nisl nisi scelerisque eu. Vel turpis nunc eget lorem dolor sed.
      Nisl pretium fusce id velit.
      <esl-note>Quam</esl-note>
      id leo in vitae turpis massa sed. Mauris sit amet
    </p>
  </div>
  <div class="shadow-banner"></div>
</div>
<div class="container">
  <h2 class="m-4 showcase-page-text text-center">Donec massa sapien faucibus et molestie ac</h2>
  <div class="collection-grid unstyled-list m-4">
    {% for i in range(0, 8) -%}
      <esl-animate class="esl-animate-slide-left">
        <div class="m-auto" style="width: 256px;height: 221px; border: 1px solid gray;">
          <div class="collection-grid-item"><h5 class="m-1 showcase-page-text text-center">Donec massa sapien</h5>
          </div>
          <div class="d-flex">
            <div class="img-container m-auto" style="width: 300px; height: 170px;">
              <esl-image mode="cover" lazy
                         class="bg-inscribe"
                         data-alt="Alt Text"
                         data-src="nature/volcano-md.jpg | @2x => nature/volcano.jpg"
                         data-src-base="{{ imageSrcBase }}"></esl-image>
            </div>
          </div>
        </div>
      </esl-animate>
    {%- endfor %}
  </div>
  <section class="container" id="1">
    <h2 class="m-4 showcase-page-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
    <div class="col-12">
      <esl-panel-group class="accordion-group mb-4" min-open-items="0">
        <div class="esl-d-accordion">
          <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
            Toggle Accordion #1
          </esl-trigger>
          <esl-panel class="esl-d-accordion-panel">
            <div class="esl-d-accordion-body">
              {{ lorem.paragraphs(1) }}
            </div>
          </esl-panel>
        </div>
        <div class="esl-d-accordion">
          <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
            Toggle Accordion #2
          </esl-trigger>
          <esl-panel class="esl-d-accordion-panel">
            <div class="esl-d-accordion-body">
              {{ lorem.paragraphs(2) }}
            </div>
          </esl-panel>
        </div>
        <div class="esl-d-accordion">
          <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
            Toggle Accordion #3
          </esl-trigger>
          <esl-panel class="esl-d-accordion-panel">
            <div class="esl-d-accordion-body">
              {{ lorem.paragraphs(3) }}
            </div>
          </esl-panel>
        </div>
      </esl-panel-group>
    </div>
  </section>


</div>
<h2 class="m-4 showcase-page-text text-center">Nisl pretium fusce id velit</h2>
<div class="container collection-grid">
  <esl-toggleable class="border" style="padding: 15px;" id="toggleable10">
    <esl-media group="demo-media"
               media-type="video"
               media-src="{{ '/assets/media/video_1.mp4' | url }}"
               load-condition="(min-width: 320px)"
               load-cls-target="::parent(section)"
               load-cls-accepted="show-video"
               load-cls-declined="hide-video"
               controls
               tabindex="0">
    </esl-media>
  </esl-toggleable>

  <esl-toggleable class="border" style="padding: 15px;" id="toggleable11">
    <esl-media controls
               media-type="audio"
               media-src="{{ '/assets/media/audio.mp3' | url }}"
               tabindex="0">
    </esl-media>
  </esl-toggleable>
  <esl-toggleable class="border" style="padding: 15px;" id="toggleable12">
    <esl-select class="form-group"
                pin-selected
                placeholder="Lorem"
                select-all-label="All Lorem"
                style="width: 100%;">
      <label for="color_field" class="form-label">Lorem ipsum dolor sit amet </label>
      <select esl-select-target
              multiple
              id="color_field"
              name="color_field"
              class="form-control">
        <option value="#f00">{{ lorem.string(2) }}</option>
        <option value="#0f0">{{ lorem.string(1) }}</option>
        <option value="#00f">{{ lorem.string(4) }}</option>
        <option value="#ff0">{{ lorem.string(3) }}</option>
        <option value="#0ff">{{ lorem.string(2) }}</option>
        <option value="#f0f">{{ lorem.string(4) }}</option>
      </select>
    </esl-select>
    <input type="text" class="demo-form mb-2 form-group" placeholder="Input..."/>
    <esl-select class="form-group"
                pin-selected
                placeholder="Lorem"
                select-all-label="All Lorem"
                style="width: 100%;">
      <label for="color_field" class="form-label">Lorem ipsum dolor sit amet </label>
      <select esl-select-target
              multiple
              id="color_field"
              name="color_field"
              class="form-control">
        <option value="#f00">{{ lorem.string(2) }}</option>
        <option value="#0f0">{{ lorem.string(1) }}</option>
        <option value="#00f">{{ lorem.string(4) }}</option>
        <option value="#ff0">{{ lorem.string(3) }}</option>
        <option value="#0ff">{{ lorem.string(2) }}</option>
        <option value="#f0f">{{ lorem.string(4) }}</option>
      </select>
    </esl-select>
    <input type="text" class="demo-form mb-2" placeholder="Input..."/>
  </esl-toggleable>
  <div>
    <div id="2" class="esl-d-tabs">
      <esl-tabs class="esl-d-tab-control center-alignment" scrollable="center">
        <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>

        <div class="arrow-prev" data-tab-direction="left">
          <span class="icon-arrow-prev"></span>
        </div>

        <ul class="esl-d-tab-list esl-tab-container" role="tablist">
          <li class="esl-d-tab-item">
            <esl-tab class="h5"
                     target="::parent(.esl-d-tabs)::find(.tab-1)">
              Tab #1 Lorem ipsum dolor sit
            </esl-tab>
          </li>
          <li class="esl-d-tab-item">
            <esl-tab class="h5 showcase-page-text"
                     target="::parent(.esl-d-tabs)::find(.tab-2)">
              Tab #2 Lorem ipsum
            </esl-tab>
          </li>
          <li class="esl-d-tab-item">
            <esl-tab class="h5"
                     target="::parent(.esl-d-tabs)::find(.tab-3)">
              Tab #3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </esl-tab>
          </li>
        </ul>
        <div class="arrow-next" data-tab-direction="right">
          <span class="icon-arrow-next"></span>
        </div>
      </esl-tabs>

      <esl-panel-group class="esl-d-tab-group"
                       mode="tabs"
                       mode-cls-target="::parent">
        <esl-panel class="esl-d-tab-panel tab-1" tabindex="0" esl-related-target="#toggleable11"
                   esl-related-target-action="show">
          <div class="esl-d-tab-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
        <esl-panel open class="esl-d-tab-panel tab-2" tabindex="0" esl-related-target="#toggleable10">
          <div class="esl-d-tab-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
        <esl-panel class="esl-d-tab-panel tab-3" tabindex="0" esl-related-target="#toggleable12">
          <div class="esl-d-tab-body">
            {{ lorem.paragraphs(1) }}
          </div>
        </esl-panel>
      </esl-panel-group>
    </div>
  </div>
</div>
<section class="container" id="3">
  <h2 class="m-4 showcase-page-text text-center">Lorem ipsum dolor sit amet</h2>
  <ul class="round simple-grid">
    <esl-animate target="::parent::child(li)" group repeat></esl-animate>
    {% for i in range(0, 15) -%}
      <li class="diagonal-gradient round esl-animate-slide-up simple-grid-cell {{ 'hide-xs' if i >= 12 }}"
          is="my-comp my-com-2"></li>
    {%- endfor %}
  </ul>
</section>


<esl-footnotes class="mx-4" id="4" grouping="disable" back-to-note-label="Return to note"></esl-footnotes>
<footer class="footer-compact container-fluid">
  {% include 'navigation/footer-compact.njk' %}
</footer>

