---
layout: content
title: Nav Tabs
name: Nav Tabs
seoTitle: Nav Tabs UI example
tags: draft
icon: examples/tabs.svg
aside:
  components:
    - esl-tabs
    - esl-panel
    - esl-panel-group
    - esl-trigger
    - esl-toggleable
  examples:
    - tabs
    - accordion
    - toggleable
---
{% import 'lorem.njk' as lorem %}

<section>
  <h2>Menu Tabs</h2>
  <div class="esl-d-tabs">
    <esl-tabs class="esl-d-tab-control center-alignment">
      <esl-a11y-group targets="::find(esl-tab)" activate-selected></esl-a11y-group>
      <ul class="esl-d-tab-list esl-tab-container" role="tablist">
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   mode="toggle"
                   track-hover="all"
                   hover-show-delay="200" hover-hide-delay="200"
                   target="::parent(.esl-d-tabs)::find(.tab-1)">
            Tab #1 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   mode="toggle"
                   track-hover="all"
                   hover-show-delay="200" hover-hide-delay="200"
                   target="::parent(.esl-d-tabs)::find(.tab-2)">
            Tab #2 Lorem ipsum
          </esl-tab>
        </li>
        <li class="esl-d-tab-item">
          <esl-tab class="h5"
                   mode="toggle"
                   track-hover="all"
                   hover-show-delay="200" hover-hide-delay="200"
                   target="::parent(.esl-d-tabs)::find(.tab-3)">
            Tab #3 Lorem ipsum
          </esl-tab>
        </li>
      </ul>
    </esl-tabs>

    <esl-panel-group class="esl-d-tab-group"
                     mode="tabs"
                     min-open-items="0"
                     mode-cls-target="::parent">
      {% set testText = lorem.paragraphs(2) %}
      <esl-panel class="esl-d-tab-panel tab-1" tabindex="0">
        <div class="esl-d-tab-body">
          {{ testText }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-2" tabindex="0">
        <div class="esl-d-tab-body">
          {{ testText }}
        </div>
      </esl-panel>
      <esl-panel class="esl-d-tab-panel tab-3" tabindex="0">
        <div class="esl-d-tab-body">
          {{ lorem.paragraphs(3) }}
        </div>
      </esl-panel>
    </esl-panel-group>
  </div>
</section>
