---
layout: empty
scrollbar: true
containerCls: showcase-page
name: Adobe Summit 2023 Showcase
tags: [draft]
---
{% import 'lorem.njk' as lorem %}
{% set imageSrcBase = '/assets/' | url %}

<nav class="container d-flex justify-content-between">
  <ul class="nav-light-bg esl-example-menu mb-0">
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 1
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <ul class="esl-example-sub-menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </esl-panel>
    </li>
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 2
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <div class="esl-example-menu-400">{{ lorem.string(25) }}</div>
      </esl-panel>
    </li>
    <li class="menu-item">
      <esl-trigger class="menu-item-btn menu-item-arrow showcase-page-text"
                   track-hover
                   hover-hide-delay="400">
        Hover Menu 3
      </esl-trigger>
      <esl-panel class="menu-container"
                 group="test-nav-group"
                 fallback-duration="400"
                 close-on-esc close-on-outside-action>
        <ul class="esl-example-sub-menu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </esl-panel>
    </li>
  </ul>
  <ul class="nav-light-bg esl-example-menu mb-0">
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#accordion">To Accordion</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#tabs">To Tabs</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#animate-grid">To Gallery</a>
    </li>
    <li class="menu-item mx-4">
      <a esl-d-anchor class="showcase-page-link" href="#footnotes">To Footnotes</a>
    </li>
    <li class="menu-item mx-4">
      <esl-trigger target="#demo-share-popup" mode="toggle" track-click track-hover style="display: inline-block; width: 30px; height: 30px;">
        {% include 'static/assets/common/share-light.svg' %}
      </esl-trigger>
      <esl-popup id="demo-share-popup" position="bottom" default-params="{hideDelay: 500}" close-on-esc close-on-outside-action>
        <esl-share-list list="group:site" style="margin: 10px;"></esl-share-list>
        <span class="esl-popup-arrow"></span>
      </esl-popup>
    </li>
  </ul>
</nav>

{% include 'showcase/top-banner.njk'%}

{#<div class="container">#}
{#  <h2 class="m-4 showcase-page-text text-center">Donec massa sapien faucibus et molestie ac</h2>#}
{#  {% include 'showcase/animated-card-grid.njk'%}#}
{#</div>#}

<section id="accordion" class="container mb-4">
  <h2 class="m-4 showcase-page-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
  {% include 'showcase/accordion.njk'%}
</section>

<div id="tabs" class="container">
  <h2 class="m-4 showcase-page-text text-center">Nisl pretium fusce id velit</h2>
  {% include 'showcase/content-tabs.njk'%}
</div>

<section id="animate-grid" class="container">
  <h2 class="m-4 showcase-page-text text-center">Animated Gallery</h2>
  {% include 'showcase/animated-img-grid.njk'%}
</section>

<div class="footnotes-container container">
  <esl-footnotes id="footnotes"
                 scope-target="::parent(.showcase-page)"
                 grouping="disable"
                 back-to-note-label="Return to note"></esl-footnotes>
  <hr class="top-line"/>
</div>

<footer class="footer-compact container-fluid">
  {% include 'navigation/footer-compact.njk' %}
</footer>

