---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container">

    <h1 class="text-center"><code>&lt;smart-image&gt;</code> component</h1>
    <hr/>

    <section class="row">
        <div class="col-12">
            <h4>Mode: save-ratio</h4>
            <div class="demo">
                <div style="width: 200px; border: 1px solid gray;">
                    <smart-image mode="save-ratio"
                                 data-alt="Alt Text Test"
                                 data-src="img-1-carousel-9-6.jpg | @2x => img-1-carousel-9-6.jpg"
                                 data-src-base="/images/"></smart-image>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <h4>Mode: cover</h4>
            <form novalidate class="row" id="sim-valign-test">
                <div class="demo col-6">
                    <div style="width: 400px; height: 200px; border: 1px solid gray;">
                        <smart-image mode="cover"
                                     data-alt="Alt Text"
                                     data-src="img-1-carousel-9-6.jpg | @2x => img-1-carousel-9-6.jpg"
                                     data-src-base="/images/"></smart-image>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Optional classes:</h5>
                    <div><b>Container:</b><span class="value">size: 400 x 300px; gray border</span></div>
                    <br/>
                    <ul>
                        <li><input name="v-pos-test" type="radio" class="v-pos-toggle" value="bg-v-top"/> .bg-v-top</li>
                        <li><input name="v-pos-test" type="radio" class="v-pos-toggle" value="bg-v-center" checked/> .bg-v-center <b>(default)</b></li>
                        <li><input name="v-pos-test" type="radio" class="v-pos-toggle" value="bg-v-bottom"/> .bg-v-bottom</li>
                    </ul>
                </div>
                <script>
                    (function () {
                        var area = document.querySelector('#sim-valign-test');
                        var cbx = area.querySelectorAll('.v-pos-toggle');
                        var sim = area.querySelector('smart-image');
                        Array.prototype.forEach.call(cbx, function (cb) {
                            cb.addEventListener('click', function () {
                                var cl = sim.classList;
                                cl.remove('bg-v-top');cl.remove('bg-v-center');cl.remove('bg-v-bottom');
                                cl.add(cb.value);
                            });
                        });
                    })();
                </script>
            </form>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <h4>Mode: cover</h4>
            <form novalidate class="row" id="sim-halign-test">
                <div class="demo col-6">
                    <div style="width: 200px; height: 300px; border: 1px solid gray;">
                        <smart-image mode="cover"
                                     data-alt="Alt Text"
                                     data-src="img-1-carousel-9-6.jpg | @2x => img-1-carousel-9-6.jpg"
                                     data-src-base="/images/"></smart-image>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Optional classes:</h4>
                    <div><b>Container:</b><span class="value">size: 150 x 200px; gray border</span></div>
                    <br/>
                    <ul>
                        <li><input name="h-pos-test" type="radio" class="h-pos-toggle" value="bg-h-left"/> .bg-h-left</li>
                        <li><input name="h-pos-test" type="radio" class="h-pos-toggle" value="bg-h-center" checked/> .bg-h-center <b>(default)</b></li>
                        <li><input name="h-pos-test" type="radio" class="h-pos-toggle" value="bg-h-right"/> .bg-h-right</li>
                    </ul>
                </div>
                <script>
                    (function () {
                        var area = document.querySelector('#sim-halign-test');
                        var cbx = area.querySelectorAll('.h-pos-toggle');
                        var sim = area.querySelector('smart-image');
                        Array.prototype.forEach.call(cbx, function (cb) {
                            cb.addEventListener('click', function () {
                                var cl = sim.classList;
                                cl.remove('bg-h-left');cl.remove('bg-h-center');cl.remove('bg-h-right');
                                cl.add(cb.value);
                            });
                        });
                    })();
                </script>
            </form>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-12">
            <h4>Mode: origin</h4>

            <div class="demo">
                <style>
                    smart-image > .inner-image {
                        max-width: 100%;
                    }
                </style>
                <smart-image mode="origin"
                             data-alt="Alt Text"
                             data-src="img-1-carousel-9-6.jpg | @2x => img-1-carousel-9-6.jpg"
                             data-src-base="/images/"></smart-image>
            </div>
        </div>
    </section>
</div>
#}}