---
title: What the ESL is?
tags: overview-quick
---

<h2>What the ESL is?</h2>

<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is a simple and lightweight JavaScript library for building user interfaces.
</p>
