@import (reference) '../../common/variables.less';

.overview {
  &-item {
    display: flex;
    padding: 0 1rem;
  }

  &-illustration {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 50px;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    flex: 1 1 auto;
  }

  &-heading {
    margin-bottom: 1rem;
  }
  &-title {
    margin-bottom: 30px;
  }
  &-description {
    margin: 0;
  }

  &-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-gap: 15px 30px;
  }

  &-point {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &-icon {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;

    svg {
      height: 60px;
    }
  }
}
