@import (reference) '../../common/variables.less';

.overview {
  position: relative;
  break-inside: avoid-page;

  &-carousel {
    width: 100%;
    position: relative;
    padding: 20px 40px;

    &-scene[esl-carousel-slides] {
      width: 100%;
    }

    &-item {
      flex: 0 0 auto;
      width: 100%;
      // min-width: unset !important;
      margin: 0;
      transition: transform 0.7s ease-in-out;
    }
  }

  &-btn-prev-wrapper,
  &-btn-next-wrapper {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border: none;

    &::before {
      content: '';

      position: absolute;
      left: 15%;
      top: 50%;

      transform-origin: center;

      width: 100%;
      height: 100%;

      border-radius: 2px;
      border-right: 4px solid @nav-dark-accent;
      border-bottom: 4px solid @nav-dark-accent;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &-btn-prev-wrapper {
    left: 2px;

    &::before {
      transform: rotate(-225deg);
    }
  }

  &-btn-next-wrapper {
    right: 14px;

    &::before {
      transform: rotate(-45deg);
    }
  }
}

@import './overview-item.less';
