@import (reference) '../../common/variables.less';

esl-d-sidebar {
  .sidebar-nav-secondary {
    width: 100%;
  }

  .sidebar-nav-secondary-list {
    padding: 2px 0;
  }

  .sidebar-nav-secondary-item {
    display: block;
    position: relative;
    padding-block: 10px;
    padding-inline-end: 35px;
    padding-inline-start: var(--padding-inline-start);
    --padding-inline-start: 70px;

    @media @sm {
      --padding-inline-start: 81px;
    }
    @media @md-xl {
      --padding-inline-start: 66px;
    }

    &.active {
      color: @nav-dark-selected;
      background: linear-gradient(
        to right,
        fade(@nav-dark-selected, 25%),
        fade(@nav-dark-selected, 0%)
      );
    }

    &.sidebar-nav-item-container {
      padding: 0;
    }

    .sidebar-nav-item-heading {
      display: block;
      padding-block: 10px;
      padding-inline-end: 35px;
      padding-inline-start: var(--padding-inline-start);

      .sidebar-nav-secondary-link {
        display: inline-block;
      }

      .sidebar-nav-item-trigger {
        display: inline-block;
        position: relative;
        margin: 0;

        // Extra click area
        &::before {
          content: '';
          position: absolute;
          inset: -5px;
        }
      }
    }

    .sidebar-nav-secondary-item {
      padding-inline-start: calc(var(--padding-inline-start) + 25px);
    }
  }

  .sidebar-nav-secondary-link {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;

    color: inherit;

    &:hover {
      color: @nav-dark-hover;
    }
  }
}
