.img-container {
  &.img-container-1-1 {
    aspect-ratio: 1;
  }

  &.img-container-4-3 {
    aspect-ratio: ~'4 / 3';
  }

  &.img-container-16-9 {
    aspect-ratio: ~'16 / 9';
  }

  &.img-container-26-9 {
    aspect-ratio: ~'26 / 9';
  }
}
