.card {
  &-list {
    display: flex;
    justify-content: center;
  }

  &-item {
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 0 10px;
    text-align: center;
    overflow-wrap: break-word;

    &.red {
      background-color: red;
      color: white;
    }

    &.green {
      background-color: green;
      color: white;
    }

    &.aqua {
      background-color: aqua;
    }
  }

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

[wrap-items] {
  flex-wrap: wrap;
}
