# Common configuration
jest.config.js

# Common directories
build
node_modules

# Generated sources
/modules
/polyfills
packages/*/lib

# TODO: Temporary before esl-carousel release and repository restructuring
/src/modules/draft
