# Exclude tests
*.test.ts
**/test/*.ts

# Common configuration
gulpfile.js
jest.config.js

# Common directories
build
node_modules

# Test server
test-server/*.js
test-server/static

# Generated surces
/modules
/polyfills
