# Exclude tests
*.test.ts

# Common configuration
gulpfile.js
jest.config.js

# Common directories
build
node_modules
test-server/static

# Generated surces
modules/**/*.js
modules/**/*.d.ts
modules/*.css
modules/*/*.css
modules/beta/*/*.css
polyfills/**/*.js
polyfills/**/*.d.ts
