# IDE
.idea
*.iml
*.ipr
*.iws
.DS_Store

# Libs
node_modules

# Build output
target
test-server/static

# Generated surces
modules/**/*.js
modules/**/*.d.ts
modules/*.css
modules/*/*.css
modules/beta/*/*.css

# Logs & Tmp
npm-debug.log
.gitconfig

# Jest & Sonar
.report
.scannerwork
