# IDE
.idea
*.iml
*.ipr
*.iws
.DS_Store

# Libs
node_modules

# Build output
target
modules-es5
modules-es6
test-server/static

# Logs & Tmp
npm-debug.log
.gitconfig

# Jest & Sonar
.report
.scannerwork
