# IDE
.idea
*.iml
*.ipr
*.iws
.DS_Store

# Libs
node_modules

# Build output
*.tgz
target

site/dist
e2e/.diff

# Generated surces
/modules
/polyfills

# NPM
.npmrc

# Logs & Tmp
npm-debug.log
.gitconfig

# Jest & Sonar
/.report
/.scannerwork
