# IDE
.idea
*.iml
*.ipr
*.iws
.DS_Store

# Libs
node_modules
package-lock.json

# Build Config
build
paths.json
gulpfile.js

# Target
target

# Test
jest.config.js
**/test/*.test.ts

# Test Server
test-server

# Linter
.eslintrc.json
.eslintignore
.stylelintrc.json

# VCS
.gitignore

# reports
.report
.scannerwork
sonar-project.properties

# Docs Assets
docs
