# IDE
.idea
*.iml
*.ipr
*.iws
.DS_Store

# Libs
node_modules
package-lock.json

# Build Config
build
paths.json
gulpfile.js
.releaserc.json

# Target
*.tar
*.tgz

# Tests
jest.config.js
*.test.ts
**/test/*.ts

# Demo Server
test-server

# Linter
.editorconfig
.eslintrc.json
.eslintignore
.stylelintrc.json
.commitlintrc.json

# VCS
.gitignore

# reports
.report
.scannerwork
sonar-project.properties

# Docs Assets
docs

# GitHub
.github
