@import '~@exadel/esl/modules/esl-forms/esl-select/core';
@import '~@exadel/esl/modules/esl-forms/esl-select-list/core';

.uip-select-setting .esl-select {
  display: block;
  min-width: 0;

  .esl-select-renderer {
    padding: 0 2px;
    border: 1px solid #ced4da;
  }
}
