---
title: ESL Media Query
tags: overview
parent: 05-0-Utils
---
<h4>{{ title }}</h4>

<p>
  <code>ESLMediaQuery</code> is an extended browser <code>MediaQueryList</code> object and related utils such as rule-value pairs
  called <code>ESLMediaRuleList</code>.
</p>
