---
title: Example with form
---

<uip-root>
  <uip-snippets class="uip-toolbar"></uip-snippets>

  <script type="text/html" uip-snippet-js="snippet-js" uip-snippet uip-isolated label="Example with form">
    <form class="demo-form">
      <div class="form-section">
        <label for="name">Name: </label>
        <input type="text" id="name" name="userName">
      </div>
      <div class="form-section">
        <label for="email">Email: </label>
        <input type="email"
               pattern="^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"
               id="email" name="userEmail">
      </div>
      <div class="form-section">
        <label for="pass">Password: </label>
        <input type="password" id="pass" name="userPass">
      </div>
      <input type="submit" value="Send">
    </form>
  </script>
  <script type="text/plain" id="snippet-js">
    document.querySelector('form').onsubmit = (e) => {
      e.preventDefault();
      const json = JSON.stringify(Object.fromEntries(new FormData(e.target)));
      alert(`Form submitted with ${json}!`);
    };
  </script>

  <uip-preview class="centered-content" resizable></uip-preview>

  <uip-settings resizable vertical="@+sm" target=".demo-form">
    <uip-bool-setting label="Email validation" target="#email" mode="append" attribute="class" value="validation-input"></uip-bool-setting>
  </uip-settings>

  <uip-editor copy collapsible label="Markdown"></uip-editor>
  <uip-editor source="js" copy collapsible label="JavaScript"></uip-editor>
</uip-root>
