---
title: Example with image
---
<uip-root editor-collapsed>
  <div class="uip-toolbar">
    <uip-snippets dropdown-view="all"></uip-snippets>
    <uip-theme-toggle></uip-theme-toggle>
  </div>
  <script type="text/html" uip-snippet-note="snippet-note1" uip-snippet uip-isolated label="Example with image">
    <img class="demo-img" alt="patrick" src="{{ '/assets/patrick.png' | url }}" height="500" width="500">
  </script>
  <script type="text/html" uip-snippet-note="snippet-note2" uip-snippet label="Example with image link">
    <a class="img-link" href="https://www.google.com/">
      <img class="demo-img" alt="patrick2" src="{{ '/assets/patrick.png' | url }}" height="500" width="500">
    </a>
  </script>
  <script id="snippet-note1" type="text/html">
    Snippet note 1
  </script>
  <script id="snippet-note2" type="text/html">
    Snippet note 2
  </script>
  <uip-note></uip-note>
  <uip-preview></uip-preview>
  <uip-settings target=".demo-img" vertical collapsible>
    <uip-text-setting label="Source:" attribute="src"></uip-text-setting>
    <uip-text-setting label="Alternative alt text:" attribute="alt"></uip-text-setting>
    <uip-slider-setting label="Height:" attribute="Height" min="300" max="1000"></uip-slider-setting>
    <uip-slider-setting label="Width:" attribute="Width" min="300" max="1000"></uip-slider-setting>
    <uip-text-setting label="Link:" attribute="href" target=".img-link"></uip-text-setting>
    <uip-bool-setting label="Open in new window" attribute="target" target=".img-link"
                      value="_blank"></uip-bool-setting>
  </uip-settings>
  <uip-editor collapsible></uip-editor>
</uip-root>
