[esl-animate] {
  opacity: 0;
}

.esl-animate-slide-up {
  transform: translate(0px, 20%);
}

[esl-animate="done"] {
  transition: opacity 1s;
  opacity: 1;
}

[esl-animate="done"].esl-animate-slide-up {
  transition: transform 1s, opacity 1s;
  transform: translate(0px, 0%);
}
