esl-sortable {
  [esl-sortable-item] {
    cursor: move;
  }
}

esl-draggable {
  top: 0;
  left: 0;
  position: fixed;

  list-style: none;
  pointer-events: none;
}

.esl-sortable {
  &-placeholder {
    opacity: 0;
  }
}
