esl-sortable {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.esl-sortable {
  &-drag {
    top: 0;
    left: 0;
    position: fixed;
  }

  &:not([horizontal]) {
    * {
      width: 100%;
    }
  }

  &-placeholder {
    opacity: 0;
  }

  &-child-demo {
    user-select: none;
    margin: 1px;
    width: 15%;
    height: 50px;
  }
}
