---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container">
    <h1 class="text-center"><code>&lt;smart-popup&gt;</code> and <code>&lt;smart-popup-trigger&gt;</code> components</h1>
    <hr/>

    <section class="row">
        <div class="col-12">
            <h4>Click event</h4>
            <div style="height: 70px;">
                <smart-popup id="popup1"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-body-click
                             close-on-esc
                             active>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <p>Triggers</p>
            <p>
                <smart-popup-trigger target-id="popup1" mode="toggle" event="click">
                    <button type="button" class="btn btn-primary">Toggle</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup1" mode="show" event="click">
                    <button type="button" class="btn btn-success">Show</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup1" mode="hide" event="click">
                    <button type="button" class="btn btn-dark">Hide</button>
                </smart-popup-trigger>
            </p>
        </div>
    </section>
    <hr/>

    <section class="row">
        <div class="col-12">
            <h4>Hover event</h4>
            <div style="height: 70px;">
                <smart-popup id="popup2"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc
                             active>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <p>Triggers</p>
            <p>
                <smart-popup-trigger target-id="popup2" mode="toggle" event="hover">
                    <button type="button" class="btn btn-primary">Toggle</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup2" mode="show" event="hover">
                    <button type="button" class="btn btn-success">Show</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup2" mode="hide" event="hover">
                    <button type="button" class="btn btn-dark">Hide</button>
                </smart-popup-trigger>
            </p>
        </div>
    </section>
    <hr/>

    <section class="row">
        <div class="col-12">
            <h4>Group of popups (click event)</h4>
            <div style="height: 70px;">
                <smart-popup id="popup3"
                             group="group1"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc
                             active>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <div style="height: 70px;">
                <smart-popup id="popup4"
                             group="group1"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <div style="height: 70px;">
                <smart-popup id="popup5"
                             group="group1"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <p>Triggers</p>
            <p>
                <smart-popup-trigger target-id="popup3" mode="toggle" event="click">
                    <button type="button" class="btn btn-info">Toggle 1</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup4" mode="toggle" event="click">
                    <button type="button" class="btn btn-info">Toggle 2</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup5" mode="toggle" event="click">
                    <button type="button" class="btn btn-info">Toggle 3</button>
                </smart-popup-trigger>
            </p>
        </div>
    </section>
    <hr/>

    <section class="row">
        <div class="col-12">
            <h4>Group of popups (hover event)</h4>
            <div style="height: 70px;">
                <smart-popup id="popup6"
                             group="group2"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc
                             active>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <div style="height: 70px;">
                <smart-popup id="popup7"
                             group="group2"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <div style="height: 70px;">
                <smart-popup id="popup8"
                             group="group2"
                             body-class="popup-opened"
                             close-button=".close-button"
                             close-on-esc>
                    <div class="alert alert-warning" role="alert">
                        <strong>This is a popup.</strong> You can control it using the triggers below.
                        <button type="button" class="close close-button" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </smart-popup>
            </div>
            <p>Triggers</p>
            <p>
                <smart-popup-trigger target-id="popup6" mode="toggle" event="hover">
                    <button type="button" class="btn btn-info">Toggle 1</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup7" mode="toggle" event="hover">
                    <button type="button" class="btn btn-info">Toggle 2</button>
                </smart-popup-trigger>
                <smart-popup-trigger target-id="popup8" mode="toggle" event="hover">
                    <button type="button" class="btn btn-info">Toggle 3</button>
                </smart-popup-trigger>
            </p>
        </div>
    </section>

</div>

#}}

