uip-snippets {
  display: block;

  .uip-snippets-inner {
    display: block;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }

  .snippets-list {
    list-style-type: none;
    margin-top: 0;
    margin-right: 10px;
    padding-inline-start: 0;
  }

  .snippets-list-item {
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  li.active {
    font-weight: 600;
  }
}
