@import (reference) "../common/variables.less";

.banner {
  position: relative;
  padding: .5rem 2rem;
  border: 2px solid @primary-green;
  border-radius: 1rem;
  color: @primary-green-dark;

  text-align: center;
  font-weight: 400;

  p:last-child {
    margin-bottom: 0;
  }

  .close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    color: inherit;
  }
}

esl-d-banner {
  display: none;
}
.esl-d-banner {
  display: block;
  visibility: hidden;
  max-height: 0;
  transition: visibility .25s, max-height .5s ease-in-out;

  &.open {
    visibility: visible;
    max-height: 300px;
    transition: visibility 0s, max-height .5s ease-in-out;
  }

  & .banner {
    overflow: hidden;
    max-height: 100%;
  }
}
