// Variables defaults, can be overwritten on consumer side
@esl-select-check: #fff;
@esl-select-primary: #0a0;
@esl-select-secondary: #ccc;
@esl-select-background: #fff;
@esl-select-empty-color: #aaa;

// ESL Select parts
@import "./core/esl-select";
@import "./core/esl-select-text";
@import "./core/esl-select-dropdown";
@import "./core/esl-select-list";
@import "./core/esl-select-item";
