esl-select-item {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 15px 15px 15px 45px;
  line-height: 20px;
  vertical-align: middle;

  &::before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid @esl-select-list-primary;
    border-radius: 4px;
    background-color: @esl-select-list-background;
  }
  &::after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 19px;
    width: 12px;
    height: 6px;

    border: 2px solid @esl-select-list-check;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);

    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  &[selected] {
    &::before {
      background-color: @esl-select-list-primary;
    }
    &::after {
      opacity: 1;
    }
  }

  &.last-in-group:not(:last-of-type) {
    border-bottom: 1px solid @esl-select-list-secondary;
  }
}

esl-select-item[disabled],
[disabled] esl-select-item {
  pointer-events: none;
  color: @esl-select-list-disabled;

  &::before {
    border-color: @esl-select-list-disabled;
  }

  &[selected]::before {
    background-color: @esl-select-list-disabled;
  }
}
