@import (reference) "../common/variables.less";

.benefit {
  color: #fff;
  position: relative;

  &-title {
    max-width: 850px;
    width: 100%;
    margin-bottom: 100px;
  }

  &-item {
    min-width: 200px;
    max-width: 400px;
    margin: 30px 20px;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -30px;
    padding-bottom: 100px;
  }

  &-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
  }

  &-content-name {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
    border: none;
  }
}


@media @sm-md {

  .benefit{
    &-item {
     max-width: 300px;
     margin: 40px 20px;
    }

  }
}

@media @lg {
  .benefit-item {
    max-width: 350px;
  }
  .benefit-container{
    justify-content: space-between;
  }
}

@media @xl {
  .benefit-item {
    max-width: 400px;
  }
  .benefit-container {
    padding-bottom: 150px;
    justify-content: space-between;
  }
}
