---
title: Stack & Compatibility
hash: stack
tags: overview-quick
---

<h3>ESL is tiny and efficient</h3>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is designed to work quickly and efficiently in browsers, minimizing unnecessary code and ensuring it doesn’t impact website performance.
</p>
<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL package does not depend on any third-party libraries, it uses built-in browser functionality like Web API and ECMAScript 6.
</p>
<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL codebase is written in TypeScript and compiled to ES6 JavaScript.
</p>
<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL package is fully tree-shakable, so in the result bundle you will have only the components you use.
</p>
<p class="esl-animate-slide up text-note" esl-animate="{repeat: true}">
  At that moment some of the syntax sugar provided with TS decorators, in the future, it will be complimented with native ES decorators.
</p>
