---
title: Lightweight Size
tags: overview-quick
parent: 00-stack&compatibility
---


<h3>Lightweight Size</h3>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is designed to work quickly and efficiently in browsers, minimizing unnecessary code and ensuring it doesn’t impact website performance.
</p>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  Also ESL package is fully tree-shakable, so in the result bundle you will have only the components you use.
</p>
