---
title: Cross-Browser Support
tags: overview-quick
parent: 00-stack&compatibility
---

<h3>Cross-Browser Support</h3>

<div class="esl-animate-slide up" esl-animate="{repeat: true}">
  <p>ESL uses built-in browser functionality like Web API and ECMAScript 6.</p>
  <p>Fully supported by modern browsers (Chrome, Firefox, Safari, Edge). For older browsers, light or full polyfills can be used.</p>

  <img loading="lazy"
       src="{{ '/assets/common/browser-support.svg' | url }}"
       alt="browsers logos"
       style="float: right; max-width: 500px"/>
</div>
