---
title: ESL Compatibility
tags: overview-quick
parent: 00-stack&compatibility
---

<h3>ESL Compatibility</h3>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is framework-agnostic library, it can be used with any modern framework or vanilla JS.
</p>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  Built-in ESL components have proper type definitions for TSX (JSX) syntax and accepts arguments both as attributes and properties.
</p>
