.collection-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;

  &-item {
    display: block;

    flex: 1 1 250px;
    min-width: 250px;
    max-width: 300px;
    margin: 0 15px 20px;

    border: 1px solid #C8D6F0;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-title {
    border-bottom: 1px solid #C8D6F0;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: black;

    &:hover {
      color: #007bff;
    }
  }

  &-svg {
    min-height: 200px;
    padding: 20px;
  }
}
