.collection-grid {
  width: 350px;
  border: 1px solid #C8D6F0;
  margin-right: 24px;
  margin-bottom: 24px;

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-title {
    border-bottom: 1px solid #C8D6F0;
    height: 68px;
    font-size: 18px;
    font-weight: 600;
    color: black;

    &:hover {
      color: #007bff;
    }
  }

  &-svg {
    height: 260px;
    padding: 20px;
  }
}
