[esl-line-clamp] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--esl-line-clamp, none);
  line-clamp: var(--esl-line-clamp, none);
  overflow: hidden;
  text-overflow: ellipsis;
}
