* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 650px;
  min-height: 100vh;
  font-family: 'Open Sans', serif;
  color: rgba(22, 0, 27, 0.9);
  flex-direction: column;
}

main {
  position: relative;
  flex: 1 0 auto;
  background: #f9f9f9;
}

section {
  margin-bottom: 20px;
}

.btn-group-centered {
  justify-content: center;
}

@import (inline) "./../../node_modules/bootstrap/dist/css/bootstrap.css";