body {
  display: flex;
  /* stylelint-disable */
  height: 100vh;
  height: var(--100vh, 100vh);
  /* stylelint-enable */
  flex-direction: column;
}
main {
  position: relative;
  flex: 1 0 auto;
}
.page-scrollbar {
  z-index: 100;
}
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
