.container-page {
  height: 100vh;
  display: flex;

  .main-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-page {
      flex: 1;
    }

    .footer {
      flex: 0;
    }
  }

  .sidebar-scrollbar {
    left: 0;
  }
}
