@import (reference) "../common/variables.less";
@import "./base-layout.less";

.landing-layout {
  display: flex;
  flex-wrap: wrap;

  /* stylelint-disable */
  height: 100vh;
  height: var(--100vh, 100vh);
  /* stylelint-enable */

  color: @landing-fg-color;
  background-color: @landing-bg-color;

  .header-shadow {
    position: fixed;
    top: 0;
    width: 100vw;
    height: @header-height-mobile;
    pointer-events: none;
    box-shadow: none;
    transition: box-shadow .3s ease-in-out;

    @media @md-xl {
      height: @header-height-desktop;
    }
  }

  .esl-scrollbar:not([at-start]) + .header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

  header {
    flex-basis: 100%;
  }

  main {
    flex: 1 0 100%;
    /* stylelint-disable */
    height: calc(~'100vh - @{header-height-mobile}');
    height: calc(~'var(--100vh, 100vh) - @{header-height-mobile}');
    /* stylelint-enable */
    @media @md-xl {
      /* stylelint-disable */
      height: calc(~'100vh - @{header-height-desktop}');
      height: calc(~'var(--100vh, 100vh) - @{header-height-desktop}');
      /* stylelint-enable */
    }
  }

  .main-scroll {
    z-index: 5;
    position: fixed;
    height: inherit;

    top: @header-height-mobile;
    @media @md-xl {
      top: @header-height-desktop;
    }

    .scrollbar-thumb {
      background: #4a4a55;
    }
    .scrollbar-track {
      background: #2e2f35;
    }
  }
}
