@import (reference) "../common/variables.less";

.landing-layout {
  height: 100vh;
  display: flex;
  background-color: @landing-bg-color;

  header {
    z-index: 3;
    position: relative;
  }

  main {
    flex: 1 0 0%;
  }

  .main-scroll {
    z-index: 3;
    position: fixed;
  }

  .scrollbar-thumb {
    background: #4a4a55;
  }

  .scrollbar-track {
    background: #2e2f35;
  }
}
