@import (reference) "../common/variables.less";
@import "./base-layout.less";

.landing-layout {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  color: @landing-fg-color;
  background-color: @landing-bg-color;

  .header-shadow {
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: none;

    transition: box-shadow .3s ease-in-out;

    @media @xs-sm {
      height: 56px;
    }

    @media @md-xl {
      height: 84px;
    }
  }

  .esl-scrollbar:not([at-start]) + .header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

  header {
    flex-basis: 100%;
  }

  main {
    flex: 1 0 100%;

    @media @xs-sm {
      height: calc(100vh - 56px);
    }

    @media @md-xl {
      height: calc(100vh - 84px);
    }
  }

  .main-scroll {
    z-index: 5;
    position: fixed;
    top: 56px;
    height: inherit;

    @media @md-xl {
      top: 84px;
    }
  }

  .scrollbar-thumb {
    background: #4a4a55;
  }

  .scrollbar-track {
    background: #2e2f35;
  }
}
