@import "../common/colors.less";

// overwrite default search styles on the search page
button.gsc-search-button {
  font-size: inherit;
  border: 2px solid @primary-blue;
}

.gsc-search-box table.gsc-search-box td.gsc-input {
  padding-right: 0;
}
