.sidebar-layout {
  height: 100vh;
  display: flex;

  .page-title {
    padding: 1rem 0;
  }

  main {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .sb-nav-item-container {
      padding-top: 30px;
    }

    > footer {
      margin-top: auto;
    }
  }

  .main-scroll {
    position: fixed;
  }

  .sidebar-scrollbar {
    .scrollbar-thumb {
      background: #4a4a55;
    }

    .scrollbar-track {
      background: #2e2f35;
    }
  }
}
