@import (reference) "../common/variables.less";
@import "./base-layout.less";

.sidebar-layout {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .page-title {
    padding: 1rem 0;
  }

  .header-shadow {
    position: fixed;
    top: 0;
    width: 100vw;
    height: @header-height-mobile;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

    @media @md-xl {
      height: 0;
    }
  }

  main {
    flex: 0 0 100%;
    height: calc(~'100vh - @{header-height-mobile}');

    @media @md-xl {
      flex: 1 0 0;
      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .sb-nav-item-container {
      padding-top: 30px;
    }

    > footer {
      margin-top: auto;
    }
  }

  header {
    flex-basis: 100%;

    @media @md-xl {
      display: none;
    }
  }

  .main-scroll {
    z-index: 3;
    position: fixed;
    top: @header-height-mobile;
    height: inherit;

    @media @md-xl {
      top: 0;
    }
  }

  .aside {
    margin-bottom: 1.25rem;
  }
}
