@import (reference) "../common/variables.less";

esl-d-scroll-controls {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: @primary-blue;
  border-radius: 8px;
  padding: 1rem;
  margin: 40px 0;
}

.esl-d-scroll-controls {
  &-ul {
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: white;
  }

  @media @lg-xl {
    &-ul {
      width: 100%;
      display: flex;
    }
  }

  &-li {
    margin-right: 10px;

    @media @md-lg {
      &:first-child {
        flex: 0 1 100%;
      }
    }
  }

  &-behavior {
    display: flex;
    list-style: none;

    &-option {
      margin-top: 5px;
      margin-right: 20px;
    }
  }

  &-button {
    background-color: white;
    margin: 20px 0;
    width: 100px;
  }
}
