---
layout: content
title: ESL Carousel Autoplay
seoTitle: ESL Carousel Autoplay - part of ESL Carousel web component to create carousel UX with custom plugins, rendering and out of the box popular features support
name: Autoplay
order: 4
parent: 'ESL Carousel'
tags: [components, draft]
aside:
  source: src/modules/esl-carousel
  examples:
    - carousel
---

{% mdRender 'src/modules/esl-carousel/plugin/autoplay/README.md', 'intro' %}
