---
layout: content
title: ESL Carousel Nav
seoTitle: ESL Carousel Nav - part of ESL Carousel web component to create carousel UX with custom plugins, rendering and out of the box popular features support
name: Navigation Controls
parent: 'ESL Carousel'
tags: [components]
aside:
  source: src/modules/esl-carousel
  examples:
    - carousel
---

{% mdRender 'src/modules/esl-carousel/plugin/nav/README.md', 'intro' %}
