---
layout: content
title: ESL Carousel Touch
seoTitle: ESL Carousel Touch - part of ESL Carousel web component to create carousel UX with custom plugins, rendering and out of the box popular features support
name: Touch / Swipe
parent: 'ESL Carousel'
tags: [components, draft]
aside:
  source: src/modules/esl-carousel
  examples:
    - carousel
---

{% mdRender 'src/modules/esl-carousel/plugin/touch/README.md', 'intro' %}
