---
layout: content
title: ESL Carousel Wheel
seoTitle: ESL Carousel Wheel - part of ESL Carousel web component to create carousel UX with custom plugins, rendering and out of the box popular features support
name: Mouse Wheel
parent: 'ESL Carousel'
order: 6
tags: [components, draft]
aside:
  source: src/modules/esl-carousel
  examples:
    - carousel
---

{% mdRender 'src/modules/esl-carousel/plugin/wheel/README.md', 'intro' %}
