.uip-bool-setting {
  label {
    display: inline-flex;
    align-items: center;

    input {
      margin-top: 3px;
      margin-left: 3px;
      max-width: 100%;
    }
  }

  .inconsistency-marker {
    color: grey;
  }
}
