@import (reference) './variables.less';

.scrollbar-second.scrollbar-second {
  padding-right: 25px;
  :dir(rtl) & {
    padding-right: 15px;
    padding-left: 25px;
  }
}

esl-scrollbar.scrollbar-blue,
.scrollbar-blue esl-scrollbar {
  --esl-scrollbar-track-bg: fade(@primary-blue, 10%);
  --esl-scrollbar-thumb-bg: fade(@primary-blue, 40%);
  --esl-scrollbar-thumb-dragging-bg: fade(@primary-blue, 60%);
  --esl-scrollbar-arrow-color: @primary-blue;
}
