---
title: Carousel (Sibling)
order: 3
tags: carousel-sample
---
<div class="esl-carousel-nav-container">
  <button type="button" class="esl-carousel-arrow inner prev hide-xs" esl-carousel-nav="group:prev">
    <span class="sr-only">Previous Slide</span>
  </button>

  <esl-carousel demo-options-target
                style="padding-inline: 60px; margin-inline: 0"
                esl-carousel-touch
                count="2"
                loop="true">
    <ul esl-carousel-slides>
      {% for i in range(0, 6) -%}
        <li esl-carousel-slide style="max-width: 50%">
          <div class="card img-container">
            <esl-image mode="cover" lazy
                       data-alt="Alt Text Test"
                       data-src="{{ '/assets/carousel/' + loop.index + '-sm.jpg' | url }}"></esl-image>
            <button type="button" class="close close-icon close-remove inverse"
                    title="Remove" aria-label="Remove"
                    onclick="this.closest('li').remove()"></button>
          </div>
        </li>
      {%- endfor %}
    </ul>
  </esl-carousel>

  <button type="button" class="esl-carousel-arrow inner next hide-xs" esl-carousel-nav="group:next">
    <span class="sr-only">Next Slide</span>
  </button>
</div>

<esl-carousel-dots class="carousel-dots-wrapper" target="::prev::child(esl-carousel)"></esl-carousel-dots>
