@import (reference) '../common/variables.less';

esl-d-banner {
  @animationTime: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-top: 2rem;
  margin-bottom: 1.5rem;

  visibility: hidden;
  opacity: 0;
  transition:
    visibility 1s linear,
    opacity 0.5s linear;

  &[open] {
    visibility: visible;
    opacity: 1;
    transition:
      visibility 0s linear,
      opacity 0.5s linear;
  }

  .alert {
    position: relative;
    transition: opacity 0.2s linear;

    &:not(:focus-within):not(:hover) {
      opacity: 0.6;
    }

    a::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  .close-button {
    position: relative;
    z-index: 1;
  }
}
