---
layout: content
title: Browser Support
seoTitle: Browser Support and Polyfills required for Exadel Smart Library (ESL)
name: Browser Support
tags: introduction
---

{% mdRender 'docs/BROWSER_SUPPORT.md', 'content' %}
