---
layout: content
title: Browser Support
description: Browser Support and Polyfills required for Exadel Smart Library.
name: Browser Support
tags: introduction
---

{% mdRender 'docs/BROWSER_SUPPORT.md', 'content' %}
