---
layout: content
title: Installation Guide
description: Get started with installing Exadel Smart Library on the project.
name: Installation Guide
order: -1
tags: introduction
---

{% mdRender 'docs/INSTALLATION_GUIDE.md', 'content' %}
