---
layout: content
title: Our Roadmap
name: Our Roadmap
containerCls: container
tags: introduction
---
<ul class="mr-2 ml-2">
  <li>Interactive Documentation + demo site redesign</li>
  <li>ESL Carousel component</li>
  <li><a href="https://{{ ui_playground }}" target="_blank">UI Playground</a> integration to demo site</li>
  <li>More helpers and sugar of ESLBaseElement (event listener helpers and decorators)</li>
  <li>Stable version of ESL Footnotes and ESL Popup components</li>
  <li>Extension of esl-form elements (custom form base, helpers, validation and more)</li>
  <li>Anchor Navigation component</li>
  <li>ESLToast component</li>
  <li>More components in the library</li>
</ul>
