@SLIDE_CAROUSEL_ANIMATION: .5s linear;

esl-carousel.single-carousel {

  &[animate] {
    [data-slides-area] {
      // animation
      transition: transform @SLIDE_CAROUSEL_ANIMATION;
    }
  }

  esl-carousel-slide {
    display: none;

    &[visible] {
      display: block;
    }
  }

  esl-carousel-slide[active] {
    display: block;
    position: relative;
    visibility: visible;
    z-index: 2;
    opacity: 1;
    left: 0;
  }

  // Single Carousel Animation
  esl-carousel-slide[active],
  esl-carousel-slide.prev,
  esl-carousel-slide.next {
    display: block;
    visibility: visible;
  }

  esl-carousel-slide.previous {
    position: absolute;
  }

  esl-carousel-slide.prev {
    animation: move-from-prev @SLIDE_CAROUSEL_ANIMATION;
  }

  esl-carousel-slide.prev.previous {
    animation: move-form-active-to-prev @SLIDE_CAROUSEL_ANIMATION;
  }

  esl-carousel-slide.next {
    animation: move-from-next @SLIDE_CAROUSEL_ANIMATION;
  }

  esl-carousel-slide.next.previous {
    animation: move-form-active-to-next @SLIDE_CAROUSEL_ANIMATION;
  }

  @keyframes move-from-prev {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  @keyframes move-form-active-to-prev {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }
  @keyframes move-from-next {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @keyframes move-form-active-to-next {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
}
