// CORE styles

esl-carousel {
  display: flex;
  position: relative;
  justify-content: center;

  .esl-carousel-content {
    overflow: hidden;
  }

  [data-slides-area] {
    display: flex;
    position: relative;
    padding-bottom: 71px;
    z-index: 0;
    transform: translateX(0);
  }

  esl-carousel-slide {
    position: relative;
    left: 0;
    box-sizing: border-box;
    min-width: 250px;
    min-height: 150px;
    margin: 0 5px;
    z-index: 1;
  }
}
