// CORE styles

esl-carousel {
  display: block;
  width: 100%;
  position: relative;

  .esl-carousel-content {
    margin: 0 auto;
    overflow: hidden;
  }

  [data-slides-area] {
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 71px;
    z-index: 0;
    transform: translate3d(0px, 0px, 0px);
  }

  &-slide {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    position: relative;
    left: 0;
    z-index: 1;

    min-width: 250px;
    min-height: 150px;
  }
}
