// CORE styles
esl-carousel {
  position: relative;
  display: block;
  max-width: 100%;
  // Important to ignore padding/margin hack
  box-sizing: content-box;
  margin: -5px;
  padding: 5px;
  overflow: hidden;

  [data-slides-area] {
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
    z-index: 0;
    transform: translate3d(0px, 0px, 0px);
  }

  &.esl-carousel-vertical [data-slides-area] {
    flex-direction: column;
  }
  &.esl-carousel-horizontal [data-slides-area] {
    flex-direction: row;
  }

  &[dragging] {
    cursor: grabbing;
  }

  &[dragging] [data-slides-area],
  &[animating] [data-slides-area] {
    user-select: none;
    touch-action: pan-y;
    pointer-events: none;
  }
}

esl-carousel-slide {
  // TODO: Do we need to set display: block?
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  position: relative;
  left: 0;
  z-index: 1;

  // TODO: magic numbers
  min-width: 250px;
  min-height: 150px;
}

[esl-carousel-container] {
  position: relative;
}
