<!DOCTYPE html>
<html lang="{{ lang or 'en' }}" {% if scrollbar %} class="esl-scrollable-content" {% endif %}>
<head>
  <title>{{ seoTitle or title or site.description }}</title>
  <link rel="canonical" href="{{page.url | canonical | url }}"/>
  {# Site meta information #}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if description %}
    <meta name="description" content="{{ description | escape}}">
  {% endif %}

  {# Additional site meta information #}
  {% block meta %}{% endblock meta %}
  {# Site icon #}
  <link rel="icon" type="image/png" href="{{ '/assets/logo-64x64.png' | url }}" />

  {% block polyfils %}
    {% include 'polyfill.njk' %}
  {% endblock %}
  {% block headlib %}
    <link rel="stylesheet" type="text/css" href="{{ '/bundles/localdev.css' | url }}" />
  {% endblock %}
  {% block head %}
    <script async>
      if(window.location.pathname === '/search.html') {
        addScript();
      }
      
      if(window.location.pathname === '/') {
        document.addEventListener("DOMContentLoaded", function() {
          var searchBar = document.querySelector('.header-search-box');
          var searchBarObserver = new MutationObserver(function() {
            if(searchBar.classList.contains('open')) {
              addScript();
              searchBarObserver.disconnect();
            }
          });
          searchBarObserver.observe(searchBar, {attributes: true});
        });
      }

      function addScript() {
        var gssScript = document.createElement('script');
        gssScript.setAttribute('src', 'https://cse.google.com/cse.js?cx=3171f866738b34f02');
        document.getElementsByTagName('head')[0].appendChild(gssScript);
      }
    </script>
  {% endblock %}
</head>
<body>

<div class="page {{ baseClass }}">
  {% block content %}{% endblock %}
</div>

{% block body %}{% endblock %}

{% if scrollbar %}
  <esl-scrollbar class="page-scrollbar" target="html"></esl-scrollbar>
{% endif %}

{% block bodylib %}
  <script src="{{ '/bundles/localdev.js' | url }}"></script>
{% endblock %}
</body>
</html>
