---
layout: content
---
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<ul class="collection-grid unstyled-list {{ 'collection-grid-column' if list }}">
  {% for item in collections[collection] | notHidden | released | sortByName %}
    <li >
      <a class="collection-grid-item"
         href="{{ item.url | url }}">
        <div class="collection-grid-title collection-grid-box">
          <span>{{ item.data.name }}</span>
        </div>
        <div class="collection-grid-box collection-grid-svg">
          {% if item.data.icon %}
            {% include "static/assets/" + item.data.icon %}
          {% elseif item.data.iconAlt %}
            <div class="collection-grid-alt {{ 'collection-grid-alt-small' if item.data.iconAlt.length >= 20 }}">
              {{ item.data.iconAlt }}
            </div>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
