{% extends './base.njk' %}
{% set baseClass = 'sidebar-layout' %}

{% block content %}
  {% include 'sidebar.njk' %}

  <main class="esl-scrollable-content">
    <div class="content {{ containerCls or 'container-fluid' }}">
      {% if title %}
        <h1 class="pt-3 pb-3">
          {{ title | safe }}
          {% if 'beta' in [].concat(tags) %}<span class="badge badge-sup badge-warning">Beta</span>{% endif %}
          {% if 'draft' in [].concat(tags) %}<span class="badge badge-sup badge-danger">Draft</span>{% endif %}
        </h1>
      {% endif %}

      {% if aside %}
        <aside class="aside-left">
          {% if aside.components  %}
          {% endif %}
        </aside>
      {% endif %}

      {{ content | safe or 'No content.' }}
    </div>

    <footer class="footer container-fluid">
      {% include 'footer.njk' %}
    </footer>

    <esl-scrollbar target="::parent" class="main-scroll"></esl-scrollbar>
  </main>
{% endblock %}
