{% extends './base.njk' %}
{% set baseClass = 'sidebar-layout' %}

{% block content %}
  {% include 'sidebar.njk' %}

  <main class="esl-scrollable-content">
    <div class="content {{ containerCls or 'container-fluid' }} {{ 'container-aside' if aside }}">
      {% if title %}
        <h1 class="page-title">
          {{ title | safe }}
          {% if 'beta' in [].concat(tags) %}<span class="badge badge-sup badge-warning">Beta</span>{% endif %}
          {% if 'draft' in [].concat(tags) %}<span class="badge badge-sup badge-danger">Draft</span>{% endif %}
        </h1>
      {% endif %}

      {% if aside %}
        <aside class="aside-left">
          {% if aside.components %}
            <div class="aside-card">
              <h4 class="aside-card-heading">Related Components</h4>
              <ul class="aside-card-list">
                {% set links = functions.findItemsByName(aside.components, collections['components']) %}
                {% for component in links | released %}
                  <li class="aside-card-list-item">
                    <a href="{{ component.url | url }}">{{ component.data.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if aside.examples %}
            <div class="aside-card">
              <h4 class="aside-card-heading">Examples</h4>
              <ul class="aside-card-list">
                {% set links = functions.findItemsByName(aside.examples, collections['examples']) %}
                {% for example in links | released %}
                  <li class="aside-card-list-item">
                    <a href="{{ example.url | url }}">{{ example.data.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </aside>
      {% endif %}

      {{ content | safe or 'No content.' }}
    </div>

    <footer class="footer-compact container-fluid">
      {% include 'footer-compact.njk' %}
    </footer>

    <esl-scrollbar target="::parent" class="main-scroll"></esl-scrollbar>
  </main>
{% endblock %}
