<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="0;url={{ target }}"/>
    <link rel="canonical" href="{{ target }}"/>
    <title>Redirecting</title>
</head>
<body>
    <p>This isn't here anymore!</p>
    <p>Document has moved, if you aren't automatically redirected
    <a href="{{ target }}">go here</a>.</p>
</body>
</html>
