<!DOCTYPE html>
<html lang="{{ lang or 'en' }}" {% if scrollbar %} class="esl-scrollable-content" {% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or 'Home' }}</title>
  {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block extra_body %}{% endblock %}
{% if scrollbar %}
  <esl-scrollbar class="page-scrollbar" target="html"></esl-scrollbar>
{% endif %}
</body>
</html>
