{% extends './base.njk' %}
{% set baseClass = 'landing-layout' %}

{% block content %}
  {% include 'sidebar.njk' %}

  <main class="esl-scrollable-content">
    {% include 'header.njk' %}
    <div class="content {{ containerCls or 'container-fluid' }}">
      {% if title %}
        <h1 class="text-center pt-2">
          {{ title | safe }}
          {% if 'beta' in [].concat(tags) %}<span class="badge badge-sup badge-warning">Beta</span>{% endif %}
          {% if 'draft' in [].concat(tags) %}<span class="badge badge-sup badge-danger">Draft</span>{% endif %}
        </h1>
        <hr/>
      {% endif %}
      {{ content | safe or 'No content.' }}
    </div>

    {% include "benefit.njk" %}

    <footer class="footer">
      {% include 'footer.njk' %}
    </footer>

    <esl-scrollbar target="::parent" class="main-scroll"></esl-scrollbar>
  </main>

{% endblock %}
