{% extends "./basic.njk" %}

{% block extra_body %}
<esl-popup id="popup1" position="top">
  Exadel Smart Library Popup content
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup2" position="bottom">
  Exadel Smart Library Popup content
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup3" position="left">
  <p>Exadel</p>
  <p>Smart</p>
  <p>Library</p>
  <p>Popup</p>
  <p>content</p>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup4" position="right">
  <p>Exadel</p>
  <p>Smart</p>
  <p>Library</p>
  <p>Popup</p>
  <p>content</p>
  <span class="esl-popup-arrow"></span>
</esl-popup>
{% endblock %}
