---
layout: landing
name: ESL Presentations
tags: [draft]
---

<div class="d-flex container" style="height: 100dvh; ">
  <div class="m-auto markdown-container">
    <h1> ESL Presentations </h1>
    <ul>
      <li>
        <a class="btn large btn-link" href="{{ '/overview/quick' | url }}"> Quick Overview </a>
      </li>
{#      <li>#}
{#        TODO: TBD   #}
{#        <a class="btn large btn-link" disabled href="{{ '/overview/full' | url }}"> Full ESL Overview </a>#}
{#      </li>#}
    </ul>
  </div>
</div>
