<div class="benefit container">
  <h2>{{ landing.benefits.title }}</h2>
  <esl-animate target="::next::child" group></esl-animate>
  <ul class="benefit-container">
    {% for item in landing.benefits.items %}
      <li class="benefit-item esl-animate-slide left">
        <div class="benefit-icon">
          {% include "static/assets/" + item.icon %}
        </div>
        <div class="benefit-content">
          <div class="benefit-content-name">{{ item.name }}</div>
          <p class="benefit-content-text">{{ item.text }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <esl-animate>
    {% include 'static/assets/common/accent-invert.svg' %}
  </esl-animate>
</div>
