<div class="benefit container">
  <h2 class="benefit-title">{{ benefits.title }}</h2>
  <ul class="benefit-container">
    {% for item in benefits.benefits %}
      <li class="benefit-item">
        <div class="benefit-icon">
          {% include "static/assets/" + item.icon %}
        </div>
        <div>
          <div class="benefit-content-name">{{ item.name }}</div>
          <p class="benefit-content-text">
            {{ item.text }}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% include "static/assets/common/line.svg" %}
</div>

