<div class="browser-support container d-flex">
  <div class="browser-support-content">
    <h2>Browser support</h2>
    <div class="browser-support-text">
      <p>Exadel Smart Library uses built-in browser features - Web API and ECMAScript 6 features that all fully supported by modern browsers such as Chrome, Firefox, Safari or Edge.</p>
      <p>If you want the ESL to work in older browsers, you can use a different polyfill list - &quot;light&quot; and &quot;full&quot;.</p>
    </div>
    <a class="btn-link browser-support-link" href="{{ '/introduction/browser-support' | url }} aria-label="Read more about Browser support"">Read more &#10142;</a>
  </div>

  <div class="browser-support-image">
    {% include 'static/assets/common/browser-support.svg' %}
  </div>
</div>
