<div class="browser-support container d-flex">
  <div class="browser-support-content">
    <h2>{{ landing.support.title }}</h2>
    <div class="browser-support-text">
      {% import 'richtext.njk' as text %}
      {{ text.render(landing.support.text) }}
    </div>
    {% if landing.support.cta %}
      <a class="arrow-link browser-support-link"
         href="{{ landing.support.cta.url | url }}">{{ landing.support.cta.text }}</a>
    {% endif %}
  </div>

  <div class="browser-support-image">
    {% include 'static/assets/common/browser-support.svg' %}
  </div>
</div>
