<div class="browser-support container d-flex">
  <div class="browser-support-content">
    <h2>{{ landing.support.title }}</h2>
    <div class="browser-support-text">
      {% import 'richtext.njk' as text %}
      {{ text.render(landing.support.text) }}
    </div>
    {% for cta in landing.support.ctas or [] %}
      <a class="btn btn-{{ cta.style }}" href="{{ cta.url | url }}">{{ cta.text }}</a>
    {% endfor %}
  </div>

  <div class="browser-support-image">
    {% include 'static/assets/common/browser-support.svg' %}
  </div>
</div>
