<div class="marquee container">
  <div class="marquee-content">
    <h1 class="marquee-heading">Exadel Smart Library</h1>
    <div class="marquee-body">
      <p>Open-source UI component library that helps developers create modern-looking, effective, and user-friendly interfaces faster.</p>
      <a class="btn btn-start" href="{{ '/getting-started/installation-guide' | url }}">Getting started</a>
    </div>
  </div>

  <div class="marquee-illustration" role="presentation">
    <div class="marquee-brand logo-primary logo-animated">
      {% include 'static/assets/logo.svg' %}
    </div>
  </div>

  <svg class="marquee-accent"
       xmlns="http://www.w3.org/2000/svg"
       fill="none" viewBox="0 0 1374 232">
    <path stroke="url(#esl-accent-svg-gradient)" stroke-width="1.7" d="M1373 1C1039 129 284 315 0 189"/>
    <defs>
      <linearGradient id="esl-accent-svg-gradient" x1="1344.5" x2="47.5" y1="10.5" y2="182" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#131A2E"/>
        <stop offset=".3" stop-color="#0097E7"/>
        <stop offset=".7" stop-color="#E9EFFD"/>
        <stop offset="1" stop-color="#131A2E"/>
      </linearGradient>
    </defs>
  </svg>
</div>

{#<div class="d-flex flex-column flex-sm-row align-items-center text-white">#}
{#  <div class="brand-section logo-primary mr-2">{% include 'static/assets/logo.svg' %}</div>#}
{#  <p class="m-0 lead description">#}
{#    Exadel Smart Library (<strong>ESL</strong>) is a web components based library that gives you a set of <strong>lightweight</strong>#}
{#    and <strong>flexible</strong> custom elements to easily create basic UX modules and make your websites super fast.#}
{#  </p>#}
{#</div>#}
{#<hr/>#}
