<div class="marquee container">
  <div class="marquee-content">
    <h1 class="marquee-heading">Exadel Smart Library</h1>
    <div class="marquee-body">
      <p>Open-source UI component library that helps developers create modern-looking, effective, and user-friendly interfaces faster.</p>
    </div>
    <a class="btn btn-lg btn-primary" href="{{ '/introduction/installation-guide' | url }}">Getting started</a>
  </div>

  <div class="marquee-illustration" role="presentation">
    <div class="marquee-brand logo-primary logo-animated">
      {% include 'static/assets/logo-pretty.svg' %}
    </div>
  </div>

  {% include 'static/assets/common/accent.svg' %}
</div>

{#<div class="d-flex flex-column flex-sm-row align-items-center text-white">#}
{#  <div class="brand-section logo-primary mr-2">{% include 'static/assets/logo.svg' %}</div>#}
{#  <p class="m-0 lead description">#}
{#    Exadel Smart Library (<strong>ESL</strong>) is a web components based library that gives you a set of <strong>lightweight</strong>#}
{#    and <strong>flexible</strong> custom elements to easily create basic UX modules and make your websites super fast.#}
{#  </p>#}
{#</div>#}
{#<hr/>#}
