<esl-d-marquee class="marquee container">
  <div class="marquee-content">
    <div class="marquee-heading-container">
      <h1 class="marquee-heading">Exadel Smart Library</h1>
    </div>
    <div class="marquee-body">
      <p>Open-source UI component library that helps developers create modern-looking, effective, and user-friendly interfaces faster.</p>
    </div>
    <div class="btn-container">
      <a class="btn btn-lg btn-sec-blue" href="{{ '/introduction' | url }}">Get started</a>
      <a class="btn btn-lg btn-sec-orange" href="{{ '/examples' | url }}">See the library in action</a>
    </div>
  </div>

  <div class="marquee-illustration" role="presentation">
    <div class="marquee-brand logo-animated">
      {% include 'static/assets/logo-pretty.svg' %}
    </div>
  </div>

  {% include 'static/assets/common/accent.svg' %}
</esl-d-marquee>
