<div class="promo-banner">
  <div class="accent-shape-left">
    {% include 'static/assets/common/accent-shape.svg' %}
  </div>

  <div class="promo-banner-content container">
    <h2 class="promo-banner-heading">Let's Get Started</h2>
    <div class="promo-banner-text">
      <p>
        Join ESL consumers. ESL brings to you a number of ultra-light reusable UI components,
        each with multiple varieties along with utilities to improve development experience.
      </p>
    </div>
    <div class="btn-container promo-banner-btn-container">
      <a class="btn btn-spaced btn-sec-green" href="{{ '/introduction' | url }}">Getting started</a>
      <a class="btn btn-spaced btn-sec-blue" href="{{ '/components' | url }}">Components Docs</a>
    </div>
  </div>

  <div class="accent-shape-right">
    {% include 'static/assets/common/accent-shape.svg' %}
  </div>
</div>
