<div class="promo-banner">
  <div class="accent-shape-left">
    {% include 'static/assets/common/accent-shape.svg' %}
  </div>

  <div class="promo-banner-content container">
    <h2 class="promo-banner-heading">Let's getting started</h2>
    <div class="promo-banner-text">
      <p>Please, press the button</p>
    </div>
    <a class="promo-banner-link" href="{{ '/introduction' | url }}">Getting started</a>
  </div>

  <div class="accent-shape-right">
    {% include 'static/assets/common/accent-shape.svg' %}
  </div>
</div>
