---
layout: content
title: Search
permalink: search.html
eleventyExcludeFromCollections: true
icon: sidebar/search.svg
---
<esl-d-search-page-wrapper>
  <div class="animation-loading bg-blue m-auto"></div>
  <div class="gcse-search" data-resultsUrl="{{ '/search.html' | url }}"></div>
</esl-d-search-page-wrapper>
