---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
      <loc>{{ site.url }}{{ page.url.replace(r/\/$/, ".html") if page.data.tags else page.url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
      {%- if page.url == "/" %}
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
      {%- endif %}
    </url>
  {% endfor %}
</urlset>
