<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
    </header>
    {% import 'utils-variables.njk' as variables %}
    <main >
         {{variables.Variables(utils.Variable,  "color: #00aa49")}}
    </main>
</body>
</html>
