<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
    </header>
    <main >
    {% import 'utils-functions.njk' as functions %}
    <h1>Function</h1>
         {{functions.Function(utils.Function, 'Name', "color: #00aa49")}}
    </main>
</body>
</html>
