---
title: UI Playground
hash: uip
tags: overview-quick
---

<h2>
  UI Playground

</h2>

<p>
  The UI Playground is a separate project that allows you to see the components in action and test them in different scenarios.
</p>
<p>
  The UI Playground is a great tool for developers who want to see how the components work and how they can be customized.
</p>
<p class="text-right mt-4">
  <a class="btn-link"
     href="https://github.com/exadel-inc/ui-playground"
     target="_blank"
     aria-label="Open UI Playground on GitHub">
    See project on GitHub
  </a>
</p>
