---
title: UI Playground
tags: overview-quick
---

<h2>
  UI Playground
  <a class="icon-inline icon-link"
     href="https://github.com/exadel-inc/ui-playground" target="_blank" aria-label="Open UI Playground on GitHub">
    {% include 'static/assets/common/github.svg' %}
  </a>
</h2>

<p>
  The UI Playground is a separate project that allows you to see the components in action and test them in different scenarios.
</p>
<p>
  The UI Playground is a great tool for developers who want to see how the components work and how they can be customized.
</p>
