@import (inline) '@exadel/ui-playground/dist/registration.css';
@import (reference) '../common/variables.less';

// ESL theme definition
.uip-theme-esl {
  --uip-bg: #fff;
  --uip-fg: @body-fg;

  --uip-header-bg: #112a47;
  --uip-header-fg: #fff;

  --uip-prview-max-height: 500px;

  --uip-plugin-fg: #ccc;
  --uip-plugin-bg: @primary-bg;
  --uip-plugin-divider: #c8d6f0;

  --uip-plugin-header-bg: #112a47;
  --uip-plugin-header-fg: #fff;

  --uip-plugin-fg-v: @body-fg;
  --uip-plugin-bg-v: transparent;

  &.uip-root {
    margin-block-end: 1rem;

    overflow: hidden;
    border: 1px solid #112a47;
    border-radius: 0.5rem;

    // Stylistic update for "readonly" label
    .uip-editor-title::after {
      opacity: 0.5;
    }

    .uip-snippets[view='dropdown'] .uip-snippets-dropdown {
      width: 100%;
    }

    .uip-settings {
      --uip-plugin-bg: @body-bg;
      --uip-plugin-fg: @body-fg;
    }

    .uip-preview-h-scroll[inactive] {
      display: none;
    }

    // TODO: probably needs to be in UIP
    .uip-preview[resizable='horizontal'] .uip-preview-container {
      resize: horizontal;
    }

    .uip-preview[align='center'] .uip-preview-container {
      margin-inline: auto;
    }
  }
}
