---
title: Example with user list
---

<uip-root>
  <uip-header>
    <uip-snippets></uip-snippets>
    <uip-options></uip-options>
  </uip-header>
  <script  type="text/html" uip-snippet label="Users aqua list">
    <div class="user-list">
      <div class="user-block aqua-user">Alexander</div>
      <div class="user-block aqua-user">Alexey</div>
      <div class="user-block aqua-user">Marina</div>
    </div>
  </script>
  <script  type="text/html" uip-snippet label="Long red users list containing seven items" wrap-items>
    <div class="user-list">
      <div class="user-block red-user">Anton</div>
      <div class="user-block red-user">Dmitri</div>
      <div class="user-block red-user">Alexandra</div>
      <div class="user-block red-user">Artem</div>
      <div class="user-block red-user">Marina</div>
      <div class="user-block red-user">Alexander</div>
      <div class="user-block red-user">Alexander</div>
    </div>
  </script>
  <script  type="text/html" uip-snippet label="Users green list">
    <div class="user-list">
      <div class="user-block green-user">Alexander</div>
      <div class="user-block green-user">Alexey</div>
      <div class="user-block green-user">Marina</div>
    </div>
  </script>
  <script  type="text/html" uip-snippet label="Users aqua list two">
    <div class="user-list">
      <div class="user-block aqua-user">Alexander</div>
      <div class="user-block aqua-user">Alexey</div>
      <div class="user-block aqua-user">Marina</div>
    </div>
  </script>
  <script  type="text/html" uip-snippet label="Users aqua list three">
    <div class="user-list">
      <div class="user-block aqua-user">Alexander</div>
      <div class="user-block aqua-user">Alexey</div>
      <div class="user-block aqua-user">Marina</div>
    </div>
  </script>
  <script  type="text/html" uip-snippet label="Users aqua list four">
    <div class="user-list">
      <div class="user-block aqua-user">Alexander</div>
      <div class="user-block aqua-user">Alexey</div>
      <div class="user-block aqua-user">Marina</div>
    </div>
  </script>
  <uip-preview></uip-preview>
  <uip-settings target=".user-list">
    <uip-select-setting label="User color" target=".user-block" attribute="class" mode="append">
      <option value="red-user">Red</option>
      <option value="aqua-user">Aqua</option>
      <option value="green-user">Green</option>
    </uip-select-setting>
    <uip-bool-setting label="Wrap items" attribute="wrap-items"></uip-bool-setting>
  </uip-settings>
  <uip-editor></uip-editor>
</uip-root>
