---
title: Example with dummy text (pre-processors)
---

<uip-root role="presentation">
  <uip-snippets class="uip-toolbar"></uip-snippets>

  <script type="text/html" uip-snippet label="Example with dummy text">
    <h2><!-- text --></h2>
    <div class="text">
      <!-- paragraph x2 -->
    </div>
    <button type="button">
      <!-- text x5 -->
    </button>
  </script>

  <uip-preview class="centered-content" resizable></uip-preview>

  <uip-editor copy collapsible label="Markdown"></uip-editor>
</uip-root>
