@import (reference) "../common/variables.less";

esl-sidebar {
  display: block;

  color: white;
  background: #232429;

  position: fixed;
  z-index: 8;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 0;

  &[animation] {
    transition: max-width .5s ease-in-out, visibility .5s linear;
    &.open {
      transition: max-width .5s ease-in-out, visibility 0s linear;
    }
  }

  @media @xs-sm {
    &:not(.esl-sidebar) {
      display: none;
    }
    visibility: hidden;
    &.open {
      visibility: visible;
    }
  }

  @media @sm-xl {
    width: 270px;
  }
  @media @md-xl {
    position: relative;
    max-width: 72px;
  }

  &.open {
    max-width: 100vw;
    @media @md-xl {
      max-width: 270px;
    }
  }

  @media @md-xl {
    .landing-layout & {
      display: none;
    }
  }
}

@import "./sidebar-controls.less";
@import "./sidebar-content.less";
@import "./sidebar-menu.less";
