@import (reference) "../common/variables.less";

esl-sidebar {
  z-index: 2;
  color: white;
  display: block;
  background-color: #232429;
  height: 100vh;
  overflow: hidden;

  .decoration-none {
    text-decoration: none;
  }

  .sidebar-ico-btn {
    z-index: 1;
    position: fixed;

    left: 68px;
    top: 50%;
    height: 32px;
    width: 32px;
    background-color: #232429;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: left .5s ease-in-out, transform .5s ease-in-out;
  }

  .sidebar-arrows-icon {
    &::after, &::before {
      content: '';

      position: absolute;
      left: 15%;
      top: 50%;

      transform: rotate(-45deg);
      transform-origin: top left;
      transition: transform .4s ease-in-out;

      width: 22%;
      height: 22%;

      border-radius: 1px;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
    }

    &::after {
      left: 45%;
    }

    &:hover {
      &::after {
        opacity: .5;
      }

      &::before, &::after {
        transform: translate(3px) rotate(-45deg);
      }
    }
  }

  @media @md-xl {
    max-width: 72px;
    min-width: 72px;

    transition: min-width .5s ease-in-out, max-width .5s ease-in-out;

    &.landing {
      display: none;
    }
  }

  @media @xs-sm {
    position: fixed;
    left: 0;

    transition: height .5s ease-in-out, visibility .5s ease-in-out;

    .sidebar-nav {
      max-width: 270px;
      height: 0;

      transition: height .5s ease-in-out;
    }

    .sidebar-ico-btn {
      display: none;
    }

    &:not(.open) {
      height: 0;
    }
  }

  &.open {
    max-width: 270px;
    min-width: 270px;

    &.landing {
      height: 100vh;
    }

    .sidebar-ico-btn {
      left: 266px;

      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(-180deg);
    }
  }
}
