// Variables defaults, can be overwritten on consumer side
@esl-select-primary: #0097e7;
@esl-select-disabled: #aaa;
@esl-select-empty-color: #aaa;

@esl-select-invlalid-border: 1px solid @esl-select-invlalid-border-color;
@esl-select-invlalid-border-color: #b22;

// ESL Select parts
@import './core/esl-select.less';
@import './core/esl-select-renderer.less';
@import './core/esl-select-dropdown.less';
