<footer class="footer">
  <div class="footer-container container">
    <div>
      <span>UIPlayground v{{ env.version }} © 2023 Exadel, Inc</span>
    </div>
    <div>
      <span>Core Team Contributors:</span>
      <a href="mailto:yadamska@exadel.com">Yuliya Adamskaya</a>,
      <a href="mailto:nharshunova@exadel.com">Natallia Harshunova</a>,
      <a href="mailto:apalanevich@exadel.com">Aliaksandr Palanevich</a>,
      <a href="mailto:pvalchetskaya@exadel.com">Palina Valchetskaya</a>,
      <a href="mailto:abazukevich@exadel.com">Aliaksandr Bazukevich</a>
    </div>
  </div>
</footer>
