{% from 'footer-menu.njk' import menu with context %}
<div class="container footer-container">
  <hr class="footer-hr">
  <div class="footer-start">
    <span class="footer-text">Ready to get started?</span>
    <a href="{{ '/introduction/installation-guide' | url }}"
       class="footer-start-link">
      Get started
    </a>
  </div>
  <esl-panel-group class="esl-panel-group" mode="@+XS => accordion | @+MD => open">
    <ul class="footer-accordion-container">
      <li class="footer-accordion footer-tow-column">
        {{ menu ('Examples', 'examples') }}
      </li>
      <li class="footer-accordion footer-tow-column">
        {{ menu ('Components', 'components') }}
      </li>
      <li class="footer-accordion">
        {{ menu ('Utils', 'utils') }}
      </li>
      <li class="footer-accordion">
        {{ menu ('Help', 'introduction') }}
      </li>
    </ul>
  </esl-panel-group>
  <div class="footer-accordion footer-links-container">
    <div class="footer-links">
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
    <a class="footer-icon-link footer-links" href="{{ site.github.url }}" target="_blank">
      {% include 'static/assets/common/github.svg' %}
    </a>
  </div>
</div>
