<div class="container">
  <div class="text-center">
    <div class="text-muted">UIPlayground v{{ env.version }} © 2021 Exadel, Inc</div>
    <div class="text-muted">Core Team Contributors:
      <a href="mailto:yadamska@exadel.com">Yuliya Adamskaya</a>,
      <a href="mailto:nharshunova@exadel.com">Harshunova Natallia</a>,
      <a href="mailto:apalanevich@exadel.com">Palanevich Aliaksandr</a>,
      <a href="mailto:pvalchetskaya@exadel.com">Valchetskaya Palina</a>,
      <a href="mailto:abazukevich@exadel.com">Bazukevich Aliaksandr</a>
    </div>
  </div>
</div>
