{% macro menu(title, collection) %}
  <esl-trigger class="hd-dropdown-trigger" track-hover target="::next">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow {{ 'text-info' if collection in page.url }}">
      {{ title }}
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" default-params="{hideDelay: 250}" fallback-duration="500">
    {% if collections[collection] %}
      <ul class="hd-dropdown-list">
        {% for item in collections[collection] | released | sortByName %}
          {% set isActive = page.url === item.url %}
          <li class="nav-item hd-dropdown-item {{ 'active' if isActive }}" {% if isActive %}aria-current="page"{% endif %}>
            <a class="hd-dropdown-link" href="{{ item.url | url }}">{{ item.data.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </esl-panel>
{% endmacro %}
