<nav class="navbar navbar-expand-lg navbar-dark bg-dark esl-demo-header">
  <div class="container flex-column flex-lg-row align-items-stretch align-items-md-center">
    <a class="navbar-brand logo-light logo-animated mr-5" href="{{ '/' | url }}">
      {% include 'pages/static/assets/logo.svg' %}
      <span class="ml-2">Exadel Smart Library</span>
    </a>
    {% from 'header-menu.njk' import menu with context %}
    <ul class="navbar-nav flex-grow-1 flex-column flex-md-row justify-content-end">
      <li class="nav-item hd-dropdown">
        {{ menu ('Examples', 'examples') }}
      </li>
      <li class="nav-item hd-dropdown">
        {{ menu ('Components', 'components') }}
      </li>
      <li class="nav-item hd-dropdown">
        {{ menu ('Utils', 'utils') }}
      </li>

      <li class="nav-item ml-1">
        <a class="btn btn-link" href="https://github.com/exadel-inc/esl">
          {% include 'pages/static/assets/common/github.svg' %}
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="esl-demo-header-overlay"></div>
