<nav class="header-nav">
  <div class="container-header">
    <a  class="link logo logo-light logo-animated" href="{{ '/' | url }}">
      {% include 'pages/static/assets/logo.svg' %}
      <span>{{ site.name }}</span>
    </a>

    <ul class="header-link">
      <li><a  class="link" href="#">Components</a></li>
      <li><a  class="link" href="#">Samples</a></li>
      <li><a  class="link" href="#">Utils</a></li>
      <li><a  class="link" href="#">Docs</a></li>
      <li><a  class="link" href="#">Contribution / Roadmap</a></li>
      <li>
        <a href="https://github.com/exadel-inc/esl">
          {% include 'pages/static/assets/common/github.svg' %}
        </a>
      </li>
      <li>
        <button>
          {% include 'pages/static/assets/common/search.svg' %}
        </button>
      </li>
    </ul>
    <a class="btn-start" href="#">
      <span>Getting started</span>
    </a>
  </div>
</nav>
