{% macro menu(title, collection) %}
  <esl-trigger class="hd-dropdown-trigger"
               target="::next"
               track-hover="@+SM"
               hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow {{ 'nav-item-selected' if collection in page.url }}">
      {{ title }}
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content"
             group="esl-nav"
             body-class="menu-opened"
             fallback-duration="400"
             close-on-esc close-on-outside-action>
    {% if collections[collection] %}
      <ul class="hd-dropdown-list">
        {% for item in collections[collection] | released | sortByName %}
          {% set isActive = page.url === item.url %}
          <li class="nav-item hd-dropdown-item {{ 'nav-item-selected' if isActive }}" {% if isActive %}aria-current="page"{% endif %}>
            <a class="hd-dropdown-link" href="{{ item.url | url }}">{{ item.data.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </esl-panel>
{% endmacro %}
