{#
  Lorem ipsum generator
  Usage:
  {% import 'lorem.njk' as lorem %}
  {{ lorem.paragraphs() }}
#}

{#
  Generate a string of lipsum
  @param int count Number of words in a sentence
#}
{% macro string(count) %}
  {% set words = [
    'lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit', 'curabitur', 'ultrices', 'et', 'mi', 'suscipit', 'eget', 'vulputate', 'ante', 'proin', 'vel', 'pretium', 'enim', 'vivamus', 'venenatis', 'eu', 'urna', 'tempor', 'blandit', 'nullam', 'pellentesque', 'metus', 'rhoncus', 'mauris', 'mollis', 'neque', 'sed', 'tincidunt', 'tellus', 'nunc', 'ac', 'nulla', 'ut', 'purus', 'etiam', 'id', 'dui', 'justo', 'sapien', 'scelerisque', 'viverra', 'ligula', 'aenean', 'porta', 'condimentum', 'nibh', 'dictum', 'congue', 'odio', 'facilisis', 'finibus', 'mattis', 'vehicula', 'lacinia', 'risus', 'placerat', 'augue', 'fringilla', 'at', 'facilisi', 'arcu', 'diam', 'laoreet'
  ] %}
  {% for word in range(0, count) %}
    {{ words | random }}
  {% endfor %}
{% endmacro %}

{#
  Generate paragraph of lipsum with 10 sentences
#}
{% macro paragraph() %}
  <p>
    {% for a in range(0, 10) %}
      {{ string(10) | trim | capitalize }}.
    {% endfor %}
  </p>
{% endmacro %}

{#
  Generate paragraphs of lipsum
  @param (optional) int count Number of paragraphs, default: 1
#}
{% macro paragraphs(count) %}
  {% if not count %}{% set count = 1 %}{% endif %}
  {% for index in range(0, count) %}
    {{ paragraph() }}
  {% endfor %}
{% endmacro %}
