<esl-popup id="popup-t-a" position="top">
  <div style="height: 70px; width:250px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup-b-a" position="bottom">
  <div style="height: 70px; width:250px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup-l-a" position="left">
  <div style="height: 250px; width:70px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup-r-a" position="right">
  <div style="height: 250px; width:70px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>

<esl-popup id="popup-t" position="top">
  <div style="height: 70px; width:250px;"></div>
</esl-popup>
<esl-popup id="popup-b" position="bottom">
  <div style="height: 70px; width:250px;"></div>
</esl-popup>
<esl-popup id="popup-l" position="left">
  <div style="height: 250px; width:50px;"></div>
</esl-popup>
<esl-popup id="popup-r" position="right">
  <div style="height: 250px; width:50px;"></div>
</esl-popup>
