{% macro readme(componentPath, itemId) %}
  <hr>
  {% markdown %}
    {% include 'src/modules/' + componentPath + '/README.md' %}
  {% endmarkdown %}
  <script>
    const markdown = document.querySelector('.markdown-container');

    {% if itemId %}
      const itemWithId = document.querySelector('#{{ itemId }}');
      if (itemWithId) markdown.innerHTML = itemWithId.innerHTML;
    {% endif %}

    markdown.style.display = "block";
  </script>
{% endmacro %}
