{% macro readme(componentPath) %}
  <hr>
  <div class="readme">
    {% markdown %}
      {% include '../../../src/modules/' + componentPath + '/README.md' %}
    {% endmarkdown %}
  </div>
{% endmacro %}
