{#
RichText renderer utility
Usage:
{% import 'richtext.njk' as text %}
{{ text.render('Some rich text') }}
#}
{% macro render(text) %}
  {% set textlines = [].concat(text) %}
  {% for line in textlines %}
    <p>{{ line }}</p>
  {% endfor %}
{% endmacro %}
