{% macro menu(title, collection, icon, link) %}
  <div class="sb-nav-item-container">
    <a class="link-icons" href="{{ link }}">{% include icon %}</a>
    <esl-trigger class="sb-dropdown-trigger"
                target=".{{ title }}"
                hover-hide-delay="400">
      <button class="btn btn-link sb-dropdown-btn sb-dropdown-arrow {{ 'nav-item-selected' if collection in page.url }}">
        <div class="sb-item-title">{{ title }}</div>
      </button>
    </esl-trigger>
  </div>
  <esl-panel class="sb-dropdown-content {{ title }}"
             group="esl-nav"
             body-class="menu-opened"
             fallback-duration="400"
             close-on-esc>
    {% if collections[collection] %}
      <ul class="sb-dropdown-list">
        {% for item in collections[collection] | released | sortByName %}
          {% set isActive = page.url === item.url %}
          <li class="nav-item sb-dropdown-item {{ 'nav-item-selected' if isActive }}" {% if isActive %}aria-current="page"{% endif %}>
            <a class="sb-dropdown-link" href="{{ item.url | url }}">{{ item.data.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </esl-panel>
{% endmacro %}
