<esl-toggleable id="sidebar" class="sidebar" close-on-outside-action close-on-esc>
  <nav class="sidebar-nav">
    <li class="sidebar-nav-item">
      <a href="{{ '/examples/' | url }}" class="sidebar-nav-item-link">Examples</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="{{ '/components/' | url }}" class="sidebar-nav-item-link">Components</a>
    </li>
  </nav>
</esl-toggleable>
