{% macro menu(title, collection, icon, link) %}
  <div class="sidebar-nav-item-container {{ 'nav-item-active' if functions.isActivePath(page.url, collection) }}">
    <a class="sb-link-icon" href="{{ link }}">{% include icon %}</a>
    <esl-trigger class="sb-dropdown-btn sb-dropdown-trigger"
                 target="::parent::next"
                 {% if functions.isActivePath(page.url, collection) %}active{% endif %}>
      <div class="sb-item-title {{ 'sb-dropdown-arrow' if collection }}">{{ title }}</div>
    </esl-trigger>
  </div>
  <esl-panel class="sb-dropdown-content {{ 'open' if functions.isActivePath(page.url, collection) }}"
             group="esl-nav"
             initial-params="{noCollapse: true}"
             fallback-duration="400">
    {% if collections[collection] %}
      <ul class="sb-dropdown-list">
        {% for item in collections[collection] | released | sortByName %}
          {% set isActive = page.url === item.url %}
          <li class="nav-item sb-dropdown-item {{ 'nav-item-dropdown-selected' if isActive }}" {% if isActive %}aria-current="page"{% endif %}>
            <a class="sb-dropdown-link decoration-none" href="{{ item.url | url }}">{{ item.data.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </esl-panel>
{% endmacro %}
