<esl-toggleable id="sidebar" class="sidebar" close-on-outside-action close-on-esc>
  <li class="sidebar-nav-item">
    <a href="{{ '/examples/' | url }}">Examples</a>
  </li>
  <li class="sidebar-nav-item">
    <a href="{{ '/components/' | url }}">Components</a>
  </li>
</esl-toggleable>
