{% import 'helpers.njk' as helpers %}

{% macro Function(function, name, style) %}
  {% for item in function %}
      <h2 style="{{style}}">{{name}} :
      {{helpers.flag(item.children.flags)}}
        {{item.name}}</h2>
        {{helpers.definedIn(item.children.sources)}}
      {% for obj in item.children.signatures | getSignature %}
      {{helpers.comment(obj.comment)}}
          {% if obj.typeParameter.length > 0 %}
              <h3>Type parameters:</h3>
              <ul>
                {% for item in obj.typeParameter %}
                {% endfor %}
              </ul>
           {% endif %}
           {{helpers.getParameter(obj.parameter)}}
           {{helpers.getReturns(obj.returns)}}
      {% endfor %}
  {% endfor %}
{% endmacro %}
