---
layout: content
title: ESL Utils
seoTitle: Universal JS, TS and Web API utilities set from Exadel Smart Library
name: ESL Utils
tags: core
order: 3
aside:
  source: src/modules/esl-utils
---

{% mdRender 'src/modules/esl-utils/README.md', 'intro' %}
