.esl-truncate {
  display: block;
  overflow: hidden;
}

.truncate {
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden;
  height: auto !important;
}

.auto-height {
  height: auto !important;
}

[inactive] {
  max-height: fit-content !important;
}
