// Default theme definition
html {
  --uip-prview-max-height: 500px;

  --uip-plugin-fg: #000;
  --uip-plugin-bg: #f5f2f0;
  --uip-plugin-divider: #ccc;
  --uip-plugin-divider-v: #ebebeb;
  --uip-plugin-header-bg: #ccc;
  --uip-plugin-header-fg: #000;
}

// Default dark theme definition
[dark-theme] {
  --uip-plugin-fg: #ccc;
  --uip-plugin-bg: #2f2f2f;
  --uip-plugin-divider: #ebebeb;
  --uip-plugin-divider-v: #ebebeb;
  --uip-plugin-header-bg: #2f2f2f;
  --uip-plugin-header-fg: #ccc;
}
