// Default theme definition
html {
  --uip-prview-max-height: 500px;

  --uip-bg: #f5f2f0;
  --uip-fg: #000;
  --uip-accent: #0097e7;
  --uip-accent-bg: #d9effb;

  --uip-header-fg: #000;
  --uip-header-bg: transparent;

  --uip-plugin-fg: #000;
  --uip-plugin-bg: #f5f2f0;
  --uip-plugin-divider: #ccc;
  --uip-plugin-header-bg: #ccc;
  --uip-plugin-header-fg: #000;

  --uip-plugin-fg-v: #000;
  --uip-plugin-bg-v: transparent;
  --uip-plugin-divider-v: #ebebeb;
}



// Default dark theme definition
[dark-theme] {
  --uip-fg: #eee;
  --uip-bg: #3d3d3d;

  --uip-header-fg: #eee;
  --uip-header-bg: #3d3d3d;

  --uip-plugin-fg: #ccc;
  --uip-plugin-bg: #2f2f2f;
  --uip-plugin-divider: #ebebeb;
  --uip-plugin-divider-v: #ebebeb;
  --uip-plugin-header-bg: #2f2f2f;
  --uip-plugin-header-fg: #ccc;
}
