@import (reference) "../../common/mixins.less";
@import (reference) "../../common/variables.less";

.uip-plugin {
  &-inner {
    padding: 10px;

    @media @mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
