@import '@exadel/esl/modules/esl-alert/core.less';
@import '@exadel/esl/modules/esl-scrollbar/core.less';

uip-root {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.uip-root {
  position: relative;
  display: grid;
  align-content: start;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'header header'
    'preview sidebar'
    'settings settings'
    'editor editor';

  min-width: 100%;
  height: 100%;
  opacity: 1;
}

.uip-alert-info {
  right: 40%;
  width: 20%;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid #0097e7;
  border-radius: 0.25rem;
  color: #0097e7;
  text-shadow: 0 0 1px rgb(0 75 116 / 25%);
  background-color: #d9effb;

  @media screen and (max-width: 767px) {
    right: 30%;
    width: 40%;
  }
}

.uip-toolbar {
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 5px;

  color: var(--uip-header-fg, #000);
  background: var(--uip-header-bg, transparent);
  border-bottom: 1px solid var(--uip-plugin-divider, #ccc);
}
