@import '~@exadel/esl/modules/esl-alert/core';

.uip-root {
  position: relative;
  display: grid;
  align-content: start;
  grid-template-columns: minmax(calc(100% - 250px), 100%) auto;
  grid-template-rows: auto minmax(calc(100% - 350px), 100%) auto;
  grid-template-areas:
    'header header'
    'preview settings'
    'editor settings';
  // display: -ms-grid;
  // grid-template-columns: auto auto;
  // grid-template-rows: 30px auto auto;
  // -ms-grid-columns: auto auto;
  // -ms-grid-rows: 30px auto auto;
  height: 100%;
  min-height: 100%;
  min-width: 100%;

  @media @mobile {
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'header'
      'settings'
      'preview'
      'editor';
  }
  // .uip-plugin:nth-child(1) {
  //   -ms-grid-column: 1;
  //   -ms-grid-row: 1;
  //   -ms-grid-row-span: 2;
  // }

  // .uip-plugin:nth-child(3) {
  //   -ms-grid-column: 1;
  //   -ms-grid-row: 2;
  // }
  // .uip-plugin:nth-child(4) {
  //   -ms-grid-column: 2;
  //   -ms-grid-row: 2;
  //   -ms-grid-row-span: 3;
  // }
  // .uip-plugin:nth-child(5) {
  //   -ms-grid-column: 1;
  //   -ms-grid-row: 2;
  // }
}

.uip-alert-info {
  right: 40%;
  width: 20%;
  border-radius: 5px;
  background-color: @landing-dark-bg;
  color: @light-color;
  text-align: center;

  @media @mobile {
    right: 30%;
    width: 40%;
  }
}
