uip-class-setting, uip-check-setting, uip-list-setting, uip-text-setting  {
  display: block;
  margin-top: 10px;
}

uip-class-setting > select, uip-list-setting > select, uip-text-setting > input {
  margin-top: -10px;
  width: 90%;
}

uip-check-setting > input {
  margin-left: 5px;
}

uip-list-item {
  display: none;
}
