---
title: Core
tags: overview
---

<h2 class="large text-center">Core</h2>

<ol class="d-block">
  <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">ESL Base Element (custom tags)</li>
  <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">ESL Mixin Element (custom attributes)</li>
  <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">
    ESL Utilities
    <ul>
      <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">ESL Event Listener</li>
      <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">ESL Media Query</li>
      <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">ESL Traversing Query</li>
      <li class="esl-animate-slide right" esl-animate="{repeat: true, group: true}">Misc Utilities</li>
    </ul>
  </li>
</ol>
