---
title: ESL Core
hash: core
cls: text-center
tags: overview-quick
---

<h2 class="large">ESL Core Components</h2>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL gives wide range of base features and components to build your application.
</p>
