---
title: ESL Extended Syntax - Media Query
hash: esl-utils-media-query
tags: overview-quick
parent: 00-core
---

<h3>{{ title }}</h3>

{% code 'typescript', 'code-block' %}
  ESLMediaQuery.for('@XS').matches; // true if XS
{% endcode %}

{% code 'typescript', 'code-block' %}
  @listen({event: 'change', target: ESLMediaQuery.for('@XS or @SM')})
  onMediaQueryChange(event) {/*...*/}
{% endcode %}
