// Image Container declaration mixin
.smart-image-container-init(@tagName, @containerClass) {
  .@{containerClass} {
    position: relative;
    overflow: hidden;

    @{tagName} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;

      &[mode="origin"],
      &[mode='save-ratio'] {
        position: relative;
      }

      &[mode="fit"] {
        position: absolute;
        height: 100%;
        overflow: hidden;
      }
      &[mode="fit"] > .inner-image {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
      }
    }

    @{tagName}[lazy] {
      opacity: 0;
      &[ready] {
        opacity: 1;
        -webkit-transition: opacity 0.4s;
        transition: opacity 0.4s;
      }
    }

    &.@{containerClass}-no-rat {
      @{tagName} {
        position: relative;
      }
    }
    &.@{containerClass}-1-1 {
      padding-top: 100%;
    }
    &.@{containerClass}-4-3 {
      padding-top: 75%;
    }
    &.@{containerClass}-16-9 {
      padding-top: 9/16*100%;
    }
  }
}
