.esl-carousel-css-renderer {
  @SLIDE_CAROUSEL_ANIMATION: 2s linear;

  [data-slides-area] {
    display: block;
    position: relative;
    width: 100%;
    --offset: 0;
    transform: translate3d(var(--offsetArea, 0), 0, 0);
  }

  &[animating] [data-slides-area] {
    transition: transform @SLIDE_CAROUSEL_ANIMATION;
  }

  esl-carousel-slide {
    position: relative;
    display: none;
    backface-visibility: hidden;
  }

  esl-carousel-slide.forward,
  esl-carousel-slide.backward,
  esl-carousel-slide.right,
  esl-carousel-slide.left {
    transition: transform @SLIDE_CAROUSEL_ANIMATION;
  }

  esl-carousel-slide.next,
  esl-carousel-slide.prev,
  esl-carousel-slide[active] {
    --offset: 0;
    transform: translate3d(var(--offset, 0), 0, 0);
  }

  esl-carousel-slide.forward {
    --offset: -100%;
    transform: translate3d(var(--offset, 0), 0, 0);
  }

  esl-carousel-slide.backward {
    --offset: 100%;
    transform: translate3d(var(--offset, 0), 0, 0);
  }

  esl-carousel-slide[active],
  esl-carousel-slide.next {
    display: block;
  }

  esl-carousel-slide.next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  esl-carousel-slide.next.right {
    left: 100%;
  }

  esl-carousel-slide[active] {
    left: 0;
  }

  esl-carousel-slide.next.left {
    left: -100%;
  }
}
