.related-card {
  padding: 15px;
  margin-bottom: 20px;

  border: 1px solid #aaa;
  border-radius: 6px;

  &-heading {
    font-size: 1.2em;
  }

  &-list {
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &-item {
    list-style: none;
    margin: 5px 10px 0 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
