---
layout: basic
title: Dropdown Menu
name: Dropdown Menu
containerCls: container
tags: samples
---
<div class="container-dropdown-menu">
  <div>
    <esl-trigger target="::next"
                 hover-hide-delay="400">
        <button class="btn btn-link menu-dropdown-btn menu-dropdown-arrow">
          Example 1 click
        </button>
      </esl-trigger>
      <esl-panel fallback-duration="400"
                 close-on-esc close-on-outside-action>
          <ul class="menu-container-ul">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
      </esl-panel>
  </div>
  <div>
    <esl-trigger target="::next"
                 hover-hide-delay="400">
      <button class="btn btn-link menu-dropdown-btn menu-dropdown-arrow">
        Example 2 hover
      </button>
    </esl-trigger>
    <esl-panel fallback-duration="400"
               close-on-esc close-on-outside-action>
        <div class="menu-container-div">
          <p>
            A neutron star is the collapsed core of a massive supergiant star,
            which had a total mass of between 10 and 25 solar masses, possibly
            more if the star was especially metal-rich. Except for black holes,
            and some hypothetical objects (e.g. white holes, quark stars, and strange stars),
            neutron stars are the smallest and densest currently known class of stellar objects.
            Neutron stars have a radius on the order of 10 kilometres (6.2 mi) and a mass
            of about 1.4 solar masses.[3] They result from the supernova explosion of a massive
            star, combined with gravitational collapse, that compresses the core past white dwarf
            star density to that of atomic nuclei.
          </p>
        </div>
  </div>
  <div>
    <esl-trigger
                 target="::next"
                 track-hover
                 hover-hide-delay="400">
      <button class="btn btn-link menu-dropdown-btn menu-dropdown-arrow">
        Example 2 hover
      </button>
    </esl-trigger>
    <esl-panel fallback-duration="400"
               close-on-esc close-on-outside-action>
        <ul class="menu-container-ul">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
    </esl-panel>
  </div>
  <div>
    <esl-trigger target="::next"
                 track-hover
                 hover-hide-delay="400">
      <button class="btn btn-link menu-dropdown-btn menu-dropdown-arrow">
        Example 2 hover
      </button>
    </esl-trigger>
    <esl-panel fallback-duration="400"
               close-on-esc close-on-outside-action>
        <div class="menu-container-div">
          <p>
            A neutron star is the collapsed core of a massive supergiant star,
            which had a total mass of between 10 and 25 solar masses, possibly
            more if the star was especially metal-rich. Except for black holes,
            and some hypothetical objects (e.g. white holes, quark stars, and strange stars),
            neutron stars are the smallest and densest currently known class of stellar objects.
            Neutron stars have a radius on the order of 10 kilometres (6.2 mi) and a mass
            of about 1.4 solar masses.[3] They result from the supernova explosion of a massive
            star, combined with gravitational collapse, that compresses the core past white dwarf
            star density to that of atomic nuclei.
          </p>
        </div>
    </esl-panel>
  </div>
  </div>
