---
layout: basic
title: Embedded Audio
name: Embedded Audio
containerCls: container
tags: samples
---
{% import 'lorem.njk' as lorem %}

<section class="row">
  <div class="col-12">
    <h2>Related Components: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/components/esl-media' | url }}">ESL Media</a></li>
    </ul>
  </div>
</section>

<div class="row justify-content-around">
  <section class="col-md-6" data-demo="4">
    <div class="demo">
      <h3 class="text-center">Basic Audio Example</h3>
      <p>ESL Media is also support simple HTML audio.</p>
      <hr/>
      <esl-media group="demo-media"
                 controls
                 media-type="audio"
                 media-src="https://html5book.ru/examples/media/track.mp3"
                 tabindex="0">
      </esl-media>
    </div>
    <div class="row btn-group-centered">
      <test-media-controls target="[data-demo='4'] esl-media"></test-media-controls>
    </div>
  </section>
</div>
