---
title: Lightweight Size
tags: overview-quick
parent: 00-key-features
---


<h3>Lightweight Size</h3>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is designed to work quickly and efficiently in browsers, minimizing unnecessary code and ensuring it doesn’t impact website performance.
</p>
