@import (reference) '../common/variables.less';
@import './base-layout.less';

.sidebar-layout {
  @media @md-xl {
    header {
      display: none;
    }
  }

  .main-scroll {
    @media @md-xl {
      top: 0;
    }
    @media print {
      display: none;
    }
  }

  .aside {
    margin-bottom: 1.25rem;
  }
}
