#esl-logo-shield-stars > path.animate {
  animation: shine-orange 0.5s linear;
}
@keyframes shine-orange {
  0%, 20%, 80%, 100% {
    stroke: transparent;
  }
  50% {
    stroke: #ffb79b;
  }
}
#esl-logo-border-inner-stars > path.animate,
#esl-logo-border-outer-stars > path.animate,
#esl-logo-wrench-left-stars > path.animate,
#esl-logo-wrench-right-stars > path.animate {
  animation: shine-blue 0.5s linear;
}
@keyframes shine-blue {
  0%, 20%, 80%, 100% {
    stroke: transparent;
  }
  50% {
    stroke: rgb(152, 198, 255);
  }
}
