<!doctype html>
<html {{= layout.htmlAttrs}} lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link type="text/css" rel="stylesheet" href="/all.css">
    <link type="text/css" rel="stylesheet" href="/localdev-styles.css">

    <title>{{= page.getPageTitle(layout.title) }} | EWC Library</title>

    <script>
        if (!('customElements' in window)) {
	        var polyscript = document.createElement('script');
	        polyscript.type = 'text/javascript';
	        polyscript.src = '/polyfill-prebuild.js';
	        document.head.appendChild(polyscript);
        }
    </script>
</head>
<body class="{{= layout.bodyClass || '' }}">
    {{= layout.content || 'No content.' }}
    <script src="/all.js"></script>
</body>
</html>
