---
layout: ./html5.html
---

{{##head:

<script>
    /* Polyfill */
    (function () {
        if (('getRootNode' in Element.prototype) && window.customElements) return;
        document.write('<script type="text/javascript" src="/polyfill-prebuild.js"><\/script>');
    })();
</script>

<link type="text/css" rel="stylesheet" href="/all.css">
<link type="text/css" rel="stylesheet" href="/localdev-styles.css">

{{= layout.head || '' }}
#}}


{{##body:
<header class="header">
    {{= partial('./header.html')}}
</header>
<main role="main">
    {{?layout.title}}
    <h1 class="text-center pt-2">{{= page.getPageTitle(layout.title)}}</h1>
    <hr/>
    {{?}}
    <div class="conetent {{= layout.containerCls || 'container-fluid'}}">
        {{= layout.content || 'No content.' }}
    </div>
</main>
<footer class="footer bg-dark">
    {{= partial('./footer.html')}}
</footer>

<script defer src="/all.js"></script>
<script defer src="/localdev-ts.js"></script>
#}}
