<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{= page.resolveURL('/' + SERVER_CONFIG.defaultPageUrl) }}">Exadel Smart Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {{ let rootPages = page.invokeController('InnerPages', '/'); }}

                {{~ rootPages :innerPage }}
                <li class="nav-item {{? innerPage.href === page.location.pathname }}active{{?}}">
                    <a class="nav-link" href="{{= page.resolveURL(innerPage.href) }}">{{= innerPage.title }}</a>
                </li>
                {{~}}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item gn-back">
                    <button class="btn btn-outline-info gn-back-trigger">← Back</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
