---
layout: ./basic.html
containerCls: container
title: UI-Playground
---
{{##content:
<uip-root>
  <div class="uip-options">
    <span class="section-name">Options:</span>

    <div class="uip-option mode">
      <button class="option-item" mode="vertical">vertical</button>
      <button class="option-item" mode="horizontal">horizontal</button>
    </div>

    <div class="uip-option theme">
      <button class="option-item" theme="light">light</button>
      <button class="option-item" theme="dark">dark</button>
    </div>
  </div>

  <div class="uip-content {{= !layout.settings ? 'no-settings' : '' }}">
    <div class="snippets-wrapper">
      <span class="section-name">Snippets</span>
      <div class="snippets-section">
        {{= layout.snippets || 'No snippets.' }}
      </div>
    </div>

    <div class="sections-wrapper">

      <div class="preview-settings">
        <div class="preview-wrapper">
          <span class="section-name">Preview</span>
          <uip-preview></uip-preview>
        </div>

        {{? layout.settings}}
        <div class="settings-wrapper">
          <span class="section-name">Settings</span>
          {{= layout.settings }}
        </div>
        {{?}}
      </div>

      <div class="editor-wrapper">
        <span class="section-name">Editor</span>
        <uip-editor editor-config="{wrap: 70}"></uip-editor>
      </div>
    </div>
  </div>

</uip-root>

#}}
