@import (reference) '../../common/variables.less';

.blogs {
  position: relative;
  margin-bottom: 2rem;

  &-item {
    display: flex;
    flex: 1 0 0px;
    align-items: center;
    padding: 30px 45px;
    list-style: none;
    @media @sm-xl {
      display: block;
    }
    @media @sm {
      min-width: 300px;
      max-width: 350px;
    }
    @media @md-lg {
      min-width: 340px;
      max-width: 500px;
    }
    @media @xl {
      min-width: 400px;
      max-width: 500px;
    }
  }

  &-container {
    margin: 0 -45px;
    padding-bottom: 35px;

    @media @sm-xl {
      padding-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-content-name {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  &-content-text {
    margin-bottom: 20px;
    font-size: 1rem;
  }
}
