@import (reference) "../../common/variables.less";

.blogs {
  position: relative;
  margin-bottom: 2rem;

  &-item {
    display: flex;
    flex: 1 0 0px;
    align-items: center;
    padding: 30px 45px;
    list-style: none;
  }

  &-container {
    margin: 0 -45px;
    padding-bottom: 35px;

    @media @sm-xl {
      padding-bottom: 50px;
    }
  }

  &-content-name {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  &-content-text {
    margin-bottom: 20px;
    font-size: 1rem;
  }
}

@media @sm-xl {
  .blogs {
    &-item {
      display: block;
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
    }

    &-icon {
      margin-bottom: 40px;
    }
  }
}

@media @sm {
  .blogs-item {
    min-width: 300px;
    max-width: 350px;
  }
}

@media @md-lg {
  .blogs {
    &-item {
      min-width: 340px;
      max-width: 500px;
    }
  }
}

@media @xl {
  .blogs {
    &-item {
      min-width: 400px;
      max-width: 500px;
    }
  }
}
