@import (reference) "../../common/variables.less";

.newsline {
  position: relative;
  margin: 5rem auto;

  &-item {
    display: flex;
    flex: 1 0 0px;
    align-items: center;
    list-style: none;
  }

  &-content {
    width: 100%;
    padding: 10px 45px;
    color: white;
    background-size: 0% 100%;
    transition: color .2s ease-in, background-size 1.5s, background-color 1.5s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      height: 100%;
      border-left: 3px solid @nav-dark-fg;
      transition: border-color .2s ease-in-out;
    }

    &-cta {
      display: inline-block;
      color: @nav-dark-hover;
      font-weight: bold;

      opacity: 0;
      transition: opacity .2s ease-in;
    }

    &-date {
      font-size: .7em;
    }

    &-name {
      padding-bottom: 5px;
      font-size: 1.5rem;
    }

    &-text {
      font-size: 1rem;

      h1, .h1 {
        font-size: 1.6rem;
      }
      h2, .h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      h3, .h3 {
        font-size: 1.3rem;
      }
      h4, .h4 {
        font-size: 1.2rem;
      }
      h5, .h5 {
        font-size: 1.1rem;
      }
    }

    &:hover {
      color: @nav-dark-hover;
      text-decoration: none;

      background-color: rgba(@nav-dark-selected, .1);
      background-image: linear-gradient(to right, #fff0 0%, #fff0 50%, #fff3 100%);
      background-size: 200% 100%; 
      background-repeat: no-repeat;

      &::before {
        border-color: @nav-dark-accent;
      }

      .newsline-content {
        &-cta {
          opacity: 1;
        }

        &-text {
          color: @nav-dark-accent;
        }
      }
    }
  }
}
