<!doctype html>
<html lang="en" class="esl-scrollable-content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ESL Panel</title>
  
  <script>!function(){let t="";window.Promise&&window.CustomEvent?"getRootNode"in Element.prototype&&window.customElements&&window.IntersectionObserver||(t="light"):t="full",t&&document.write('<script type="text/javascript" src="/esl/bundles/polyfill-'+t+'.js"><\/script>')}()</script>

  <link rel="icon" type="image/png" href="/esl/assets/logo-64x64.png"/>
  <link rel="stylesheet" type="text/css" href="/esl/bundles/localdev.css"/>

  

</head>
<body>

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark esl-demo-header">
  <div class="container flex-column flex-lg-row align-items-stretch align-items-md-center">
    <a class="navbar-brand logo-light logo-animated mr-5" href="/esl/">
      <?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
  <g class="shield">
    <path class="s-l" fill="#C6361A" fill-rule="evenodd" d="M200 292c-.3 0-.6 0-.9-.1-.7-.2-73.1-17-73.1-96.9v-56.3c0-1.8 1.1-3.5 2.8-4.1l69.6-26.3c1-.4 2.1-.4 3.1 0l69.6 26.3c1.7.6 2.8 2.3 2.8 4.1V195c0 79.9-72.3 96.8-73.1 96.9-.2.1-.5.1-.8.1z"/>
    <path class="s-r" fill="#FF5D24" fill-rule="evenodd" clip-rule="evenodd" d="M200 108v184c.3 0 .6 0 .9-.1.7-.2 73.1-17 73.1-96.9v-56.3c0-1.8-1.1-3.5-2.8-4.1l-69.6-26.3c-.6-.2-1.1-.3-1.6-.3z"/>
  </g>
  <g class="wrenches">
    <path class="w-l" fill-rule="evenodd" d="M207.7 207.3l-15.8 15.8-23.2-6.2-6.2-23.2 15.8-15.8c-9-.7-18.2 2.4-25.1 9.3-9.5 9.5-11.8 23.5-6.8 35.1L108.6 260c-4.7 4.7-4.7 12.3 0 17s12.3 4.7 17 0l37.7-37.7c11.6 4.9 25.6 2.7 35.1-6.8 6.9-6.9 10-16.2 9.3-25.2z" clip-rule="evenodd"/>
    <path class="w-r" fill-rule="evenodd" d="M292 122.6c-4.7-4.7-12.3-4.7-17 0l-37.7 37.7c-11.6-4.9-25.6-2.7-35.1 6.8-6.9 6.9-10 16.1-9.3 25.1l15.8-15.8 23.2 6.2 6.2 23.2-15.8 15.8c9 .7 18.2-2.4 25.1-9.3 9.5-9.5 11.8-23.5 6.8-35.1l37.7-37.7c4.8-4.6 4.8-12.2.1-16.9z" clip-rule="evenodd"/>
  </g>
  <path d="M199.5 39.5c-88.4 0-160 71.6-160 160s71.6 160 160 160 160-71.6 160-160-71.6-160-160-160zm0 308c-81.7 0-148-66.3-148-148s66.3-148 148-148 148 66.3 148 148-66.3 148-148 148z"/>
</svg>

      <span class="ml-2">Exadel Smart Library</span>
    </a>
    
    <ul class="navbar-nav flex-grow-1 flex-column flex-md-row justify-content-end">
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow">
      Samples
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/accordion/">Accordion</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/embedded-audio/">Embedded Audio</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/embedded-video/">Embedded Video</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/image/">Image</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/notification/">Notification</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/scrollbar/">Scrollbar</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/forms-select/">Select Dropdown</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/forms-select-list/">Select List</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/tabs/">Tabs</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/samples/toggleable/">Toggleable</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow nav-item-selected">
      Components
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-alert/">ESL Alert</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-image/">ESL Image</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-media/">ESL Media</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item nav-item-selected" aria-current="page">
            <a class="hd-dropdown-link" href="/esl/components/esl-panel/">ESL Panel</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-popup/">ESL Popup</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-scrollbar/">ESL Scrollbar</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-select/">ESL Select</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-select-list/">ESL Select List</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-tabs/">ESL Tabs</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-toggleable/">ESL Toggleable</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-trigger/">ESL Trigger</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow">
      Utils
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-a11ty-group/">ESL A11y Group</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-base/">ESL Base Element</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-media-query/">ESL Media Query</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-traversing-query/">ESL Traversing Query</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-utils/">ESL Utils</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>

      <li class="nav-item ml-1">
        <a class="btn btn-link" href="https://github.com/exadel-inc/esl">
          <svg width="30" height="30" viewBox="0 0 32 32" fill="#fff">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M16.003 0C7.17 0 .008 7.162.008 15.997c0 7.067 4.582 13.063 10.94 15.18.8.145 1.052-.33 1.052-.753 0-.38.008-1.442 0-2.777-4.45.967-5.37-2.107-5.37-2.107-.728-1.848-1.776-2.34-1.776-2.34-1.452-.992.11-.973.11-.973 1.604.113 2.45 1.65 2.45 1.65 1.427 2.442 3.743 1.736 4.654 1.328.146-1.034.56-1.74 1.017-2.14C9.533 22.663 5.8 21.29 5.8 15.16c0-1.747.622-3.174 1.645-4.292-.165-.404-.715-2.03.157-4.234 0 0 1.343-.43 4.398 1.64 1.276-.354 2.645-.53 4.005-.537 1.36.006 2.727.183 4.005.538 3.055-2.07 4.396-1.64 4.396-1.64.872 2.202.323 3.83.16 4.233 1.022 1.118 1.643 2.545 1.643 4.292 0 6.146-3.74 7.498-7.305 7.893C19.48 23.548 20 24.508 20 26v4.428c0 .428.258.9 1.07.746C27.422 29.054 32 23.062 32 15.997 32 7.162 24.838 0 16.003 0z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="esl-demo-header-overlay"></div>

  </header>

  <main role="main">
    <div class="content container">
      
        <h1 class="text-center pt-2">
          ESL Panel
          
          
        </h1>

        <hr/>
      
      
<div class="markdown-container">
<p>ESLPanel is a custom element that is used as a wrapper for content that can be shown or hidden.
Can use collapsing/expanding animation (smooth height change).
Can be used in conjunction with ESLPanelGroup to control a group of ESLPopups</p>
<pre><code class="language-javascript">ESLPanel.<span class="hljs-title function_">register</span>();
</code></pre>
<h3>ESLPanel Attributes | Properties:</h3>
<ul>
<li>
<p><code>active-class</code> - class(es) to be added for active state ('open' by default)</p>
</li>
<li>
<p><code>animate-class</code> - class(es) to be added during animation ('animate' by default)</p>
</li>
<li>
<p><code>post-animate-class</code> - class(es) to be added during animation after next render ('post-animate' by default)</p>
</li>
<li>
<p><code>fallback-duration</code> - time to clear animation common params (max-height style + classes) (1s by default)</p>
</li>
<li>
<p><code>initial-params</code> - initial params for current ESLPanel instance</p>
</li>
<li>
<p><code>animating</code> - marker of animation process running</p>
</li>
</ul>
<p>ESLPanel extends <a href="https://github.com/exadel-inc/esl/tree/main/src/modules/esl-toggleable/README.md">ESLToggleable</a> you can find other supported options in its documentation.</p>
</div>

<section class="row">
  <div class="col-12">
    <h2>Related components: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/esl/components/esl-toggleable">ESL Toggleable</a></li>
      <li class="list-inline-item"><a href="/esl/components/esl-trigger">ESL Trigger</a></li>
    </ul>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/esl/samples/accordion">Accordion</a></li>
      <li class="list-inline-item"><a href="/esl/samples/tabs">Tabs</a></li>
    </ul>
  </div>
</section>

    </div>
  </main>

  <footer class="footer bg-dark">
    <div class="container">
  <div class="text-center">
    <div class="text-muted">ESL v3.0.3 © 2021 Exadel, Inc</div>
    <div class="text-muted">Core Team Contributors:
      <a href="mailto:astsefanovich@exadel.com">Alexey Stsefanovich</a>,
      <a href="mailto:ymurashka@exadel.com">Julia Murashko</a>,
      <a href="mailto:yadamska@exadel.com">Yuliya Adamskaya</a>,
      <a href="mailto:dshovchko@exadel.com">Dmytro Shovchko</a>
    </div>
  </div>
</div>

  </footer>

  

  <script src="/esl/bundles/localdev.js"></script>


  <esl-scrollbar class="page-scrollbar" target="html"></esl-scrollbar>

</body>
</html>
