---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container-fluid">
    <div class="row flex-column">
        <h2>Demo 1: </h2>
        <p>The first slide is active (1 slide)</p>
        <smart-carousel>

            <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
                <span class="icon-arrow-prev" ></span>
            </button>

            <div data-slides-area>
                <!-- CAROUSEL-ITEM -->
                <smart-carousel-slide active
                                      style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>111</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>222</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>333</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>444</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>555</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>666</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>777</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>888</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>999</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>101010</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>111111</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>121212</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>131313</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>141414</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>151515</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>161616</p>
                    </div>
                </smart-carousel-slide>
                <!-- /CAROUSEL-ITEM -->
            </div>

            <button class="arrow-next" onclick="void 0" data-slide-target="next">
                <span class="icon-arrow-next"></span>
            </button>

            <smart-carousel-dots class="carousel-dots-wrapper"></smart-carousel-dots>

        </smart-carousel>
    </div>
</div>

<div class="container-fluid">
    <div class="row flex-column">
        <h2>Demo 2: </h2>
        <p>The second slide is active (1 slide) !!!</p>
        <smart-carousel>

            <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
                <span class="icon-arrow-prev"></span>
            </button>

            <div data-slides-area>
                <!-- CAROUSEL-ITEM -->
                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>111</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide active
                                      style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>222</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>333</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>444</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>555</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>666</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>777</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>888</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>999</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>101010</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>111111</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>121212</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>131313</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>141414</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>151515</p>
                    </div>
                </smart-carousel-slide>

                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>161616</p>
                    </div>
                </smart-carousel-slide>
                <!-- /CAROUSEL-ITEM -->
            </div>

            <button class="arrow-next" onclick="void 0" data-slide-target="next">
                <span class="icon-arrow-next"></span>
            </button>

            <smart-carousel-dots class="carousel-dots-wrapper"></smart-carousel-dots>

        </smart-carousel>
    </div>
</div>
#}}