---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container">
    <h2>Demo 1: </h2>

    <smart-carousel config="{count: 1, className: ''}">
        <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
            <span class="icon-arrow-left"></span>
        </button>

        <div data-slides-area>
            <!-- CAROUSEL-ITEM -->
            <smart-carousel-slide active style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                <div class="post-text">
                    <p>aaa</p>
                </div>
            </smart-carousel-slide>
            <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                <div class="post-text">
                    <p>bbb</p>
                </div>
            </smart-carousel-slide>
            <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                <div class="post-text">
                    <p>ccc</p>
                </div>
            </smart-carousel-slide>
            <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                <div class="post-text">
                    <p>ddd</p>
                </div>
            </smart-carousel-slide>
            <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                <div class="post-text">
                    <p>eee</p>
                </div>
            </smart-carousel-slide>
            <!-- /CAROUSEL-ITEM -->
        </div>

        <button class="arrow-next" onclick="void 0" data-slide-target="next">
            <span class="icon-arrow-right"></span>
        </button>

        <smart-carousel-dots class="carousel-dots-wrapper"></smart-carousel-dots>
    </smart-carousel>
</div>
#}}