---
layout: ../../layouts/basic.html
title: Single Slide Carousel
---

{{##content:
<div class="container-fluid">
    <div class="row flex-column">
        <a href="javascript:void 0" class="sr-only">Fake anchor</a>
        <h2>Demo 1: </h2>
        <smart-carousel config="{strategy: single}">
            <smart-carousel-autoplay-plugin timeout="5000"></smart-carousel-autoplay-plugin>

            <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
                <span class="icon-arrow-prev"></span>
            </button>

            <div data-slides-area>
                <!-- CAROUSEL-ITEM -->
                <smart-carousel-slide data-active-slide
                                style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>aaa</p>
                    </div>
                </smart-carousel-slide>
                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>bbb</p>
                    </div>
                </smart-carousel-slide>
                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>ccc</p>
                    </div>
                </smart-carousel-slide>
                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>ddd</p>
                    </div>
                </smart-carousel-slide>
                <smart-carousel-slide style="background: #{{= Math.floor(Math.random()*4095).toString(16) }}">
                    <div class="post-text">
                        <p>eee</p>
                    </div>
                </smart-carousel-slide>

                <!-- /CAROUSEL-ITEM -->
            </div>

            <button class="arrow-next" onclick="void 0" data-slide-target="next">
                <span class="icon-arrow-next"></span>
            </button>

            <smart-carousel-dots class="carousel-dots-wrapper"></smart-carousel-dots>

        </smart-carousel>
    </div>
</div>
#}}