.esl-media-container-init(@tagName: esl-media) {
  @{tagName} {
    .img-container > & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.esl-media-bottom {
      video.esl-media-inner {
        top: 100%;
        transform: translate(-50%, -100%);
      }
    }
    &.esl-media-top {
      video.esl-media-inner {
        top: 0;
        transform: translate(-50%, 0);
      }
    }
    &.esl-media-left {
      video.esl-media-inner {
        left: 0;
        transform: translate(0, -50%);
      }
    }
    &.esl-media-right {
      video.esl-media-inner {
        left: 100%;
        transform: translate(-100%, -50%);
      }
    }
  }
}
