// ARROWS navigation
esl-carousel {
  button.arrow-prev,
  button.arrow-next {
    display: none;
  }
}
.esl-carousel {
  button.arrow-prev,
  button.arrow-next {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 68px;
    height: 68px;
    margin-top: -69.5px;
    background: none;
    border: none;
    opacity: .5;
    cursor: pointer;

    // TODO: IE11 support
    appearance: none;
  }
  button.arrow-next {
    right: 0;
  }
  button.arrow-prev {
    left: 0;
  }

  .icon-arrow-next,
  .icon-arrow-prev {
    display: block;
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBwb2ludHM9IjMxIDQwIDE2IDI1IDMxIDEwIDMzIDEyIDIwIDI1IDMzIDM4Ii8+PC9zdmc+) no-repeat;

  }
  .icon-arrow-next {
    transform: scaleX(-1);
  }
}
