---
title: What is ESL?
hash: intro
tags: overview-quick
---

<h2 class="text-center">{{ title }}</h2>

<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is an open-source UI component library that simplifies routine tasks, enabling efficient website creation with flexible components.
</p>
<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  With ESL, you can easily implement popular UX patterns such as popups, tabs, embedded videos/audio, and more.
</p>
<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  Use these web components to enhance existing projects or build your infrastructure from scratch with ESL.
</p>

<div class="text-right">
  <img alt="Open Source icon"
       src="{{ '/assets/common/open-source.svg' | url }}"
       width="100" height="100"/>
</div>

