---
title: ESL is Tiny and Efficient
hash: stack
cls: text-center
tags: overview-quick
parent: 00-what-is
---

<h3 class="text-center mb-4">{{ title }}</h3>

<div class="esl-animate-slide up text-note" esl-animate="{repeat: true}">
  <p>ESL is designed to work quickly and efficiently in browsers, minimizing unnecessary code and ensuring optimal website performance.</p>

  <p>The ESL package is independent of third-party libraries, relying on built-in browser functionality like Web API and ECMAScript 6.</p>

  <p>Written in TypeScript and compiled to ES6 JavaScript, ESL is fully tree-shakable, so your bundle includes only the components you use.</p>

  <p>Currently, ESL uses TS decorators for some syntax sugar, with plans to complement these with native ES decorators in the future.</p>
</div>
