---
title: ESL Compatibility
hash: compatibility
cls: text-center
tags: overview-quick
parent: 00-what-is
---

<h3 class="text-center">{{ title }}</h3>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is a framework-agnostic library, it can be used with any modern framework or vanilla JS.
</p>

<p class="esl-animate-slide up" esl-animate="{repeat: true}">
  Built-in ESL components have proper type definitions for TSX (JSX) syntax and accept arguments both as attributes and
  properties.
</p>

<figure class="d-flex justify-content-center esl-animate-slide up" esl-animate="{repeat: true}">
  <img loading="lazy"
       width="100"
       height="100"
       class="esl-animate-slide right" esl-animate="{repeat: true, group:true}"
       src="{{ '/assets/logo-white.svg' | url }}"
       alt="ESL" />

  <svg width="100" height="100" viewBox="0 0 40 40" fill="white" xmlns="http://www.w3.org/2000/svg">
    <rect x="18" y="10" width="4" height="20" />
    <rect x="10" y="18" width="20" height="4" />
  </svg>

  <img loading="lazy"
       width="100"
       height="100"
       class="esl-animate-slide left" esl-animate="{repeat: true, group:true}"
       src="{{ '/assets/presentation/react.svg' | url }}"
       alt="React" />
  <img loading="lazy"
       width="100"
       height="100"
       class="esl-animate-slide left" esl-animate="{repeat: true, group:true}"
       src="{{ '/assets/presentation/angular.svg' | url }}"
       alt="Angular" />
  <img loading="lazy"
       width="100"
       height="100"
       class="esl-animate-slide left" esl-animate="{repeat: true, group:true}"
       src="{{ '/assets/presentation/vue.svg' | url }}"
       alt="Vue" />
</figure>
