<esl-d-marquee class="marquee container">
  <div class="marquee-content">
    <div class="marquee-heading-container">
      <h1 class="marquee-heading">{{ landing.marquee.title }}</h1>
    </div>
    <div class="marquee-body">
      <p class="marquee-slogan-line">{{ landing.marquee.slogan }}</p>
      <p>{{ landing.marquee.description }}</p>
    </div>
    <div class="btn-container">
      {% for cta in landing.marquee.ctas or [] %}
        <a class="btn btn-lg btn-{{ cta.style }}" href="{{ cta.url | url }}">{{ cta.text }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="marquee-illustration" role="presentation">
    {% set easterSecret = landing.marquee.easterSecret %}
    {% if easterSecret %}
      <a esl-d-marquee-secret-link
         href="{{ easterSecret.url | url }}" rel="nofollow"
         class="marquee-brand"
         aria-label="{{ easterSecret.text }}">
        {% include 'static/assets/' + landing.marquee.logo %}
      </a>
    {% else %}
      <div class="marquee-brand">
        {% include 'static/assets/' + landing.marquee.logo %}
      </div>
    {% endif %}
  </div>

  <esl-animate>
    {% include 'static/assets/common/accent.svg' %}
  </esl-animate>

  {% if env.isDev %}
  <esl-d-marquee-owl>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="accent accent-owl" viewBox="0 0 1374 232" data-show-level="1">
      <image class="accent-owl" href="/assets/owl/small.webp" x="550" y="109" width="75" height="105"></image>
      <g transform="translate(615, 40)" stroke="#fff">
        <path d="M27,20 Q13,20 13,30 V60 L0,80 Q13,70 27,70 H147 Q160,70 160,60 V30 Q160,20 147,20 H27 z" fill="none"/>
        <text data-level="0" x="30" y="40" font-size="15"></text>
        <text data-level="0" x="30" y="60" font-size="15">?</text>
      </g>
    </svg>
  </esl-d-marquee-owl>
  {% endif %}
</esl-d-marquee>
