{% macro newsitem(item, index, cls) %}
  {% set isArticle = [].concat(item.data.tags).includes('blogs') %}

  <li class="esl-animate-slide up newsline-item {{ cls or '' }}"
      esl-animate="{group: true}">
    {% if item.data.link or isArticle %}
      <a class="newsline-link"
         aria-labelledby="newsline-item-{{ index }}"
         href="{{ item.data.link or (item.url | url) }}"></a>
    {% endif %}
    <div id="newsline-item-{{ index }}" class="newsline-content">
      <h3 class="newsline-content-title">
        {{ item.data.title or item.data.name }}
        {% if item.data.date | fresh %}
          <sup class="badge badge-small badge-sup badge-success">new</sup>
        {% endif %}
      </h3>

      {% if isArticle %}
        <div class="newsline-content-text markdown-container">{{ item.templateContent | text | truncate(250) }}</div>
      {% else %}
        <div class="newsline-content-text markdown-container">{{ item.templateContent | safe }}</div>
      {% endif %}

      {% if item.data.date %}
        <time class="newsline-content-date" datetime="{{ item.date.toISOString() }}">{{ item.date | date }}</time>
      {% endif %}
    </div>
  </li>
{% endmacro %}
