<div class="overview-section container">
  <esl-carousel class="overview-carousel">
    <button class="overview-btn-prev-wrapper" data-slide-target="prev"></button>

    <div esl-carousel-slides class="overview-carousel-scene">
      <esl-carousel-slide active class="overview-carousel-item">
        <div class="overview-item">
          <div class="overview-illustration">
            {% include 'static/assets/common/overview.svg' %}
          </div>
          <div class="overview-content">
            <div class="overview-heading">
              <h2 class="overview-title">Utils</h2>
              <p class="overview-description">
                We’ve built a set of helper modules that simplify the process of developing applications with our
                UI component library. The Exadel Smart Library utilities include:
              </p>
            </div>
            <ul class="overview-points">
              <li class="overview-point">
                <h3 class="overview-point-name">ESL Traversing Query</h3>
                <p class="overview-point-desc">
                  A utility that supports simplified but powerful syntax that lets you find web components on pages —
                  letting you define relationships, for example, between triggers and toggleables
                </p>
              </li>
              <li class="overview-point">
                <h3 class="overview-point-name">ESL Media Query</h3>
                <p class="overview-point-desc">
                  A JS media query utility to support extended syntax to define conditions for devices and/or values
                  per device type, screen size, or browser
                </p>
              </li>
              <li class="overview-point">
                <h3 class="overview-point-name">ESL Base Element</h3>
                <p class="overview-point-desc">
                  Our base custom element wrapper, which comes with a set of common decorators for properties,
                  that help you easily define UI component settings
                </p>
              </li>
              <li class="overview-point">
                <h3 class="overview-point-name">ESL Utils</h3>
                <p class="overview-point-desc">
                  A range of additional features that includes tools for working with Objects, Arrays, and other formats,
                  as well as commonly used typescript decorators and patterns
                </p>
              </li>
            </ul>
          </div>
        </div>
      </esl-carousel-slide>
      <esl-carousel-slide class="overview-item">
      </esl-carousel-slide>
    </div>

    <button class="overview-btn-next-wrapper" data-slide-target="next"></button>

    <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>
{#    <esl-carousel-autoplay-plugin timeout="10000"></esl-carousel-autoplay-plugin>#}
  </esl-carousel>
</div>
