---
layout: content
title: ESL Event Listeners - Extended `EventTarget`s and standard optimizations
seoTitle: ESL Event Listeners - Extended `EventTarget`s and standard optimizations
name: Extended `EventTarget`s
tags: [core]
parent: ESL Event Listeners
order: 3
aside:
source: src/modules/esl-event-listener
---

{% mdRender 'src/modules/esl-event-listener/README.md', 'extended-event-targets', 'extended-behavior' %}
