---
layout: content
title: ESL Event Listeners
seoTitle: Built-in ESL EventListeners
name: Overview
tags: [core]
order: 2
aside:
  source: src/modules/esl-event-listener
---

{% mdRender 'src/modules/esl-event-listener/README.md', 'intro', 'basic-concepts' %}

<div class="markdown-container">
  <ul>
    <li><a href="{{ '/core/esl-event-listener/basic-concepts' | url }}">Basic concepts</a></li>
    <li><a href="{{ '/core/esl-event-listener/public-api' | url }}">Public API (`ESLEventUtils`)</a></li>
    <li><a href="{{ '/core/esl-event-listener/extended-event-targets' | url }}">Extended `EventTarget`s and standard optimizations</a></li>
    <li><a href="{{ '/core/esl-event-listener/extended-behavior' | url }}">Embedded behavior of `ESLBaseElement` / `ESLMixinElement`</a></li>
  </ul>
</div>
