---
layout: content
title: ESL Event Listeners - Public API (`ESLEventUtils`)
seoTitle: ESL Event Listeners - Public API (`ESLEventUtils`)
name: Public API
tags: [core]
parent: ESL Event Listeners
order: 2
aside:
  source: src/modules/esl-event-listener
---

{% mdRender 'src/modules/esl-event-listener/docs/2-public-api.md' %}
