// Variables defaults, can be overwritten on consumer side
@esl-select-list-check: #fff;
@esl-select-list-primary: #0097e7;
@esl-select-list-disabled: #aaa;
@esl-select-list-secondary: #ccc;
@esl-select-list-background: #fff;

@import './core/esl-select-item.less';
@import './core/esl-select-list.less';
