---
layout: content
title: ESL Base Element
seoTitle: ESL Smart Library Base custom element definition
name: ESL Base Element
tags: core
iconAlt: '<esl-.../>'
---

{% mdRender 'src/modules/esl-base-element/README.md', 'intro' %}

