---
layout: content
title: ESL Utils
description: Exadel Smart Library common universal JS, TS and Web API utilities set.
name: ESL Utils
tags: utils
iconAlt: '@bind @memoize @prop'
---

{% mdRender 'src/modules/esl-utils/README.md', 'intro' %}

