---
layout: content
title: ESL Traversing Query
seoTitle: Extended CSS selector syntax that allows easily traverse in DOM nodes
name: ESL Traversing Query
tags: utils
iconAlt: '#id::parent .class::next [attr]::nth(2)'
---

{% mdRender 'src/modules/esl-traversing-query/README.md', 'intro' %}
