esl-modal {
  display: none;
}

.esl-modal {
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  pointer-events: none;

  &:not(.open) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 0 30px;
  }

  .esl-modal-container {
    flex: 0 0 auto;
    position: relative;
    padding: 50px;
    max-width: 100%;
    width: 80%;
    background-color: #fff;
    overflow: auto;
    pointer-events: auto;
  }

  .close-btn {
    position: absolute;
    inset-block-start: 15px;
    inset-inline-end: 15px;
    width: 20px;
    height: 20px;
    font-size: 19px;
    line-height: 19px;

    &::before {
      content: '\2715';
    }
  }

  > esl-scrollbar {
    position: fixed;
  }
}

esl-modal-backdrop {
  display: none;
}
.esl-modal-backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in;

  &.active {
    background: rgba(0, 0, 0, 0.4);
    z-index: 999999;
  }
}
