esl-tabs {
  display: block;
  .esl-tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &.center-alignment > .esl-tab-container {
    & > :first-child {
      margin-left: auto;
    }
    & > :last-child {
      margin-right: auto;
    }
  }

  &.right-alignment > .esl-tab-container > :first-child {
    margin-left: auto;
  }
}
