---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container-fluid">
    <h2 class="text-center"><code>&lt;smart-video&gt;</code> component</h2>
    <hr/>
    <div class="description">
        <p>Smart Video - is the smart container that gives you same API for different providers under the hood
            along with helpers like lazy loading, activate query, picture cropping.</p>
    </div>
    <hr/>
    <div class="row justify-content-around">
        <section class="col-6" data-demo="1">
            <div class="demo">
                <h3 class="text-center">YouTube video</h3>
                <hr/>
                <div class="img-container img-container-16-9 img-container-loaded">
                    <smart-video group="demo-media"
                                 video-type="youtube"
                                 video-id="5LD-EoiTjuY"
                                 load-condition="@DESKTOP"
                                 load-condition-declined-marker="hide-video"
                                 controls>
                    </smart-video>
                </div>
            </div>
            <div class="row btn-group-centered">
                <test-media-controls target="[data-demo='1'] smart-video"></test-media-controls>
            </div>
        </section>
        <section class="col-6" data-demo="2">
            <div class="demo">
                <h3 class="text-center">HTML video</h3>
                <hr/>
                <div class="img-container img-container-16-9 img-container-loaded">
                    <smart-video group="demo-media"
                                 video-type="video"
                                 load-condition="@DESKTOP"
                                 load-condition-declined-marker="hide-video"
                                 video-src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.mp4"
                                 controls>
                    </smart-video>
                </div>
            </div>
            <div class="row btn-group-centered">
                <test-media-controls target="[data-demo='2'] smart-video"></test-media-controls>
            </div>
        </section>
        <section class="col-6" data-demo="3">
            <div class="demo">
                <h3 class="text-center">Basic Iframe Example (vimeo)</h3>
                <hr/>
                <div class="img-container img-container-16-9 img-container-loaded">
                    <smart-video group="demo-media"
                                 video-type="iframe"
                                 video-src="https://player.vimeo.com/video/1084537"
                                 controls>
                    </smart-video>
                </div>
            </div>
            <div class="row btn-group-centered">
                <test-media-controls target="[data-demo='3'] smart-video" actions="play,stop"></test-media-controls>
            </div>
        </section>

        <section class="col-12" data-demo="3">
            <h3 class="text-center">HTML video background</h3>
            <hr/>
            <div class="demo-marquee">
                <smart-video class="bg-content sv-bg"
                             video-type="video"
                             video-src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.mp4"
                             autoplay="true"
                             play-in-viewport
                             muted loop>
                </smart-video>
                <div class="demo-content contrast">
                    <h2>Background media</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </section>

        <section class="col-12" data-demo="4">
            <h3 class="text-center">YouTube video background</h3>
            <hr/>
            <div class="demo-marquee">
                <smart-video class="bg-content sv-bg"
                             video-type="youtube"
                             video-id="e1omOSkYltw"
                             autoplay="true"
                             play-in-viewport
                             muted loop>
                </smart-video>
                <div class="demo-content contrast">
                    <h2>Background media</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </section>
    </div>
</div>
#}}