.card {
  &-list {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  &-item {
    width: 200px;
    height: 200px;
    padding: 15px;
    text-align: center;
    overflow-wrap: break-word;

    &.red {
      background-color: red;
      color: white;
    }

    &.green {
      background-color: green;
      color: white;
    }

    &.aqua {
      background-color: aqua;
    }

    &.top {
      align-content: start;
    }
    &.center {
      align-content: center;
    }
    &.bottom {
      align-content: end;
    }
  }

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

[wrap-items] {
  flex-wrap: wrap;
}
