---
layout: content
title: Installation Guide
seoTitle: ESL Installation Guide and Configuration
description: Get started with installing Exadel Smart Library on the project. Configuring and using ESL components.
name: Installation Guide
order: -1
tags: introduction
collectionIcon: sidebar/intro.svg
---

{% mdRender 'docs/INSTALLATION_GUIDE.md', 'content' %}
