@import './variables';

uip-root {
  &.uip-light-theme {
    background-color: @light-theme;

    uip-snippets {
      ul.snippets-list li {
        &:not(:last-child) {
          &::after {
            color: @dark-text-decorator-color;
          }
        }
      }
    }

    .uip-plugin {
      background-color: @light-theme-section;
      color: @dark-text;
    }

    uip-check-setting, uip-list-setting, uip-text-setting {
      label {
        color: @dark-text;
      }
    }

  }

  &.uip-dark-theme {
    background-color: @dark-theme;

    uip-snippets {
      ul.snippets-list li {
        &:not(:last-child) {
          &::after {
            color: @light-text;
          }
        }
      }
    }

    .uip-plugin {
      background-color: @dark-theme-section;
      color: @light-text;
    }

    uip-check-setting, uip-list-setting, uip-text-setting {
      label {
        color: @light-text;
      }
    }
  }
}

