---
layout: basic
title: Slide Carousel - Rules
name: Slide Carousel - Rules
tags: drafts
---

<div class="container-fluid">
  <div class="row flex-column">
    <h2>Demo 1: </h2>
    <esl-carousel config="{count: 6} |
                          @LG => {count: 5} |
                          @MD => {count: 4} |
                          @SM => {count: 3} |
                          @XS => {count: 1} |">
      <esl-carousel-touch-plugin></esl-carousel-touch-plugin>
      <esl-carousel-link-plugin to="#second-carousel"></esl-carousel-link-plugin>

      <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
        <span class="icon-arrow-prev"></span>
      </button>

      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>First Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Second Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Third Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Fourth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Fiveth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Sixth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Seventh Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Eighth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Nineth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Tenth slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Eleventh Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Twelfth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Thirteenth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Fourteenth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Fiveteenth Slide</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>Sixteenth Slide</p>
          </div>
        </esl-carousel-slide>
        <!-- /CAROUSEL-ITEM -->
      </div>

      <button class="arrow-next" onclick="void 0" data-slide-target="next">
        <span class="icon-arrow-next"></span>
      </button>

      <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>

    </esl-carousel>
  </div>
</div>

<div class="container-fluid">
  <div class="row flex-column">
    <h2>Demo 2: </h2>

    <style>
      #second-carousel .post-text {
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
      }
    </style>

    <esl-carousel id="second-carousel"
                  config="       {count: 6} |
                                @SM => {count: 4} |
                                @XS => {count: 2}">

      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="1">
            <p>111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="2">
            <p>222</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="3">
            <p>333</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="4">
            <p>444</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="5">
            <p>555</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="6">
            <p>666</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="7">
            <p>777</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="8">
            <p>888</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="9">
            <p>999</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="10">
            <p>101010</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="11">
            <p>111111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="12">
            <p>121212</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="13">
            <p>131313</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="14">
            <p>141414</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="15">
            <p>151515</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text" data-slide-target="16">
            <p>161616</p>
          </div>
        </esl-carousel-slide>
        <!-- /CAROUSEL-ITEM -->
      </div>

      <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>

    </esl-carousel>
  </div>
</div>
