---
layout: basic
title: Multi Slide Carousel
name: Multi Slide Carousel
tags: drafts
ignore: true
---

<div class="container-fluid">
  <div class="row flex-column">
    <h2>Demo 1: </h2>
    <p>5 slides with 3 active slides to check if RAF helps to animate first one</p>
    <esl-carousel config="{count: 3}">

      <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
        <span class="icon-arrow-prev"></span>
      </button>

      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>222</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide active style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>333</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>444</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>555</p>
          </div>
        </esl-carousel-slide>
        <!-- /CAROUSEL-ITEM -->
      </div>

      <button class="arrow-next" onclick="void 0" data-slide-target="next">
        <span class="icon-arrow-next"></span>
      </button>

      <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>

    </esl-carousel>
  </div>
</div>

<div class="container-fluid">
  <div class="row flex-column">
    <h2>Demo 2: </h2>
    <p>11 slides with different count of active slides </p>
    <esl-carousel config="       {count: 5} |
                                @LG => {count: 5} |
                                @MD => {count: 4} |
                                @SM => {count: 3} |
                                @XS => {count: 1} |">

      <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
        <span class="icon-arrow-prev"></span>
      </button>

      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        <esl-carousel-slide active
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>222</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>333</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>444</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>555</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>666</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>777</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>888</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>999</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>101010</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>111111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>121212</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>131313</p>
          </div>
        </esl-carousel-slide>
        <!-- /CAROUSEL-ITEM -->
      </div>

      <button class="arrow-next" onclick="void 0" data-slide-target="next">
        <span class="icon-arrow-next"></span>
      </button>

      <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>

    </esl-carousel>
  </div>
</div>

<div class="container-fluid">
  <div class="row flex-column">
    <h2>Demo 3: </h2>
    <p>11 slides with different count of active slides (4 slide is active)</p>
    <esl-carousel config="      {count: 5} |
                                @LG => {count: 5} |
                                @MD => {count: 4} |
                                @SM => {count: 3} |
                                @XS => {count: 1} |">

      <button class="arrow-prev" onclick="void 0" data-slide-target="prev">
        <span class="icon-arrow-prev"></span>
      </button>

      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        <esl-carousel-slide
          style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide
          style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>222</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>333</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide first
                            style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>444</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>555</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>666</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>777</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>888</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>999</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>101010</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>111111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>121212</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>131313</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>141010</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>151111</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>161212</p>
          </div>
        </esl-carousel-slide>

        <esl-carousel-slide style="background: {{ functions.randomColor() }}">
          <div class="post-text">
            <p>171313</p>
          </div>
        </esl-carousel-slide>
        <!-- /CAROUSEL-ITEM -->
      </div>

      <button class="arrow-next" onclick="void 0" data-slide-target="next">
        <span class="icon-arrow-next"></span>
      </button>

      <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>

    </esl-carousel>
  </div>
</div>
