<footer class="presentation-footer">
  <div class="presentation-footer-container">
    <button class="btn-link presentation-footer-item"
            esl-carousel-nav="prev"
            esl-carousel-nav-target="#presentation-carousel"
            aria-label="Previous slide">
      Prev
    </button>
    <button class="btn-link presentation-footer-item"
            esl-carousel-nav="next"
            esl-carousel-nav-target="#presentation-carousel"
            aria-label="Next slide">
      Next
    </button>
  </div>
</footer>
