<div class="container">
  <hr class="footer-divider"/>
  <div class="text-center text-gray">
    <div>ESL v{{ env.version }} © 2021 Exadel, Inc</div>
    <div>
      Core Team Contributors:
      <a href="mailto:astsefanovich@exadel.com">Alexey Stsefanovich</a>,
      <a href="mailto:ymurashka@exadel.com">Julia Murashko</a>,
      <a href="mailto:yadamska@exadel.com">Yuliya Adamskaya</a>,
      <a href="mailto:dshovchko@exadel.com">Dmytro Shovchko</a>,
      <a href="mailto:abarmina@exadel.com">Anna Barmina</a>
    </div>
    <div>Design by Iryna Pavlenko</div>
  </div>
</div>
