{% from 'navigation/sidebar-menu.njk' import menu with context %}

<esl-sidebar id="sidebar" class="open">
  <nav class="sidebar-nav">
    <a class="sidebar-heading" href="{{ '/' | url }}">
      <span class="sidebar-logo logo-light logo-animated">{% include 'static/assets/logo.svg' %}</span>
      <span class="sidebar-title">{{ site.name }}</span>
    </a>

    <div class="sb-nav-list-wrapper">
      <ul class="sidebar-nav-list esl-scrollable-content">
        <li class="sidebar-nav-item">
          {{ menu ('Introduction', 'introduction', 'static/assets/sidebar/intro.svg') }}
        </li>
        <li class="sidebar-nav-item">
          {{ menu ('Examples', 'examples', 'static/assets/sidebar/examples.svg') }}
        </li>
        <li class="sidebar-nav-item">
          {{ menu ('Components', 'components', 'static/assets/sidebar/components.svg') }}
        </li>
        <li class="sidebar-nav-item">
          {{ menu ('Utils', 'utils', 'static/assets/sidebar/utils.svg') }}
        </li>
      </ul>

      <esl-scrollbar class="sidebar-scrollbar" target="::prev"></esl-scrollbar>
    </div>
    <esl-trigger class="sidebar-trigger-btn sidebar-arrows-icon" target="::parent(esl-sidebar)" mode="toggle"></esl-trigger>
  </nav>
</esl-sidebar>
