{% from 'badge.njk' import applyBadge with context %}

{% macro navitem(title, collection, icon, opt = {}) %}
  {% set isPrimaryActive = functions.isActivePath(page.url, collection) %}
  {% set items = collections[collection] | released %}
  {% set isDraftCollection = collection === 'draft' %}

  {% if items.length %}
  <div class="sidebar-nav-item-heading {{ 'active' if isPrimaryActive }}">
    <a class="sidebar-nav-item-link icon-link" href="{{ ('/' + collection) | url }}">
      {% include icon %}
    </a>
    <esl-trigger class="sidebar-nav-item-trigger sidebar-nav-item-arrow"
                 target="::parent::next"
                 {% if isPrimaryActive %}active{% endif %}>
      {{ title }}
      {% if opt.beta %}
        <sup class="badge badge-sup badge-warning">beta</sup>
      {% endif %}
      {% if opt.new %}
        <sup class="badge badge-sup badge-success">new</sup>
      {% endif %}
    </esl-trigger>
  </div>

  <esl-panel id="sidebar-{{ collection }}-menu"
             class="sidebar-nav-secondary {{ 'open' if isPrimaryActive }}"
             {% if isPrimaryActive %}data-open{% endif %}
             group="esl-nav">
    <ul class="sidebar-nav-nested-list">
      <esl-a11y-group targets="::child(li)::find(.sidebar-nav-item-nested-link)"></esl-a11y-group>
      {% for item in items | sortByNameAndOrder %}
        {% set isActive = page.url === item.url %}
        {% set isSecondaryActive = functions.isActivePath(page.url, item.data.collection) %}
        {% set isList = item.data.collection %}
        <li class="sidebar-nav-secondary-item">
          <div class="sidebar-nav-secondary-item-heading {{ 'active' if isActive or isSecondaryActive }}"
            {% if isActive %}aria-selected="true"{% endif %}>
            {% if not isList %}
              <a class="sidebar-nav-item-nested-link"
                {% if isActive %}aria-current="page"{% endif %}
                href="{{ item.url | url }}">
                {{ applyBadge (item.data.tags, isDraftCollection, 'sidebar') }}
                {{ item.data.name }}
              </a>
            {% endif %}
            {% if isList %}
              <esl-trigger class="sidebar-nav-secondary-item-trigger sidebar-nav-item-arrow"
                          target="::parent::next"
                          {% if isSecondaryActive and not isDraftCollection %}active{% endif %}>
                {{ applyBadge (item.data.tags, isDraftCollection, 'sidebar') }}
                {{ item.data.name }}
              </esl-trigger>
            {% endif %}
          </div>
          {% if isList %}
          {% set subItems = collections[item.data.collection] | released %}
            <esl-panel id="sidebar-{{ item.data.collection }}-menu{% if isDraftCollection %}-draft{% endif %}"
                      class="sidebar-nav-third {{ 'open' if isSecondaryActive and not isDraftCollection }}"
                      {% if isSecondaryActive and not isDraftCollection %}data-open{% endif %}
                      group="esl-nav-secondary">
              <ul class="sidebar-nav-nested-list">
                <esl-a11y-group targets="::child(li)::find(.sidebar-nav-item-nested-link)"></esl-a11y-group>
                {% for subItem in subItems | sortByNameAndOrder %}
                  {% set isThirdActive = page.url === subItem.url %}
                  <li class="sidebar-nav-third-item">
                    <div class="sidebar-nav-third-item-heading {{ 'active' if isThirdActive }}"
                    {% if isThirdActive %}aria-selected="true"{% endif %}>
                      <a class="sidebar-nav-item-nested-link"
                        {% if isThirdActive %}aria-current="page"{% endif %}
                        href="{{ subItem.url | url }}">
                        {{ applyBadge (subItem.data.tags, isDraftCollection, 'sidebar') }}
                        {{ subItem.data.name }}
                      </a>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </esl-panel>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </esl-panel>
  {% endif %}
{% endmacro %}
