{% macro ghLink(url, title) %}
  {% if url %}
    <div class="related-card">
      <h2 class="related-card-heading">{{ title }}</h2>
      <a class="badge badge-link badge-md related-card-item-icon" href="{{site.github.srcUrl + url}}">
        {% include 'static/assets/common/github.svg' %} GITHUB
      </a>
    </div>
  {% endif %}
{% endmacro %}
