.close {
  --icon-color: #000;

  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--icon-color);
  text-shadow: 0 1px 0 invert(var(--icon-color));
  opacity: 0.5;

  &:hover {
    color: var(--icon-color);
    text-decoration: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    opacity: 0.75;
  }

  &.inverse {
    --icon-color: #fff;
  }
  &-remove:hover {
    --icon-color: #fb2020;
  }

  &-icon::before {
    content: '×';
  }

  .img-container & {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    z-index: 10;
  }
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
