@import './variables.less';

.markdown-container {
  & ul,
  & ol {
    padding-left: 1.5rem;

    p {
      margin-bottom: 0.5rem;
    }

    p:only-child {
      margin-bottom: 0;
    }
  }

  a[href] {
    color: inherit;
    text-decoration: solid underline @primary-blue 1px;

    transition: text-decoration-thickness 0.2s linear;
    &:hover {
      text-decoration-thickness: 2px;
    }
  }

  .img-container {
    max-width: min(100%, 1200px);
  }

  // Right align and accent the date if it's a single content in the line
  p > time:only-child {
    display: block;
    text-align: right;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &.no-margin,
  .alert & {
    p:last-child {
      margin-block-end: 0;
    }
  }
}
