<esl-panel-group class="accordion-group" min-open-items="0">
  <div class="esl-d-accordion">
    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
      Toggle Accordion #1
    </esl-trigger>
    <esl-panel class="esl-d-accordion-panel">
      <div class="esl-d-accordion-body">
        {{ lorem.paragraphs(1) }}
      </div>
    </esl-panel>
  </div>
  <div class="esl-d-accordion">
    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
      Toggle Accordion #2
    </esl-trigger>
    <esl-panel class="esl-d-accordion-panel">
      <div class="esl-d-accordion-body">
        {{ lorem.paragraphs(2) }}
      </div>
    </esl-panel>
  </div>
  <div class="esl-d-accordion">
    <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
      Toggle Accordion #3
    </esl-trigger>
    <esl-panel class="esl-d-accordion-panel">
      <div class="esl-d-accordion-body">
        {{ lorem.paragraphs(3) }}
      </div>
    </esl-panel>
  </div>
</esl-panel-group>
