<div class="top-banner banner">
  <esl-image class="bg-content"
             mode="cover" lazy
             data-alt="Alt Text"
             data-src="nature/forest+clouds.webp"
             data-src-base="{{ imageSrcBase }}"></esl-image>
  <div class="banner-content container text-contrast">
    <h1 class="showcase-page-text">ESL Showcase Page</h1>
    <p>
      Lorem ipsum dolor sit amet <esl-note>Lorem ipsum dolor sit amet</esl-note>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna
      aliqua. Donec massa sapien faucibus et molestie ac. Mi sit amet mauris commodo quis imperdiet massa. Viverra
      nibh cras pulvinar mattis nunc sed blandit. In nisl nisi scelerisque eu. Vel turpis nunc eget lorem dolor sed.
      Nisl pretium fusce id velit.
      Quam id leo in vitae turpis massa sed. <esl-note>Quam id leo in vitae turpis massa sed.</esl-note> Mauris sit amet
    </p>
  </div>
  <div class="shadow-banner"></div>
</div>
