.esl-multi-carousel {
  @SLIDE_CAROUSEL_ANIMATION: 0.25s linear;
  &[animating] {
    [data-slides-area] {
      // animation
      transition: transform @SLIDE_CAROUSEL_ANIMATION;
    }
  }

  esl-carousel-slide {
    &:not([visible]):not([active]) {
      visibility: hidden;
    }
  }

  &.esl-vertical-carousel [data-slides-area] {
    flex-direction: column;
  }
}
