.esl-multi-carousel {
  @SLIDE_CAROUSEL_ANIMATION: 0.25s linear;

  esl-carousel-slide {
    &:not([visible]):not([active]) {
      visibility: hidden;
    }
  }

  [data-slides-area] {
    display: flex;
    flex-wrap: nowrap;
    transition: none;
  }
  &[animating] [data-slides-area] {
    transition: transform @SLIDE_CAROUSEL_ANIMATION;
  }
  &.esl-carousel-horizontal [data-slides-area] {
    flex-direction: row;
  }
  &.esl-carousel-vertical [data-slides-area] {
    flex-direction: column;
  }
}
