{% import './section-render-helpers.njk' as sectionHelpers %}
{% import '../comment-helpers.njk' as commentHelpers %}

{% macro renderClass(item) %}
  <div>
    <h2>Class {{item.name}}</h2>
    {{commentHelpers.getComment(item)}}
  </div>

  {% if item.Constructor %}
    <h3>Constructor</h3>
    {% for constructorObject in item.Constructor %}
      {{sectionHelpers.renderSection(constructorObject)}}
    {% endfor %}
  {% endif %}

  {% if item.Property %}
    <h3>Properties</h3>
    {% for functionObject in item.Property %}
      {{sectionHelpers.renderSection(functionObject)}}
    {% endfor %}
  {% endif %}

  {% if item.Accessor %}
    <h3>Accessors</h3>
    {% for accessorObject in item.Accessor %}
      {{sectionHelpers.renderSection(accessorObject)}}
    {% endfor %}
  {% endif %}

  {% if item.Method %}
    <h3>Methods</h3>
    {% for methodObject in item.Method %}
      {{sectionHelpers.renderSection(methodObject)}}
    {% endfor %}
  {% endif %}
{% endmacro %}
