esl-panel {
  @animationTime: 0.5s;

  display: block;
  height: auto;
  overflow: hidden;

  visibility: hidden;
  max-height: 0;
  transition:
    max-height @animationTime ease-in-out,
    visibility 0s linear @animationTime;

  &.open {
    visibility: visible;
    max-height: none;
    transition:
      max-height @animationTime ease-in-out,
      visibility 0s linear;
  }
}

@media print {
  esl-panel:not(.print-closed) {
    visibility: visible;
    max-height: none;
  }
}
