---
title: What the ESL is?
tags: overview-quick
---

<h2>What the ESL is?</h2>

<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is an open-source UI components library that reduces routine tasks and lets you efficiently create websites with flexible components.
</p>
<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  ESL is based on Web Components, providing a standard user experience for popups, tabs, embedded videos/audio, and more.
</p>
<p class="text-italic esl-animate-slide up" esl-animate="{repeat: true}">
  You can utilize these web components to complement projects or build your infrastructure from the ground up using ESL alone.
</p>
