---
title: Goals and Anti-Goals of ESL
tags: overview-quick
---

<h3>Goals and Anti-Goals of ESL</h3>

<div>
  <esl-animate repeat group target="::next::child(li)"></esl-animate>
  <ul>
    <li class="esl-animate-slide left">ESL is developed to universally cover the most common web UX patterns.</li>
    <li class="esl-animate-slide left">ESL does not provide specific styles, allowing usage with any project style guide.</li>
    <li class="esl-animate-slide left">ESL components have built-in a11y (accessibility) support.</li>
    <li class="esl-animate-slide left">ESL provides base classes and utilities for creating custom tags or custom attributes.</li>
  </ul>
</div>
