esl-share-button {
  display: inline-flex;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &[unavailable] {
    display: none;
  }

  .esl-share-icon {
    overflow: hidden;
    width: var(--esl-share-icon-size, 40px);
    height: var(--esl-share-icon-size, 40px);
  }
}
