@import (reference) "../common/variables.less";

esl-carousel {
  [data-slides-area] {
    width: 780px;
    @media @md-lg {
      width: 500px;
    }
    @media @xs-sm {
      width: 300px;
    }
  }
}
