[esl-scroll-lock] {
  overflow: hidden !important;

  &:not(html[esl-scroll-lock='native'])::-webkit-scrollbar {
    display: none !important;
  }
}

html[esl-scroll-lock] body {
  overflow: hidden !important;
}

html[esl-scroll-lock='native'] {
  overflow-y: scroll !important;

  body {
    max-width: 100vw !important;
    max-height: 100vh !important;
  }
}

html[esl-scroll-lock='pseudo'] {
  display: flex !important;
  align-items: stretch !important;

  &:dir(rtl) {
    flex-flow: row-reverse !important;
  }

  body {
    flex: 1 1 100% !important;
  }

  &::before {
    content: '';
    overflow-y: scroll;
    flex: 0 0 auto;
    order: 2;
    visibility: hidden;
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    // Pseudo scroll should be visible above the content
    z-index: 999999;
  }

  // hide analytics beacons and markers
  & > img, & > iframe {
    flex: 0 1 auto !important;
  }
}
