---
title: Components
---

{% if title %}
  <h2 class="collection-title">
    {{ title | safe }}
  </h2>
{% endif %}
<ul class="collection-list">
  <h3 class="title">Core</h3>
  {% for plugin in collections.core %}
    <li class="item">
      <a href="{{ plugin.url | url }}">{{ plugin.data.title }}</a>
    </li>
  {%- endfor %}
</ul>

<ul class="collection-list">
  <h3 class="title">Plugins</h3>
  {% for plugin in collections.plugins %}
    <li class="item">
      <a href="{{ plugin.url | url }}">{{ plugin.data.title }}</a>
    </li>
    {% if plugin.data.isSettingList %}
      <ul class="collection-sublist">
        {% for setting in collections.setting %}
          <li class="item">
            <a href="{{ setting.url | url }}">{{ setting.data.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    {%- endif %}
  {%- endfor %}
</ul>
