---
title: Components
---

<ul class="uip-demo__list">
  <h3 class="uip-demo__list-title">Core</h3>
  {% for plugin in collections.core %}
    <li class="uip-demo__list-item">
      <a href="{{ plugin.url | url }}">{{ plugin.data.title }}</a>
    </li>
  {%- endfor %}
</ul>

<ul class="uip-demo__list">
  <h3 class="uip-demo__list-title">Plugins</h3>
{% for plugin in collections.plugins %}
  <li class="uip-demo__list-item">
    <a href="{{ plugin.url | url }}">{{ plugin.data.title }}</a>
  </li>
  {% if plugin.data.title === 'Settings' %}
    <ul class="uip-demo__sublist">
      {% for setting in collections.setting %}
        <li class="uip-demo__list-item">
          <a href="{{ setting.url | url }}">{{ setting.data.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  {%- endif %}
{%- endfor %}
</ul>
