---
layout: content
title: ESL Trigger
seoTitle: ESL Trigger - custom element to control "Toggleables"
name: ESL Trigger
tags: components
aside:
  source: src/modules/esl-trigger
  components:
    - esl-toggleable
    - esl-panel
    - esl-popup
    - esl-tabs
  examples:
    - toggleable
    - accordion
    - tabs
    - menu
    - popup
---

{% mdRender 'src/modules/esl-trigger/README.md', 'intro' %}
