---
layout: content
title: ESL Panel
description: Custom element to collapse or expand content on the page (Accordion behavior).
name: ESL Panel
tags: components
iconAlt: '<esl-panel/>'
aside:
  components:
    - esl-panel-group
    - esl-toggleable
    - esl-trigger
  examples:
    - accordion
    - tabs
    - menu
---

{% mdRender 'src/modules/esl-panel/README.md', 'intro' %}
