---
layout: content
title: ESL Tabs
seoTitle: ESL Tabs - custom element for tab controls
name: ESL Tabs
tags: components
icon: 'common/right-arrow.svg'
aside:
  components:
    - esl-trigger
    - esl-panel
    - esl-panel-group
    - esl-toggleable
  examples:
    - tabs
---

{% mdRender 'src/modules/esl-tab/README.md', 'intro' %}
