---
layout: content
title: ESL Panel Group
seoTitle: ESL Panel Group - custom element to group ESLPanel-s to have Tabs or Accordion behaviour
name: ESL Panel Group
tags: components
aside:
  source: src/modules/esl-panel-group
  components:
    - esl-panel
    - esl-toggleable
    - esl-trigger
  examples:
    - accordion
    - tabs
---

{% mdRender 'src/modules/esl-panel-group/README.md', 'intro' %}
