---
layout: content
title: ESL Media
seoTitle: ESL Media - custom element to embed video and audio with a different sources like MP4, YouTube, Brightcove, etc.
name: ESL Media
tags: components
aside:
  examples:
    - embedded-video
    - embedded-audio
---

{% mdRender 'src/modules/esl-media/README.md', 'intro' %}

<hr/>

<section class="row justify-content-around">
  <section class="col-12 row" data-demo="0">
    <uip-root uip-snippets-active>
      <uip-header></uip-header>
      <script type="text/html" uip-snippet label="ESL Media">
        <h3 class="text-center">ESL Media</h3>
        <div class="img-container img-container-16-9 img-container-loaded" style="border: solid black 1px;">
          <esl-media group="demo-media" class="esl-media esl-media-demo-1" controls tabindex="0"></esl-media>
        </div>
        {# ESL Media Controls #}
        <div class="esl-media-control">
          <button class="btn btn-sec-blue" onclick="document.querySelector('.esl-media-demo-1').play()"> Play</button>
          <button class="btn btn-sec-blue" onclick="document.querySelector('.esl-media-demo-1').pause()"> Pause
          </button>
          <button class="btn btn-sec-blue" onclick="document.querySelector('.esl-media-demo-1').stop()"> Stop</button>
        </div>
      </script>
      <uip-preview></uip-preview>
      <uip-settings target=".esl-media">
        <uip-select-setting label="Media type:" target=".esl-media" attribute="media-type">
          <option value="auto">- Auto -</option>
          <option value="audio">HTML Audio</option>
          <option value="video">HTML Video</option>
          <option value="youtube">Youtube</option>
          <option value="brightcove">Brightcove</option>
          <option value="iframe">Iframe</option>
        </uip-select-setting>
        <uip-text-setting label="Media src:" attribute="media-src" target=".esl-media"></uip-text-setting>
        <uip-text-setting label="Media id:" attribute="media-id" target=".esl-media"></uip-text-setting>
        <uip-text-setting label="Player id:" attribute="player-id" target=".esl-media"></uip-text-setting>
        <uip-text-setting label="Player account:" attribute="player-account" target=".esl-media"></uip-text-setting>
        <uip-bool-setting label="Muted" attribute="muted" target=".esl-media"></uip-bool-setting>
        <uip-bool-setting label="Autoplay" attribute="autoplay" target=".esl-media"></uip-bool-setting>
        <uip-bool-setting label="Disabled" attribute="disabled" target=".esl-media"></uip-bool-setting>
      </uip-settings>
    </uip-root>
  </section>
</section>
