---
layout: content
title: ESL Footnotes
name: ESL Footnotes
tags: [components, draft]
iconAlt: '<esl-footnotes/>'
aside:
  examples:
    - footnotes
---

{% mdRender 'src/modules/esl-footnotes/README.md', 'intro' %}
