---
layout: content
title: ESL Footnotes
seoTitle: ESL Footnotes - custom elements for auto-collected footnotes in the page content
name: ESL Footnotes
tags: [components, beta]
aside:
  source: src/modules/esl-footnotes
  examples:
    - footnotes
---

{% mdRender 'src/modules/esl-footnotes/README.md', 'intro' %}
