---
layout: content
title: ESL Scrollbar
description: Custom scrollbar element fully customizable from CSS.
name: ESL Scrollbar
tags: components
iconAlt: '<esl-scrollbar/>'
aside:
  examples:
    - scrollbar
---

{% mdRender 'src/modules/esl-scrollbar/README.md', 'intro' %}
