---
layout: content
title: ESL Avatar
seoTitle: ESL Avatar is a custom element used to represent a user's profile picture
name: ESL Avatar
tags: [components, beta]
aside:
  source: src/modules/esl-avatar
  examples:
    - avatar
---

{% mdRender 'src/modules/esl-avatar/README.md', 'intro' %}
