---
layout: content
title: ESL Select
description: Custom element to decorate native select component with a new Select Dropdown UI.
name: ESL Select
tags: [components, forms, beta]
iconAlt: '<esl-select/>'
aside:
  components:
    - esl-select-list
  examples:
    - forms-select
    - forms-select-list
---

{% mdRender 'src/modules/esl-forms/esl-select/README.md', 'intro' %}
