---
layout: content
title: ESL Image
description: Custom image element that supports lazy loading, renditions and different mods of embedding.
name: ESL Image
tags: components
iconAlt: '<esl-image/>'
aside:
  examples:
    - image
---

{% mdRender 'src/modules/esl-image/README.md', 'intro' %}
