---
layout: basic
title: ESL Toggleable
name: ESL Toggleable
containerCls: container
tags: components
---

{% mdRender 'src/modules/esl-toggleable/README.md', 'intro' %}

<section class="row">
  <div class="col-12">
    <h2>Related components: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/components/esl-trigger' | url }}">ESL Trigger</a></li>
      <li class="list-inline-item"><a href="{{ '/components/esl-panel' | url }}">ESL Panel</a></li>
    </ul>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/samples/toggleable' | url }}">Toggleables</a></li>
      <li class="list-inline-item"><a href="{{ '/samples/accordion' | url }}">Accordion</a></li>
      <li class="list-inline-item"><a href="{{ '/samples/tabs' | url }}">Tabs</a></li>
      <li class="list-inline-item"><a href="{{ '/samples/menu' | url }}">Menu</a></li>
    </ul>
  </div>
</section>
