---
layout: content
title: ESL Select
name: ESL Select
containerCls: container
tags: [components, forms, beta]
---

{% mdRender 'src/modules/esl-forms/esl-select/README.md', 'intro' %}

<section class="row">
  <div class="col-12">
    <h2>Related components: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/components/esl-select-list' | url }}">ESL Select List</a></li>
    </ul>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/examples/forms-select' | url }}">Select Dropdown</a></li>
      <li class="list-inline-item"><a href="{{ '/examples/forms-select-list' | url }}">Select List</a></li>
    </ul>
  </div>
</section>
