---
layout: basic
title: ESL Panel
name: ESL Panel
containerCls: container
tags: basic
---

{% mdRender 'src/modules/esl-panel/README.md', 'intro' %}

<section class="row">
  <div class="col-12">
    <h2>Related components: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/basic/esl-toggleable' | url }}">ESL Toggleable</a></li>
      <li class="list-inline-item"><a href="{{ '/basic/esl-trigger' | url }}">ESL Trigger</a></li>
    </ul>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/samples/accordion' | url }}">Accordion</a></li>
      <li class="list-inline-item"><a href="{{ '/samples/tabs' | url }}">Tabs</a></li>
    </ul>
  </div>
</section>
