---
layout: basic
title: ESL Footnotes
name: ESL Footnotes
containerCls: container
tags: [basic, drafts]
---

{% mdRender 'src/modules/esl-footnotes/README.md', 'intro' %}

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/samples/footnotes' | url }}">Footnotes</a></li>
    </ul>
  </div>
</section>
