---
layout: basic
title: ESL Alert
name: ESL Alert
containerCls: container
tags: basic
---

{% mdRender 'src/modules/esl-alert/README.md', 'intro' %}

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ '/samples/notification' | url }}">Notification</a></li>
    </ul>
  </div>
</section>
