@import (reference) "../../common/variables.less";

.browser-support {
  position: relative;
  flex-direction: column;
  margin: 5rem auto;

  &-text {
    margin-bottom: 2rem;
  }

  &-link {
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  &-image {
    position: relative;
    text-align: center;

    svg {
      max-width: 75%;

      @media @sm {
        margin-left: 25%;
        max-width: 60%;
      }

      @media @md {
        max-width: 100%;
      }
    }
  }

  @media @md-xl {
    flex-direction: row;
    align-items: center;

    &-content, &-image {
      width: 50%;
    }

    &-text {
      max-width: 80%;
    }
  }
}
