@import (reference) "./variables.less";

// TODO: naming convention
.esl-accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

  border: 1px solid @secondary-blue;
  border-radius: 0.3rem;

  margin-bottom: 0.5em;

  &-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  &-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;

    border-bottom: 1px solid transparent;
    transition: border-bottom-color .4s ease-in-out;

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    &[active] {
      color: @primary-blue;
      border-bottom-color: @secondary-blue;
    }
  }
}
