.animate-ul {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #0082CA;
  margin: 30px 0;

  &-li {
    min-width: 200px;
    height: 200px;
    list-style-type: none;
    flex: 1 0 0px;
    margin: 20px;
    border-radius: 8px;

  }

  &-group {
    background-color: #0097E7;
  }

  &-single {
    background-color: #24C3C9;
  }
}
