@import (reference) "./variables.less";

.badge {
  display: inline-block;
  text-transform: uppercase;
  padding: .45em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;

  &:empty {
    display: none;
  }

  &-sidebar {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
  }

  &-hidden {
    display: none !important;
  }

  &-md {
    padding: .4em .8em;
    font-size: 80%;
  }

  &-warning {
    color: #fff;
    background-color: @warning;
  }

  &-danger {
    color: #fff;
    background-color: @danger;
  }

  &-success {
    color: #fff;
    background-color: @success;
  }

  &-link {
    font-weight: 500;
    background-color: #fff;
    border: 1px solid @secondary-blue;
  }

  &-sup {
    display: inline-block;
    font-size: 52%;
    font-weight: 700;
    vertical-align: super;
    letter-spacing: .5px;
    text-shadow: 0 0 1px #2125293d;
  }

  &-img {
    width: 20px;
    height: 20px;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
