pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: #dd4a68;
  word-wrap: break-word;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

.code-block {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  color: #000;
  border: 1px solid #bbb;
  border-radius: .25rem;
  background-color: #eee;

  font-weight: bolder;
}
