@import (reference) "./variables.less";

pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: #0077b7;
  word-wrap: break-word;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  overflow: auto;
  background: #131a2e;
  padding: 1em;
  margin: .5em 0;
  border-radius: .5em;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

.code-block {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  color: #000;
  border: 1px solid #bbb;
  border-radius: .25rem;

  font-weight: bolder;
}
