.content-flex {
  display: flex;
}

.component-related {
  position: absolute;
  right: 117px;
  top: 191px;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: 1200px) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.container {
  @media (min-width: 576px) {
    max-width: 536px;
  }

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 1000px) {
    max-width: 900px;
  }

  @media (min-width: 1200px) {
    max-width: 1100px;
  }

  @media (min-width: 1600px) {
    max-width: 1400px;
  }
}
