.esl-doc {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  border: 1px solid @secondary-blue;
  border-radius: .3rem;
  margin-bottom: 2rem;
  padding: .75rem 1.25rem;

  &-signature {
    padding: .75rem 1.25rem;
    color: @primary-blue;
    border-bottom: 1px solid @secondary-blue;
  }

  &-comment {
    white-space: break-spaces;
  }

  &-p {
    padding: .75rem 1.25rem;
  }

  &-ul {
    padding: 0 20px;
  }
}
