@import "./variables.less";

.markdown-container {
  & ul,
  & ol {
    padding-left: 1.5rem;

    p {
      margin-bottom: .5rem;
    }

    p:only-child {
      margin-bottom: 0;
    }
  }

  a[href] {
    color: inherit;
    text-decoration: solid underline @primary-blue 1px;

    &:hover {
      text-decoration: solid underline @success 2px;
    }
  }
}
