.markdown-container {
  & ul,
  & ol {
    padding-left: 1.5rem;

    p {
      margin-bottom: .5rem;
    }

    p:only-child {
      margin-bottom: 0;
    }
  }

  a[href] {
    color: inherit;
    text-decoration: underline @primary-blue;

    &:hover {
      text-decoration: underline lightgreen;
    }
  }
}
