.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-item {
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
    [dir='rtl'] &:not(:last-child) {
      margin-left: 0.25rem;
      margin-right: 0;
    }
  }

  &-link {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid @secondary-blue;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default
    }
    &.active {
      color: #fff;
      background-color: @primary-blue
    }
  }

  &-pills &-link {
    border-radius: 0.25rem;
  }
}

.nav-tabs {
  border-bottom: 1px solid @primary-blue;

  .nav-item {
    margin-bottom: -1px;
  }

  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

    &:focus, &:hover {
      border-color: #e9ecef #e9ecef @primary-blue;
    }
    &.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent
    }
    &.active {
      color: #fff;
      background-color: @primary-blue;
      border-color: @primary-blue
    }
  }
}
