.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-link {
    display: block;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default
    }
    &.active {
      color: #fff;
      background-color: #007bff
    }
  }

  &-pills &-link {
    border-radius: 0.25rem;
  }
}

.nav-tabs {
  border-bottom: 1px solid  #6283ff;

  .nav-item {
    margin-bottom: -1px;
  }

  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

    &:focus, &:hover {
      border-color: #e9ecef #e9ecef #6283ff;
    }
    &.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent
    }
    &.active {
      color: #495057;
      background-color: #fff;
      border-color: #6283ff  #6283ff #fff
    }
  }
}
