@import (reference) "./variables.less";

.uip-root {
  background-color: transparent;

  .uip-snippets {
    .snippets-title {
      font-size: 1.25rem;
    }

    .snippets-dropdown {
      max-width: 100%;
      font-size: 1.1rem;
    }

    .snippets-list {
      padding-left: 35px;
    }
  }

  .uip-header {
    justify-content: flex-end;
  }

  .uip-options {
    width: auto;
  }

  .uip-settings {
    accent-color: @body-fg;

    .esl-select {
      background-color: #fff;
    }
  }

  &.dark-theme {
    .uip-settings {
      .esl-select {
        background-color: transparent;
      }
    }
  }
}
