@import (reference) "./variables.less";

.uip-root {
  background-color: transparent;
  .uip-plugin {
    color: inherit;
  }
  .uip-plugin .uip-plugin-inner {
    background-color: transparent;
  }
  .uip-settings {
    accent-color: @body-fg;
    label {
      display: block;
    }
  }
}
