.simple-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 30px 0;
  gap: 40px;

  & > &-cell {
    list-style-type: none;
    flex: 1 1 0px;
    min-width: 200px;
    min-height: 200px;
  }

  &-fw > &-cell {
    flex: 1 1 100%;
  }
}
