@import (reference) "./variables.less";

.border {
  padding: 60px 0px;
  border: 1px solid @primary-green;
  border-radius: 6px;
}

.container-truncate {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
  border: 1px solid @primary-green;
  border-radius: 6px;
  margin-bottom: 80px;


  @media (min-width: 320px) {
    .ex1 {
      width: 60px;
      height: 300px;
    }

    .ex2 {
      width: 70px;
    }

    .ex3 {
      width: 60px;
    }
  }

  @media (min-width: 700px) {
    .ex1 {
      width: 150px;
      height: 300px;
    }

    .ex2 {
      width: 140px;
    }

    .ex3 {
      width: 100px;
    }
  }

  @media (min-width: 800px) {
    .ex1 {
      width: 180px;
      height: 300px;
    }

    .ex2 {
      width: 200px;
    }

    .ex3 {
      width: 150px;
    }
  }

  @media (min-width: 900px) {
    .ex1 {
      width: 200px;
      height: 300px;
    }

    .ex2 {
      width: 240px;
    }

    .ex3 {
      width: 210px;
    }
  }

  @media (min-width: 1200px) {
    .ex1 {
      width: 250px;
      height: 300px;
    }

    .ex2 {
      width: 240px;
    }

    .ex3 {
      width: 250px;
    }
  }

  .ex, .exam, .exa {
    margin-bottom: 0px;
  }

  .exam1 {
    width: 200px;
    height: 400px;
  }

  .exam2 {
    width: 250px;
    height: 200px;
  }

  .exam3 {
    width: 300px;
    height: 300px;
  }

  .wrapper {
    padding: 20px;
    border: 1px solid @primary-blue;
    border-radius: 6px;
    height: 100%;
  }
}
