@import './core/plugin';
@import './core/variables';
@import './core/theme';
@import './core/mode';
@import './editor/editor';
@import './options/options';
@import './preview/preview';
@import './snippets/snippets';
@import './settings/setting/setting';
@import '~@exadel/esl/modules/esl-scrollbar/core';

uip-root {
  display: grid;
  gap: 20px;
  height: 100%;
  padding: 20px 80px;
}

uip-options {
  grid-column: 1 / -1;
  display: flex;
  flex: 0 1 auto;
  align-items: baseline;

  .uip-option {
    display: flex;
    flex: 0 1 auto;
    margin-left: 15px;
  }

  .option-item {
    .option-radio-btn {
      display: none;
    }

    .option-label {
      cursor: pointer;
    }

    &:not(:last-child) {
      &::after {
        content: '|';
        width: 5px;
        height: 100%;
        font-weight: 400;
        margin: 0 5px;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

uip-snippets, uip-preview, uip-settings, uip-editor {
  margin-top: 5px;
  border: 1px solid @section-border;
}

uip-settings {
  padding: 10px;
}

@media screen and (max-width: 991px) {
  uip-root.uip-root {
    padding: 20px 60px;

    &.vertical-mode, &.horizontal-mode {

      &.settings-attached {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto 200px 350px;

        uip-editor {
          grid-column: 1 / 2;
          grid-row: 5 / 6;
        }
      }

      grid-template-columns: 100%;
      grid-template-rows: auto auto auto 350px;

      uip-snippets {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      uip-settings {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      uip-editor {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      .uip-option.mode {
        display: none;
      }
    }
  }
}

