@import './snippets/snippets';
@import './settings/setting/setting';
@import './core/variables';
@import './core/theme';
@import './core/mode';

uip-root {
  height: 100vh;
  display: grid;
  gap: 20px;
}

.section-name {
  font-size: 20px;
  font-weight: 500;
}

uip-options {
  grid-column: 1 / -1;
  display: flex;
  flex: 0 1 auto;

  .section-name {
    margin-right: 15px;
  }

  .uip-option {
    display: flex;
    flex: 0 1 auto;
    margin: 5px 15px 0 0;
  }

  .option-item {
    .option-radio-btn {
      display: none;
    }

    .option-label {
      cursor: pointer;
    }

    &:not(:last-child) {
      &::after {
        content: '|';
        width: 5px;
        height: 100%;
        font-weight: 400;
        margin: 0 5px;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

.snippets-section, uip-preview, uip-settings, uip-editor {
  margin-top: 5px;
  border: 1px solid @section-border;
}

.snippets-section, uip-preview, uip-settings {
  padding: 10px;
}

.preview-wrapper, .settings-wrapper {
  display: flex;
  flex-direction: column;
}

uip-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

uip-settings, uip-editor {
  height: 100%;
  display: block;
  overflow: auto;
}

@media screen and (max-width: 992px) {
  // Add specificity
  uip-root {
    &.vertical-mode, &.horizontal-mode {

      &.settings-attached {
        grid-template-columns: 100%;
        grid-template-rows: auto auto 450px 200px 350px;

        .editor-wrapper {
          grid-column: 1 / 2;
          grid-row: 5 / 6;
        }
      }

      grid-template-columns: 100%;
      grid-template-rows: auto auto 450px 350px;

      .snippets-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .snippets-section {
        height: auto;
      }

      .preview-wrapper {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .settings-wrapper {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      .editor-wrapper {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      .uip-option.mode {
        display: none;
      }
    }
  }
}

