---
title: Components Combination
hash: flexibility
tags: overview-quick
parent: 00-components
---

<p>
  ESL components are designed to be flexible and can be combined in various ways to create complex interfaces.
</p>
<p>
  Here are some examples of how ESL components can be combined to create common UI patterns.
</p>
