---
title: Wide list of result UX patterns
tags: overview-quick
cls: full-width
parent: 00-components
---

{% from 'navigation/collection-grid.njk' import grid with context %}

{{ grid('examples', {noBadge: true}) }}
