@import (reference) '../../common/variables.less';

esl-d-sidebar {
  .sidebar-nav-item-share {
    --esl-share-icon-size: 32px;
    visibility: visible;
    opacity: 1;
    transition:
      visibility 0s,
      opacity 0.25s;

    padding: 15px 40px 15px 25px;
    @media @sm-xl {
      --esl-share-icon-size: 30px;
      margin-top: auto;
      margin-bottom: 0;
      padding: 30px 40px 0 21px;
    }
    @media @sm {
      padding-left: 36px;
    }

    .esl-share {
      display: flex;
      align-items: center;
    }

    .esl-share-list {
      max-width: 100%;
      flex: 0 0 auto;
      margin: 0 -5px; // Offset for facebook icon
      gap: 1.75rem;
      @media @sm-xl {
        gap: 0.65rem;
      }

      .esl-share-icon {
        background-color: transparent !important;
      }
    }

    .esl-share-button {
      overflow: hidden;
      border-radius: 7px;
    }
  }

  &:not(.open) .sidebar-nav-item-share {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.25s,
      opacity 0.25s;
  }

  .sidebar-scrollbar:not([inactive]) + .sidebar-nav-list {
    .sidebar-nav-item-share {
      @media @sm-xl {
        padding-right: 55px;
      }
    }
  }
}
