.scrollbar-collapsed {
  .esl-scrollbar[at-start] {
    visibility: hidden;
    transition: visibility 0s;
  }
}

.scrollbar-expanded {
  .esl-scrollbar[at-start] {
    visibility: initial;
    transition: visibility 0s .3s;
  }
}
