---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container-gutter">

    <h2 class="pl-title grln-title center">&lt;smart-image&gt; component</h2>

    <div class="row">
        <div class="img-container img-container-16-9" style="width: 90%">
            <smart-image mode="save-ratio"
                         data-alt="Alt Text Test"
                         data-src="
                                    img-1-carousel-9-6.jpg |
                                    @LG => img-2-carousel-9-6.jpg |
                                    @MD => img-3-carousel-9-6.jpg |
                                    @SM => img-4-carousel-9-6.jpg |
                                    @XS => img-5-carousel-9-6.jpg |
                         "
                         data-src-base="/images/"></smart-image>
        </div>
    </div>
</div>
#}}