---
layout: ../../layouts/basic.html
---

{{##content:
<smart-multicarousel>

    <button type="button" role="presentation" class="arrow-prev" onclick="void 0">
        <span class="icon-arrow-left" data-slide-target="prev"></span>
    </button>

    <div data-slide-area>

        <!-- CAROUSEL-ITEM -->
        <div data-slide-item class="active-slide">
            <div class="post-text">
                <p>
                    aaa
                </p>
            </div>
        </div>

        <div data-slide-item class="active-slide">
            <div class="post-text">
                <p>
                    bbb
                </p>
            </div>
        </div>

        <div data-slide-item class="active-slide">
            <div class="post-text">
                <p>
                    ccc
                </p>
            </div>
        </div>


        <div data-slide-item>
            <div class="post-text">
                <p>
                    eee
                </p>
            </div>
        </div>

        <div data-slide-item>
            <div class="post-text">
                <p>
                    ddd
                </p>
            </div>
        </div>

        <div data-slide-item>
            <div class="post-text">
                <p>
                    fff
                </p>
            </div>
        </div>

        <div data-slide-item>
            <div class="post-text">
                <p>
                    kkk
                </p>
            </div>
        </div>

        <div data-slide-item>
            <div class="post-text">
                <p>
                    lll
                </p>
            </div>
        </div>

        <div data-slide-item>
            <div class="post-text">
                <p>
                    mmm
                </p>
            </div>
        </div>
        <!-- /CAROUSEL-ITEM -->

    </div>

    <button type="button" role="presentation" class="arrow-next" onclick="void 0">
        <span class="icon-arrow-right" data-slide-target="next"></span>
    </button>

    <smart-multicarousel-dots class="carousel-dots-wrapper"></smart-multicarousel-dots>

</smart-multicarousel>
#}}