---
layout: ../../layouts/basic.html
---

{{##content:
<div class="container-gutter">

    <h2 class="pl-title grln-title center">Smart Video Embedded | YT</h2>

    <div class="row">
        <div style="width: 80%;">
            <div class="img-container img-container-16-9 img-container-loaded">
                <smart-video-embedded id="sve-target" video-id="8tbNdGa2iS0"
                                      video-type="youtube"></smart-video-embedded>
            </div>
        </div>
    </div>

    <div class="video-embedded-buttons" style="width: 80%;">
        <div id="sve-test-actions">
            <div class="row">
                <button class="btn" data-action="play">Play</button>
                <button class="btn" data-action="pause">Pause</button>
                <button class="btn" data-action="stop">Stop</button>
            </div>
            <hr/>
            <script>
                (function () {
                    var sve = document.getElementById('sve-target');
                    var container = document.getElementById('sve-test-actions');
                    container.addEventListener('click', function (e) {
                        var target = e.target && e.target.dataset.action;
                        switch (target) {
                            case 'play':
                                sve.play();
                                break;
                            case 'pause':
                                sve.pause();
                                break;
                            case 'stop':
                                sve.stop();
                                break;
                        }
                    });
                })();
            </script>
        </div>
    </div>

    <h2 class="pl-title grln-title center">Smart Video Embedded | Video</h2>

    <div class="row">
        <div style="width: 80%;">
            <div class="img-container img-container-16-9 img-container-loaded">
                <smart-video-embedded id="sve-target-2" video-src="blob:http://localhost:3000/08200f7d-84b1-4e5b-9808-c89a95116f9c"
                                      video-type="video">
                </smart-video-embedded>
            </div>
        </div>
    </div>

    <div class="video-embedded-buttons" style="width: 80%;">
        <div id="sve-test-actions-2">
            <div class="row">
                <button class="btn" data-action="play">Play</button>
                <button class="btn" data-action="pause">Pause</button>
                <button class="btn" data-action="stop">Stop</button>
            </div>
            <hr/>
            <script>
                (function () {
                    var sve = document.getElementById('sve-target-2');
                    console.log(sve);
                    var container = document.getElementById('sve-test-actions-2');
                    container.addEventListener('click', function (e) {
                        var target = e.target && e.target.dataset.action;
                        switch (target) {
                            case 'play':
                                sve.play();
                                break;
                            case 'pause':
                                sve.pause();
                                break;
                            case 'stop':
                                sve.stop();
                                break;
                        }
                    });
                })();
            </script>
        </div>
    </div>
</div>
#}}