@import (reference) "../common/variables.less";

.benefit {
  color: #fff;
  position: relative;

  &-title {
    margin-bottom: 100px;
  }

  &-item {
    display: flex;
    list-style: none;
    margin: 30px 20px;
    flex: 1 0 0px;
    align-items: center;
  }

  &-container {
    margin: 0 -15px;
    padding-bottom: 100px;
  }

  &-icon {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    display: flex;
    align-items: center;

  svg{
    height: 60px;
  }
  }

  &-content-name {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
    border: none;
  }
}

@media @sm-xl{
  .benefit{
    &-item{
      display: block;
    }
    &-container {
      display: flex;
      flex-wrap: wrap;
    }
    &-icon {
      margin-bottom: 40px;
    }
  }
}

@media @sm{
  .benefit-item{
    min-width: 245px;
    max-width: 350px;
  }
}

@media @md-lg {
  .benefit{
    &-item{
      min-width: 340px;
      max-width: 500px;
    }
    &-container {
      padding-bottom: 130px;
    }
  }
}

@media @xl {
  .benefit {
    &-item {
      min-width: 400px;
      max-width: 500px;
    }
    &-container {
      padding-bottom: 150px;
    }
  }
}
