---
layout: ./html5.html
scrollbar: true
---

{{##head:

<script>
    /* Polyfill */
    (function () {
        let version = '';
        if (!window.Promise || !window.CustomEvent) {
            version = 'full';
        } else if (!('getRootNode' in Element.prototype) || !window.customElements || !window.IntersectionObserver) {
            version = 'light';
        }
        (version) && document.write('<script type="text/javascript" src="/bundles/polyfill-' + version + '.js"><\/script>');
    })();
</script>

<link type="text/css" rel="stylesheet" href="/bundles/localdev.css">

{{= layout.head || '' }}
#}}


{{##body:
<header class="header">
    {{= partial('./header.html')}}
</header>
<main role="main">
    {{?layout.title}}
    <h1 class="text-center pt-2">{{= page.getPageTitle(layout.title)}}</h1>
    <hr/>
    {{?}}
    <div class="content {{= layout.containerCls || 'container-fluid'}}">
        {{= layout.content || 'No content.' }}
    </div>
</main>
<footer class="footer bg-dark">
    {{= partial('./footer.html')}}
</footer>

<script src="/bundles/localdev.js"></script>
#}}
