---
layout: ./html5.html
scrollbar: true
---

{{##head:
<script>
  /* Polyfill */
  (function () {
    let version = '';
    if (!window.Promise || !window.CustomEvent) {
      version = 'full';
    } else if (!('getRootNode' in Element.prototype) || !window.customElements || !window.IntersectionObserver) {
      version = 'light';
    }
    (version) && document.write('<script type="text/javascript" src="/bundles/polyfill-' + version + '.js"><\/script>');
  })();
</script>

<link rel="icon" type="image/png"
      href="{{= page.invokeController('PublishConfig').resolve('/assets/logo-64x64.png')}}" />

<link type="text/css" rel="stylesheet"
      href="{{= page.invokeController('PublishConfig').resolve('/bundles/localdev.css')}}" />

{{= layout.head || '' }}
#}}

{{##body:
<header class="header">
  {{= partial('../navigation/header.html')}}
</header>
<main role="main">
  <div class="content {{= layout.containerCls || 'container-fluid'}}">
    {{?layout.title}}
    <h1 class="text-center pt-2">{{= page.getPageTitle(layout.title)}}</h1>
    <hr/>
    {{?}}
    {{= layout.content || 'No content.' }}
  </div>
</main>
<footer class="footer bg-dark">
  {{= partial('../navigation/footer.html')}}
</footer>

<script src="{{= page.invokeController('PublishConfig').resolve('/bundles/localdev.js')}}"></script>
#}}
