<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="hd-content">
      <a class="navbar-brand" href="{{= page.resolveURL('/' + SERVER_CONFIG.defaultPageUrl)}}">Exadel Smart Library</a>

      <div class="hd-dropdown">
        <esl-trigger class="hd-dropdown-trigger" event="hover" target="::next">
          <button class="btn btn-link hd-dropdown-btn">Components List</button>
          <span class="hd-dropdown-arrow-icon"></span>
        </esl-trigger>

        <esl-panel class="hd-dropdown-content" default-params="{hideDelay: 250}" fallback-duration="500">
          <ul class="hd-dropdown-list">
            {{ let rootPages = page.invokeController('InnerPages', '/'); }}

            {{~ rootPages :innerPage}}
            <li class="nav-item hd-dropdown-item {{? innerPage.href === page.location.pathname}}active{{?}}">
              <a class="hd-dropdown-link" href="{{= page.resolveURL(innerPage.href)}}">{{= innerPage.title }}</a>
            </li>
            {{~}}
          </ul>
        </esl-panel>
      </div>
    </div>

    <button class="btn btn-outline-info gn-back-trigger">← Back</button>

  </div>
</nav>
