esl-alert {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 30%;
  right: 35%;
  bottom: 20px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  background-color: #008000;
  transition: opacity .3s ease .05s, visibility 0s linear .35s;
  color: #fff;
  z-index: 10002;

  &[open] {
    opacity: 1;
    visibility: visible;
  }
}
