---
layout: ../layouts/basic.html
title: ESL Scrollbar <span class="badge badge-warning">Beta</span>
---

{{##content:
<section class="row">
  <style>
    .test-popup {
      position: absolute;
      height: 500px;
      width: 400px;
      z-index: 100;
      box-shadow: 0 0 16px 8px rgba(0, 0, 0, .4);
      overflow: hidden;
      resize: both;
    }

    .test-popup .esl-scrollable-content {
      max-height: 100%;
      padding: 20px;
    }

    .test-popup esl-scrollbar {
      right: 4px;
    }
  </style>
    <div class="col-8 m-auto">
        <esl-trigger target="::next">
            <button class="btn btn-primary">Toggle Modal</button>
        </esl-trigger>
        <esl-popup class="test-popup"
                   close-on-body-click
                   disable-scroll
                   style="background: #e6c3c3;">
            <div class="esl-scrollable-content">
                <div>
                    <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellanRt
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.
                        At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellant
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.</p>

                    <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellant
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>
                </div>
            </div>
            <esl-scrollbar class="test-scrollbar-1" target="::prev"></esl-scrollbar>
        </esl-popup>
    </div>
</section>
<section class="row">
    <style>
        .test-popup {
            position: absolute;
            height: 500px;
            width: 400px;
            z-index: 100;
            box-shadow: 0 0 16px 8px rgba(0, 0, 0, .4);
        }

        .test-popup .esl-scrollable-content {
            max-height: 100%;
            padding: 20px;
        }

        .test-popup esl-scrollbar {
            right: 4px;
        }
    </style>
    <div class="col-8 m-auto">
        <esl-trigger target="::next">
            <button class="btn btn-primary">Toggle Modal</button>
        </esl-trigger>
        <esl-popup class="test-popup"
                   close-on-body-click
                   style="background: #9fe6d2;">
            <div class="esl-scrollable-content">
                <div>
                    <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellanRt
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.
                        At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellant
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.</p>

                    <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellant
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                        there be in a week?</p>
                </div>
            </div>
            <esl-scrollbar class="test-scrollbar-1" target="::prev"></esl-scrollbar>
        </esl-popup>
    </div>
</section>
<section class="row">
    <div class="col-8 m-auto" style="background: #c3d4e6;">
        <div class="content esl-scrollable-content">
            <div style="height: 500px; padding: 30px 60px;">
                <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.
                    At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>
            </div>
        </div>
        <esl-scrollbar class="animate"
                       target="::prev"></esl-scrollbar>
    </div>
</section>
<section class="row">
    <div class="col-8 m-auto" style="padding: 30px 0; position: relative; background: #c3e6cb;">
        <div class="content esl-scrollable-content">
            <div style="height: 500px; padding: 30px 60px;">
                <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.
                    At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.</p>

                <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.
                    At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.</p>
            </div>
            <esl-scrollbar target="::parent"></esl-scrollbar>
        </div>
    </div>
</section>
<section class="row">
    <style>
        .test-popup {
            position: absolute;
            width: 400px;
            z-index: 100;
            box-shadow: 0 0 16px 8px rgba(0, 0, 0, .4);
        }

        .test-popup .esl-scrollable-content {
            padding: 20px;
        }
    </style>
    <div class="col-8 m-auto">
        <esl-trigger target="::next">
            <button class="btn btn-primary">Toggle Modal</button>
        </esl-trigger>
        <esl-popup class="test-popup"
                   close-on-body-click
                   style="background: #e6c3c3;">
            <div class="esl-scrollable-content">
                <div style="width: 1900px; padding: 30px 10px;">
                    <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you
                        shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellanRt
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses
                        will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive
                        equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.
                        At the current rate of rainfall, when will your local reservoir overflow its banks? If you
                        shoot
                        a
                        rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of
                        propellant
                        and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the
                        payoff
                        balance be after four years? If a lab culture is doubling every 14 hours, how many viruses
                        will
                        there be in a week?</p>

                    <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive
                        equations
                        to
                        solve problems in a general way. Rather, they are asked by working engineers, technicians,
                        military
                        ballistics officers, and financiers, all of whom need an actual number: Given this set of
                        inputs,
                        tell me the answer.</p>
                </div>
            </div>
            <esl-scrollbar class="test-scrollbar-2" target="::prev" horizontal></esl-scrollbar>
        </esl-popup>
    </div>
</section>
<section class="row" dir="rtl">
    <div class="col-8 m-auto" style="position: relative; background: #e6e5b8;">
        <div class="content esl-scrollable-content">
          <button class="btn btn-link">Click me</button>
            <div style="width: 1900px; padding: 60px 30px;">
                <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>
                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.
                    At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.</p>

                <p>At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.
                    At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                    rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                    and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                    balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                    there be in a week?</p>

                <p>Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                    solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                    ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                    tell me the answer.</p>
            </div>
            <esl-scrollbar target="::parent" horizontal></esl-scrollbar>
        </div>
    </div>
</section>
#}}
