---
layout: ../layouts/basic.html
containerCls: container
title: ESL Alert component
---

{{##content:
<section class="row">
  <div class="col-12">
    <h3 class="text-center">Triggers</h3>
    <div class="demo">

      <div class="m-2 p-2">
        <button type="button" class="btn btn-primary esl-alert-show"
                data-text="Global Alert Long">Show Long</button>
        <button type="button" class="btn btn-success esl-alert-show"
                data-text="Global Alert Short" data-delay="1500">Show Quick</button>
        <button type="button" class="btn btn-dark esl-alert-hide">Hide</button>
      </div>
      <div class="m-2 p-2 bg-info" style="min-height: 200px">
        <button type="button" class="btn btn-primary esl-alert-show"
                data-html="Inner <h2>Alert</h2> Long">Show Long</button>
        <button type="button" class="btn btn-success esl-alert-show"
                data-text="Inner Alert Short" data-delay="1500">Show Quick</button>
        <button type="button" class="btn btn-dark esl-alert-hide">Hide</button>

        <esl-alert default-params="{cls: 'bg-warn'}"></esl-alert>
      </div>

      <script type="text/javascript">
        document.querySelector('.demo').addEventListener('click', function (e) {
          /** @type HTMLElement */
          var el = e.target;
          var params = {};

          if (el && el.matches('.esl-alert-show')) {
            if (el.dataset.text) {
              params.text = el.dataset.text;
            }
            if (el.dataset.html) {
              params.html = el.dataset.html;
            }
            if (el.dataset.delay) {
              params.hideDelay = +el.dataset.delay;
            }
            el.dispatchEvent(new CustomEvent(`esl:alert:show`, {bubbles: true, detail: params}));
          }
          if (el && el.matches('.esl-alert-hide')) {
            el.dispatchEvent(new CustomEvent(`esl:alert:hide`, {bubbles: true}));
          }
        });
      </script>
    </div>
  </div>
</section>
#}}
