---
layout: ../layouts/playground.html
containerCls: container
title: UI-Playground
---

{{##snippets:
<uip-snippets>
  <template uip-snippet label="example 1">
    <span>hello 1</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>


  <ul class="snippets-list"></ul>
</uip-snippets>
#}}

{{##settings:
<uip-settings>
  <uip-check-setting name="check" selector="p"></uip-check-setting>
  <uip-check-setting name="check" selector="p"></uip-check-setting>
</uip-settings>
#}}
