---
layout: ../layouts/playground.html
containerCls: container
title: UI-Playground
---

{{##snippets:
<uip-snippets>
  <template uip-snippet label="example 1">
    <span>hello 1</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>
  <template uip-snippet label="example 2">
    <span>hello 2</span>
  </template>

  <ul class="snippets-list"></ul>
</uip-snippets>
#}}

{{##settings:
<uip-settings>
  <uip-check-setting name="check" selector="p"></uip-check-setting>
  <uip-check-setting name="check" selector="p"></uip-check-setting>
  <uip-list-setting name="check" selector="p">
    <uip-list-item value="1">1</uip-list-item>
    <uip-list-item value="2">2</uip-list-item>
  </uip-list-setting>
  <uip-text-setting name="check" selector="p"></uip-text-setting>
</uip-settings>
#}}
