---
layout: ../layouts/basic.html
containerCls: container
title: Smart Accordion
---

{{##content:
<section class="row">
    <div class="col-12">
        <h3 class="text-center">Smart Accordion</h3>

        <div class="accordion-group">
            <div class="card">
                <smart-trigger class="card-header" target="next" mode="toggle" event="click">
                    <h5 class="mb-0">
                        <button class="btn btn-link">
                            Toggle Accordion #1
                        </button>
                    </h5>
                </smart-trigger>
                <smart-collapsible open group="accordion-group" initial-params="{noAnimation: true}">
                    <div class="card-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </smart-collapsible>
            </div>
            <div class="card">
                <smart-trigger class="card-header" target="next" event="hover" hide-delay="250">
                    <h5 class="mb-0">
                        <button class="btn btn-link">
                            Toggle Accordion #2
                        </button>
                    </h5>
                </smart-trigger>
                <smart-collapsible group="accordion-group">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit euismod in pellentesque massa placerat duis. Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Ornare arcu dui vivamus arcu felis bibendum. Vitae congue eu consequat ac felis donec et odio. Purus non enim praesent elementum facilisis leo vel. Tellus elementum sagittis vitae et. Tempor nec feugiat nisl pretium fusce id velit. Molestie at elementum eu facilisis sed odio morbi quis commodo. Maecenas sed enim ut sem viverra aliquet eget sit amet. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Aliquet eget sit amet tellus cras adipiscing enim. Eu turpis egestas pretium aenean pharetra magna ac. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Lacus sed viverra tellus in hac habitasse. Faucibus pulvinar elementum integer enim.</p>
                        <p>Pellentesque habitant morbi tristique senectus. Fermentum dui faucibus in ornare quam viverra. Praesent semper feugiat nibh sed. Ultricies leo integer malesuada nunc vel risus commodo viverra. A lacus vestibulum sed arcu non odio euismod lacinia. Ac turpis egestas integer eget aliquet nibh praesent tristique. Tellus mauris a diam maecenas sed enim. Sollicitudin ac orci phasellus egestas tellus rutrum. Egestas diam in arcu cursus euismod. Quis imperdiet massa tincidunt nunc.</p>
                    </div>
                </smart-collapsible>
            </div>
            <div class="card">
                <smart-trigger class="card-header" target="next" event="hover" hide-delay="250">
                    <h5 class="mb-0">
                        <button class="btn btn-link">
                            Toggle Accordion #3
                        </button>
                    </h5>
                </smart-trigger>
                <smart-collapsible group="accordion-group">
                    <div class="card-body">
                        <p>Egestas fringilla phasellus faucibus scelerisque eleifend donec. Convallis a cras semper auctor neque. Elementum integer enim neque volutpat ac tincidunt vitae semper. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. In metus vulputate eu scelerisque felis imperdiet. Nunc id cursus metus aliquam. Nisl rhoncus mattis rhoncus urna neque. Interdum velit euismod in pellentesque. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Ipsum dolor sit amet consectetur. Volutpat blandit aliquam etiam erat velit. Quis viverra nibh cras pulvinar. Tristique et egestas quis ipsum suspendisse ultrices.</p>
                        <p>Aliquet bibendum enim facilisis gravida neque convallis a. Consectetur purus ut faucibus pulvinar. Elementum curabitur vitae nunc sed. In ornare quam viverra orci sagittis eu volutpat odio. Pellentesque nec nam aliquam sem et tortor consequat. Ipsum dolor sit amet consectetur adipiscing elit duis. Congue nisi vitae suscipit tellus. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. Massa placerat duis ultricies lacus sed turpis tincidunt. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit. Tempus iaculis urna id volutpat.</p>
                    </div>
                </smart-collapsible>
            </div>
        </div>
    </div>
</section>
#}}