---
layout: ../layouts/basic.html
title: Smart Scrollbar <span class="badge badge-warning">Beta</span>
---

{{##content:
<section class="row">
    <div class="col-6">
        <div class="content smart-scrollable-content" style="height: 500px;">
            <div style="background: #c3e6cb; padding: 30px 60px;">
                At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                there be in a week?

                Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                tell me the answer.
                At the current rate of rainfall, when will your local reservoir overflow its banks? If you shoot a
                rocket at an angle of 60 degrees into a headwind, how far will it fly with 40 pounds of propellant
                and a 5-pound payload? Assuming a 100-month loan for $75,000 at 5.11 percent, what will the payoff
                balance be after four years? If a lab culture is doubling every 14 hours, how many viruses will
                there be in a week?

                Those sorts of questions aren’t asked by mathematicians, who are the people who derive equations to
                solve problems in a general way. Rather, they are asked by working engineers, technicians, military
                ballistics officers, and financiers, all of whom need an actual number: Given this set of inputs,
                tell me the answer.
            </div>
            <smart-scrollbar target="::parent"
                             direction="vertical"></smart-scrollbar>
        </div>
    </div>
</section>
#}}
