---
layout: content
title: Accordion (Regression)
name: Accordion (Regression)
tags: [draft]
icon: examples/accordion.svg
---
<section class="row">
  <div class="col-12">
    <h2>Simple multiple accordion with at least 3 and simultaneously maximum open panels</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" min-open-items="3" max-open-items="1"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" min-open-items="3" max-open-items="1">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #4
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #5
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #6
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Single accordion transforms to open from MD (restore initial state)</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4" min-open-items="0 | @+MD => all" max-open-items="1 | @+MD => all" refresh-strategy="initial"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4" min-open-items="0 | @+MD => all" max-open-items="1 | @+MD => all" refresh-strategy="initial">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Single accordion (restore initial state) transforms to multiple with maximum 2 open panels (restore last state) from MD</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4"
                       min-open-items="1 | @+MD => 2"
                       max-open-items="1"
                       refresh-strategy="initial | @+MD => last"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4"
                     min-open-items="1 | @+MD => 2"
                     max-open-items="1"
                     refresh-strategy="initial | @+MD => last">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>

<section class="row">
  <div class="col-12">
    <h2>Multiple accordion with at least 2 open panels transforms to open from MD (restore initial state)</h2>
    {% code 'html', 'code-block' %}
      <esl-panel-group class="accordion-group mb-4"
                       min-open-items="2 | @+MD => all"
                       max-open-items="1"
                       refresh-strategy="initial"/>
    {% endcode %}

    <esl-panel-group class="accordion-group mb-4"
                     min-open-items="2 | @+MD => all"
                     max-open-items="1"
                     refresh-strategy="initial">
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #1
        </esl-trigger>
        <esl-panel class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #2
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
      <div class="esl-d-accordion">
        <esl-trigger class="esl-d-accordion-header h4 esl-d-accordion-header-arrow" target="::next">
          Toggle Accordion #3
        </esl-trigger>
        <esl-panel open class="esl-d-accordion-panel">
          <div class="esl-d-accordion-body">
            <lorem-ipsum paragraphs="1"></lorem-ipsum>
          </div>
        </esl-panel>
      </div>
    </esl-panel-group>
  </div>
</section>
