---
layout: content
title: Focus Management (Regression)
name: Focus (Regression)
tags: [draft]
aside:
  components:
    - esl-toggleable
    - esl-trigger
    - esl-popup
    - esl-tooltip
---

{% import 'lorem.njk' as lorem %}

<section>
  <h2>Nested Focusable Elements</h2>

  <esl-trigger class="btn btn-sec-blue mb-2" target="#zone1">Open</esl-trigger>
  <esl-trigger class="btn btn-sec-orange mb-2" target="#zone2">Zone 2</esl-trigger>
  <esl-trigger class="btn btn-sec-orange mb-2" target="#popupForZone2">Popup for Zone 2</esl-trigger>


  <esl-popup id="popupForZone2" position="bottom" position-origin="outer">
    <div class="popup-content p-4">
      <esl-trigger class="btn btn-sec-orange mb-2" target="#zone2">Open zone</esl-trigger>
    </div>
  </esl-popup>

  <esl-toggleable id="zone1" class="alert alert-info p-3" a11y="modal" close-on-esc>
    Focus Trapped Zone

    <esl-trigger class="btn btn-link" target="#popup">Open Popup</esl-trigger>
    <esl-popup id="popup" position="top" position-origin="outer">
      <div class="popup-content p-2" style="max-width: 400px">
        <p>{{ lorem.paragraph(1) }}</p>
        <a href="#">Test</a>

        <esl-trigger class="btn btn-link" target="#popup4" track-hover hover-hide-delay="250">Nested Popup</esl-trigger>
        <esl-popup id="popup4" position="top" position-origin="outer">
          <div class="popup-content p-2">
            <button class="btn btn-sec-blue">Button 1</button>
            <button class="btn btn-sec-orange">Button 2</button>
          </div>
        </esl-popup>
      </div>
    </esl-popup>

    And some other popup content
    <esl-trigger class="btn btn-link" target="#popup2" track-hover hover-hide-delay="250">Hover Popup</esl-trigger>
    <esl-popup id="popup2" position="top" position-origin="outer">
      <div class="popup-content p-2" style="max-width: 400px">
        <p>{{ lorem.paragraph(1) }}</p>
        <a href="#">Test</a>
        <button class="btn btn-link">Focusable Button</button>
      </div>
    </esl-popup>

    And some other focusable content

    <button class="btn btn-link">Focusable Button</button>

    <esl-trigger class="btn btn-link" target="#popup3">Simple Popup</esl-trigger>
    <esl-popup id="popup3" position="top" position-origin="outer">
      <div class="popup-content p-2" style="max-width: 400px">
        <p>{{ lorem.paragraph(1) }}</p>
      </div>
    </esl-popup>

    <esl-trigger class="btn btn-sec-orange" target="#zone2">Zone 2</esl-trigger>
  </esl-toggleable>

  <esl-toggleable id="zone2"
                  class="alert alert-alert p-3"
                  a11y="modal"
                  close-on=".close-button"
                  close-on-esc>
    <button type="button" class="close close-button" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <h2>Focus Trapped Zone 2</h2>
    <p>{{ lorem.paragraph(1) }}</p>
    <button class="btn btn-link">Focusable Button</button>

    <esl-trigger class="btn btn-sec-blue" target="#popup5">Simple Popup</esl-trigger>
    <esl-popup id="popup5" position="top" position-origin="outer">
      <div class="popup-content p-2" style="max-width: 400px">
        <p>{{ lorem.paragraph(1) }}</p>
      </div>
    </esl-popup>
  </esl-toggleable>
</section>
