---
layout: content
title: Popup game
seoTitle: Popup UI examples based on ESL web components
name: Popup game
tags: [draft]
icon: examples/popup.svg
aside:
  components:
    - esl-popup
    - esl-toggleable
    - esl-trigger
---

<style>
  .boundary-container {
    display: flex;
    box-sizing: content-box;
    padding: 15px;
    background-color: #007f0038;
  }
  esl-d-popup-game {
    --_font-size: calc(min(var(--_height, 300px), var(--_width, 300px)) / 3);
    position: relative;
    display: inline-block;
    height: var(--_height, 300px);
    width: var(--_width, 300px);
    background-color: #fff;
  }
  esl-d-popup-game:before, esl-d-popup-game:after {
    position: absolute;
    font-size: var(--_font-size);
    display: inline-block;
    opacity: 0.3;
  }
  esl-d-popup-game:before {
    content: '🌒';
  }
  esl-d-popup-game:after {
    content: '🪐';
    bottom: 0;
    right: 0;
  }
  .game-popup-trigger {
    position: absolute;
    display: inline-block;
    z-index: 1;
    transition: top 0.15s ease-in-out, left 0.15s ease-in-out;
    padding: 2px 6px;
    border: none;
    border-radius: 50%;
    box-shadow: none !important;
    background-color: #bce0ff45;
    font-size: 2rem;
  }
  .popup-game {
    --_margin-arrow: 35px;
  }
  .popup-h[dir="rtl"] {
    text-align: right;
  }
  .popup-content-wrapper {
    display: flex;
  }
  .popup-v .popup-content-wrapper {
    writing-mode: vertical-rl;
  }
  .popup-v .popup-content-wrapper {
    height: 250px;
    width: 50px;
  }
  .popup-h .popup-content-wrapper {
    height: 50px;
    width: 250px;
  }
  .popup-content-wrapper:before,
  .popup-content-wrapper:after {
    content: '';
    display: block;
    flex: 0 0 var(--_margin-arrow);
    background-color: #ff000018;
  }
  .popup-content {
    flex: 1;
    margin: auto;
  }
</style>
<p>This cool game will let you play with a popup.</p>
<p>Drag a trigger element and watch how the popup and its arrow move. Use the mouse wheel to resize the container. Use shift to switch the resize direction.</p>
<p>The green area on the edges of the container is determined by the offsetContainer value and means the safe zone in which popup can't come. The red zone on the edges of popup demonstrates the limits of arrow placement.</p>
<h2>Horizontal, direction: LTR</h2>
<section class="row">
  <div>
    <div class="boundary-container boundary-container-1">
      <esl-d-popup-game trigger="::find(.game-popup-trigger)">
        <esl-trigger
          target="#game-popup-h-ltr"
          mode="toggle"
          class="game-popup-trigger"
          style="top: 124px; left: 124px;">
          🚀
        </esl-trigger>
      </esl-d-popup-game>
    </div>
  </div>
  <esl-popup
    id="game-popup-h-ltr"
    class="popup-game popup-h"
    position="top"
    container=".boundary-container-1"
    dir="ltr"
    margin-arrow="35">
    <div class="popup-content-wrapper">
      <div class="popup-content"> 🇱 🇹 🇷 🐶 🐼</div>
    </div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
</section>
<h2>Horizontal, direction: RTL</h2>
<section class="row">
  <div>
    <div class="boundary-container boundary-container-2">
      <esl-d-popup-game trigger="::find(.game-popup-trigger)">
        <esl-trigger
          target="#game-popup-h-rtl"
          mode="toggle"
          class="game-popup-trigger"
          style="top: 124px; left: 124px;">
          🚀
        </esl-trigger>
      </esl-d-popup-game>
    </div>
  </div>
  <esl-popup
    id="game-popup-h-rtl"
    class="popup-game popup-h"
    position="top"
    container=".boundary-container-2"
    dir="rtl"
    margin-arrow="35">
    <div class="popup-content-wrapper">
      <div class="popup-content"> 🇷 🇹 🇱 🦝 🐱 </div>
    </div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
</section>
<h2>Vertical</h2>
<section class="row">
  <div>
    <div class="boundary-container boundary-container-3">
      <esl-d-popup-game trigger="::find(.game-popup-trigger)">
        <esl-trigger
          target="#game-popup-v"
          mode="toggle"
          class="game-popup-trigger"
          style="top: 124px; left: 124px;">
          🚀
        </esl-trigger>
      </esl-d-popup-game>
    </div>
  </div>
  <esl-popup
    id="game-popup-v"
    class="popup-game popup-v"
    position="left"
    container=".boundary-container-3"
    margin-arrow="35">
    <div class="popup-content-wrapper">
      <div class="popup-content"> V E 🇷 🇹 I C A 🇱 🐼 </div>
    </div>
    <span class="esl-popup-arrow"></span>
  </esl-popup>
</section>
