---
layout: content
title: Share (Regression)
name: Share (Regression)
tags: [draft]
icon: examples/share.svg
aside:
  components:
    - esl-share
---

{% macro triggerSVGicon(color, text) %}
<svg class="demo-trigger-svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99 99" fill="{{color}}" stroke="{{color}}">
  <path d="M75 20 25 50l50 30" fill="none" stroke-width="11"/><circle cx="25" cy="50" r="16"/><circle cx="75" cy="20" r="16"/><circle cx="75" cy="80" r="16"/>
  <text x="1" y="98" font-size="32" fill="#FF1493" stroke="#FF1493">{{text}}</text>
</svg>
{% endmacro %}

{% macro shareAttrs2() %}share-url="https://esl-ui.com/" share-title="Exadel Smart Library"{% endmacro %}
{% macro shareAttrs3() %}share-url="https://esl-ui.com/components/" share-title="Components List"{% endmacro %}
{% macro shareAttrs4() %}share-url="https://esl-ui.com/examples/" share-title="Examples"{% endmacro %}

<style>
  esl-share:not(.demo-inline-share) {
    margin: 10px;
  }
  .demo-inline-share svg {
    width: 1em;
    height: 1em;
  }
  .demo-trigger-svg-icon {
    width: 50px;
    height: 50px;
  }
</style>

<section share-url="https://github.com/dshovchko" share-title="it's my account">
  <h2>Share</h2>

  <h3>Displays various share buttons inline</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing <esl-share-button name="linkedin" style="color: #0b77b3;">Share me through Linkedin</esl-share-button> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <esl-share class="demo-inline-share" style="color: #00CED1;">Share me</esl-share> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse <esl-share class="demo-inline-share">{% include 'static/assets/examples/share-trigger-icon.svg' %}</esl-share> cillum dolore eu fugiat <esl-share-button name="linkedin" default-icon style="--esl-share-icon-size: 1em;"></esl-share-button> nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <hr>

  <h3>Displays list of share buttons without list attribute</h3>
  <p>Shows all available buttons from config.</p>
  <esl-share-list></esl-share-list>
  <hr>

  <h3>Displays list of share buttons with list="all"</h3>
  <p>Shows all available buttons from config.</p>
  <esl-share-list list="all"></esl-share-list>
  <hr>

  <h3>Displays list of share buttons with empty list (list="")</h3>
  <p>Shows empty component without buttons.</p>
  <esl-share-list list=""></esl-share-list>
  <hr>

  <h3>Displays list of share buttons for nonexistent group</h3>
  <p>Shows empty list when a nonexistent group is specified.</p>
  <esl-share-list list="group:foo"></esl-share-list>
  <hr>

  <h3>Displays list of share buttons only for existent groups or buttons</h3>
  <p>Shows specified buttons. Displays nothing in the case when specifying the wrong button or group name. (should display LinkedIn, Facebook, Twitter, LinkedIn, Wykop and Copy buttons)</p>
  <esl-share-list list="linkedin alladin group:alladin group:demo"></esl-share-list>
  <hr>

  <h3>Displays list of share buttons via incorrect list</h3>
  <p>Shows buttons only with the correct names. (should display only LinkedIn button)</p>
  <esl-share-list list="twittor  copi group:exsampl linkedin rint"></esl-share-list>
  <hr>

  <h3>Trigger madness</h3>
  <p>Displays a row of share triggers related to three variations of the popup. The purpose is to check that popup is consistently following the active trigger.</p>
  <p>Hint: the first number is a variant of the share popup, and the second number is a variant of the share attributes.<p>

  <esl-share dir="rtl" lang="he" popup-params="{extraClass: 'foo', extraStyle: 'max-width:325px; padding:20px'}">
    {{ triggerSVGicon('#00BFFF', '1/1') }}
  </esl-share>
  <esl-share list="group:demo">
    {{ triggerSVGicon('#00CED1', '2/1') }}
  </esl-share>
  <esl-share dir="ltr" lang="fr" popup-params="{extraClass: 'bar', extraStyle: 'padding:10px'}" list="group:alternative">
    {{ triggerSVGicon('#8FBC8F', '3/1') }}
  </esl-share>
  <esl-share>
    {{ triggerSVGicon('#00BFFF', '1/1') }}
  </esl-share>
  <esl-share {{ shareAttrs2() }}>
    {{ triggerSVGicon('#00BFFF', '1/2') }}
  </esl-share>
  <esl-share list="group:demo">
    {{ triggerSVGicon('#00CED1', '2/1') }}
  </esl-share>
  <esl-share list="group:demo" {{ shareAttrs2() }} popup-params="{disableArrow: true}">
    {{ triggerSVGicon('#FF7F50', '2/2') }}
  </esl-share>
  <esl-share list="group:demo" {{ shareAttrs3() }}>
    {{ triggerSVGicon('#00CED1', '2/3') }}
  </esl-share>
  <esl-share list="group:demo" {{ shareAttrs4() }}>
    {{ triggerSVGicon('#00CED1', '2/4') }}
  </esl-share>
  <esl-share list="group:demo" {{ shareAttrs3() }}>
    {{ triggerSVGicon('#00CED1', '2/3') }}
  </esl-share>
  <esl-share list="group:demo" {{ shareAttrs4() }}>
    {{ triggerSVGicon('#00CED1', '2/4') }}
  </esl-share>
  <esl-share list="group:demo">
    {{ triggerSVGicon('#00CED1', '2/1') }}
  </esl-share>
  <esl-share list="group:alternative">
    {{ triggerSVGicon('#8FBC8F', '3/1') }}
  </esl-share>
  <esl-share list="group:alternative" {{ shareAttrs2() }}>
    {{ triggerSVGicon('#8FBC8F', '3/2') }}
  </esl-share>
  <esl-share list="group:alternative" {{ shareAttrs3() }}>
    {{ triggerSVGicon('#8FBC8F', '3/3') }}
  </esl-share>
  <esl-share list="group:alternative" {{ shareAttrs4() }}>
    {{ triggerSVGicon('#8FBC8F', '3/4') }}
  </esl-share>
  <esl-share list="group:alternative">
    {{ triggerSVGicon('#8FBC8F', '3/1') }}
  </esl-share>
  <esl-share>
    {{ triggerSVGicon('#00BFFF', '1/1') }}
  </esl-share>
  <esl-share>
    {{ triggerSVGicon('#00BFFF', '1/1') }}
  </esl-share>
</section>
