---
layout: content
title: Slide Carousel
seoTitle: Slide Carousel UI examples based on ESL web components
name: Slide Carousel
tags: [draft]
icon: examples/carousel.svg
---

<section class="container-fluid">
  <h2>Demo 1: </h2>
  <p>The first slide is active (1 slide)</p>

  <div class="row flex-column" esl-carousel-container>
    <button type="button" esl-carousel-nav="group:prev"></button>

    <esl-carousel esl-carousel-touch type="css">
      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        {% for i in range(0, 4) %}
        <esl-carousel-slide {% if i == 0 %} active {% endif %}>
          <div class="card post-text" style="background: {{ functions.randomColor() }}; height: 150px;">
            <p><b>{{i + 1}}</b></p>
          </div>
        </esl-carousel-slide>
        {% endfor %}
        <!-- /CAROUSEL-ITEM -->
      </div>
    </esl-carousel>

    <button type="button" esl-carousel-nav="group:next"></button>

    <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>
  </div>
</section>

<section class="container-fluid">
  <h2>Demo 2: </h2>
  <p>The second slide is active (1 slide) !!!</p>

  <div class="row flex-column" esl-carousel-container>
    <button type="button" esl-carousel-nav="group:prev"></button>

    <esl-carousel esl-carousel-touch="swipe" type="css">
      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        {% for i in range(0, 5) %}
          <esl-carousel-slide {% if i == 2 %} active {% endif %}>
            <div class="card post-text" style="background: {{ functions.randomColor() }}; height: 150px;">
              <p><b>{{i + 1}}</b></p>
            </div>
          </esl-carousel-slide>
        {% endfor %}
        <!-- /CAROUSEL-ITEM -->
      </div>
    </esl-carousel>

    <button type="button" esl-carousel-nav="group:next"></button>

    <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>
  </div>
</section>

<section class="container-fluid">
  <h2>Demo 3: </h2>
  <p>The second slide is active (1 slide) !!!</p>

  <div class="row flex-column" esl-carousel-container>
    <button type="button" esl-carousel-nav="group:prev"></button>

    <esl-carousel esl-carousel-touch type="slide">
      <div data-slides-area>
        <!-- CAROUSEL-ITEM -->
        {% for i in range(0, 5) %}
          <esl-carousel-slide {% if i == 2 %} active {% endif %}>
            <div class="card post-text" style="background: {{ functions.randomColor() }}; height: 150px;">
              <p><b>{{i + 1}}</b></p>
            </div>
          </esl-carousel-slide>
        {% endfor %}
        <!-- /CAROUSEL-ITEM -->
      </div>
    </esl-carousel>

    <button type="button" esl-carousel-nav="group:next"></button>

    <esl-carousel-dots class="carousel-dots-wrapper"></esl-carousel-dots>
  </div>
</section>
