---
layout: content
title: Animate (UIPlayground)
name: Animate (UIPlayground)
tags: [draft]
---
<section class="row">
  <div class="col-12">
    <uip-root>
      <script type="text/html" uip-snippet label="Simple animation">
        <div class="simple-grid simple-grid-compact">
          <esl-animate repeat class="esl-animate-fade esl-animate-slide simple-grid-cell bg-green round text-white h3 text-center">
            ESL Animate
          </esl-animate>
        </div>
      </script>

      <uip-snippets class="uip-toolbar" dropdown-view="@xs"></uip-snippets>
      <uip-preview></uip-preview>
      <uip-settings target="esl-animate" label="Settings" resizable vertical="@+sm">
        <uip-select-setting label="Animation type:" attribute="class" mode="append">
          <option value="esl-animate-fade">Fade</option>
          <option value="up">Slide Up</option>
          <option value="left">Slide Left</option>
          <option value="down">Slide Down</option>
          <option value="right">Slide Right</option>
        </uip-select-setting>
      </uip-settings>
      <uip-editor label="Source code" collapsible copy></uip-editor>
    </uip-root>
  </div>
</section>

