.user {
  &-list {
      display: flex;
      justify-content: center;
  }

  &-card {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 0 10px 20px 10px;
    text-align: center;
    overflow-wrap: break-word;
  }

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

[wrap-items] {
  flex-wrap: wrap;
}

.red-user {
  background-color: red;
  color: white;
}

.green-user {
  background-color: green;
  color: white;
}

.aqua-user {
  background-color: aqua;
}
