.user {
  &-list {
      display: flex;
  }

  &-block {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 0 10px 20px 10px;
    text-align: center;
    overflow-wrap: break-word;
  }
}

[wrap-items] {
  flex-wrap: wrap;
}

.red-user {
  background-color: red;
  color: white;
}

.green-user {
  background-color: green;
  color: green;
}

.aqua-user {
  background-color: aqua;
}
