<!doctype html>
<html lang="en" class="esl-scrollable-content">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ESL Image</title>
  
  <script>!function(){let e="";window.Promise&&window.CustomEvent?"getRootNode"in Element.prototype&&window.customElements&&window.IntersectionObserver&&window.ResizeObserver||(e="light"):e="full",e&&document.write('<script type="text/javascript" src="/esl/bundles/polyfill-'+e+'.js"><\/script>')}()</script>

  <link rel="icon" type="image/png" href="/esl/assets/logo-64x64.png"/>
  <link rel="stylesheet" type="text/css" href="/esl/bundles/localdev.css"/>

  

</head>
<body>

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark esl-demo-header">
  <div class="container flex-column flex-lg-row align-items-stretch align-items-md-center">
    <a class="navbar-brand logo-light logo-animated mr-5" href="/esl/">
      <?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
  <g class="shield">
    <path class="s-l" fill="#C6361A" fill-rule="evenodd" d="M200 292c-.3 0-.6 0-.9-.1-.7-.2-73.1-17-73.1-96.9v-56.3c0-1.8 1.1-3.5 2.8-4.1l69.6-26.3c1-.4 2.1-.4 3.1 0l69.6 26.3c1.7.6 2.8 2.3 2.8 4.1V195c0 79.9-72.3 96.8-73.1 96.9-.2.1-.5.1-.8.1z"/>
    <path class="s-r" fill="#FF5D24" fill-rule="evenodd" clip-rule="evenodd" d="M200 108v184c.3 0 .6 0 .9-.1.7-.2 73.1-17 73.1-96.9v-56.3c0-1.8-1.1-3.5-2.8-4.1l-69.6-26.3c-.6-.2-1.1-.3-1.6-.3z"/>
  </g>
  <g class="wrenches">
    <path class="w-l" fill-rule="evenodd" d="M207.7 207.3l-15.8 15.8-23.2-6.2-6.2-23.2 15.8-15.8c-9-.7-18.2 2.4-25.1 9.3-9.5 9.5-11.8 23.5-6.8 35.1L108.6 260c-4.7 4.7-4.7 12.3 0 17s12.3 4.7 17 0l37.7-37.7c11.6 4.9 25.6 2.7 35.1-6.8 6.9-6.9 10-16.2 9.3-25.2z" clip-rule="evenodd"/>
    <path class="w-r" fill-rule="evenodd" d="M292 122.6c-4.7-4.7-12.3-4.7-17 0l-37.7 37.7c-11.6-4.9-25.6-2.7-35.1 6.8-6.9 6.9-10 16.1-9.3 25.1l15.8-15.8 23.2 6.2 6.2 23.2-15.8 15.8c9 .7 18.2-2.4 25.1-9.3 9.5-9.5 11.8-23.5 6.8-35.1l37.7-37.7c4.8-4.6 4.8-12.2.1-16.9z" clip-rule="evenodd"/>
  </g>
  <path d="M199.5 39.5c-88.4 0-160 71.6-160 160s71.6 160 160 160 160-71.6 160-160-71.6-160-160-160zm0 308c-81.7 0-148-66.3-148-148s66.3-148 148-148 148 66.3 148 148-66.3 148-148 148z"/>
</svg>

      <span class="ml-2">Exadel Smart Library</span>
    </a>
    
    <ul class="navbar-nav flex-grow-1 flex-column flex-md-row justify-content-end">
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow">
      Examples
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/accordion/">Accordion</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/embedded-audio/">Embedded Audio</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/embedded-video/">Embedded Video</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/image/">Image</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/menu/">Menu</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/notification/">Notification</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/scrollbar/">Scrollbar</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/forms-select/">Select Dropdown</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/forms-select-list/">Select List</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/tabs/">Tabs</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/examples/toggleable/">Toggleable</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow nav-item-selected">
      Components
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-alert/">ESL Alert</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item nav-item-selected" aria-current="page">
            <a class="hd-dropdown-link" href="/esl/components/esl-image/">ESL Image</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-media/">ESL Media</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-panel/">ESL Panel</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-popup/">ESL Popup</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-scrollbar/">ESL Scrollbar</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-select/">ESL Select</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-select-list/">ESL Select List</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-tabs/">ESL Tabs</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-toggleable/">ESL Toggleable</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/components/esl-trigger/">ESL Trigger</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>
      <li class="nav-item hd-dropdown">
        
  <esl-trigger class="hd-dropdown-trigger" target="::next" track-hover="@+SM" hover-hide-delay="400">
    <button class="btn btn-link hd-dropdown-btn hd-dropdown-arrow">
      Utils
    </button>
  </esl-trigger>
  <esl-panel class="hd-dropdown-content" group="esl-nav" body-class="menu-opened" fallback-duration="400" close-on-esc close-on-outside-action>
    
      <ul class="hd-dropdown-list">
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-a11ty-group/">ESL A11y Group</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-base/">ESL Base Element</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-media-query/">ESL Media Query</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-traversing-query/">ESL Traversing Query</a>
          </li>
        
          
          <li class="nav-item hd-dropdown-item">
            <a class="hd-dropdown-link" href="/esl/utils/esl-utils/">ESL Utils</a>
          </li>
        
      </ul>
    
  </esl-panel>

      </li>

      <li class="nav-item ml-1">
        <a class="btn btn-link" href="https://github.com/exadel-inc/esl">
          <svg width="30" height="30" viewBox="0 0 32 32" fill="#fff">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M16.003 0C7.17 0 .008 7.162.008 15.997c0 7.067 4.582 13.063 10.94 15.18.8.145 1.052-.33 1.052-.753 0-.38.008-1.442 0-2.777-4.45.967-5.37-2.107-5.37-2.107-.728-1.848-1.776-2.34-1.776-2.34-1.452-.992.11-.973.11-.973 1.604.113 2.45 1.65 2.45 1.65 1.427 2.442 3.743 1.736 4.654 1.328.146-1.034.56-1.74 1.017-2.14C9.533 22.663 5.8 21.29 5.8 15.16c0-1.747.622-3.174 1.645-4.292-.165-.404-.715-2.03.157-4.234 0 0 1.343-.43 4.398 1.64 1.276-.354 2.645-.53 4.005-.537 1.36.006 2.727.183 4.005.538 3.055-2.07 4.396-1.64 4.396-1.64.872 2.202.323 3.83.16 4.233 1.022 1.118 1.643 2.545 1.643 4.292 0 6.146-3.74 7.498-7.305 7.893C19.48 23.548 20 24.508 20 26v4.428c0 .428.258.9 1.07.746C27.422 29.054 32 23.062 32 15.997 32 7.162 24.838 0 16.003 0z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="esl-demo-header-overlay"></div>

  </header>

  <main role="main">
    <div class="content container">
      
        <h1 class="text-center pt-2">
          ESL Image
          
          
        </h1>

        <hr/>
      
      
<div class="markdown-container">
<p>ESLImage - a custom element, that provides flexible ways to include images on web pages.
Was originally developed as an alternative to <code>&lt;picture&gt;</code> element, but with more features inside.</p>
<hr>
<h3>Supported Features:</h3>
<ul>
<li>Different rendering modes:
<ul>
<li><code>cover</code> - renders the image via <code>background-image</code> CSS property, <code>background-size</code> is <code>cover</code> by default, <code>width</code> and <code>height</code> are <code>100%</code> by default;</li>
<li><code>safe-ratio</code> - renders the image via <code>background-image</code> CSS property, but also sets height using <code>padding-top: {aspectRatio}%;</code> trick;</li>
<li><code>fit</code> - renders the image using inner <code>&lt;img&gt;</code> element;</li>
<li><code>origin</code> - renders the image using inner <code>&lt;img&gt;</code> element, sets width/height attributes using image's original size;</li>
<li><code>svg-inline</code> - renders svg content inside (the content is loaded via XHR request).</li>
</ul>
</li>
<li>Lazy loading modes:
<ul>
<li><em>none</em> - image starts loading immediately;</li>
<li><em>manual</em> - starts loading image when a marker is provided manually;</li>
<li><em>auto</em> - image starts loading only if it's visible and is inside or close to browser viewport area (determined using Intersection Observer API).</li>
</ul>
</li>
<li><code>ESLMediaQuery</code> - special syntax that allows defining different sources for different media queries. Supports media-query shortcuts.</li>
<li>Marker class. ESL Image can add a specific class on the specified parent element when the image is ready. ESL Image itself also has markers that indicate its state.</li>
<li>Provides events on state change (also supports inline syntax, e.g. <code>&lt;esl-image-tag onload=""&gt;</code>).</li>
<li>Attributes observing.</li>
<li>A11y.</li>
</ul>
<h3>Accessibility behaviour</h3>
<p>ESL Image uses 'img' role if the role is not explicitly provided.
If the role is 'img' then <code>alt</code> attribute is used as the <code>aria-label</code> for the image.
In case <code>alt</code> is not provided then an empty value is used as a fallback.
<code>data-alt</code> is considered a legacy attribute and is used only when the image was connected to DOM without <code>alt</code> or <code>aria-label</code> attribute.</p>
<h3>Attributes:</h3>
<ul>
<li>
<p><strong>data-src</strong> - src paths with queriy congitions. See <a href="https://exadel-inc.github.io/esl/utils/esl-media-query/">ESLMediaQuery</a> (watched value)</p>
</li>
<li>
<p><strong>data-src-base</strong> - base src path for paths described in data-src (watched value)</p>
</li>
<li>
<p><strong>alt</strong> - alt image text (watched value)</p>
</li>
<li>
<p><s><strong>data-alt</strong></s> (Deprecated) - alt image text, not observable</p>
</li>
<li>
<p><strong>mode</strong> - rendering mode. Default - <code>save-ratio</code> (watched value):</p>
<ul>
<li><code>origin</code> - save origin image size (use inner <code>img</code> tag for rendering);</li>
<li><code>fit</code> - use inner <code>img</code>, but do not force its width;</li>
<li><code>cover</code> - do not set self width/height; use 100% w/h of the container (use <code>background-image</code> for rendering);</li>
<li><code>save-ratio</code> - fill 100% of container width and set the self height according to image ratio (use <code>background-image</code> for rendering);</li>
<li><code>svg-inline</code> - load an SVG content via XHR request and render it inside.</li>
</ul>
</li>
<li>
<p><strong>lazy</strong> (optional) - enable lazy loading:</p>
<ul>
<li><code>auto</code> - IntersectionObserver mode: image starts loading as soon as it becomes visible in visual area</li>
<li><code>manual</code> - start loading when <code>lazy-triggered</code> marker is set manually</li>
</ul>
</li>
<li>
<p><strong>refresh-on-update</strong> [boolean] (optional) - Always update the original image as soon as image source is changed</p>
</li>
<li>
<p><strong>inner-image-class</strong> (optional) - class to mark and search the inner image, 'inner-image' by default</p>
</li>
<li>
<p><strong>container-class</strong> (optional) - class that will be added to the container when the image is ready</p>
</li>
<li>
<p><strong>container-class-state</strong> (optional) - image state in which the container will be marked with <code>container-class</code> (can be 'ready', 'loaded' or 'error')</p>
</li>
<li>
<p><strong>container-class-target</strong> (optional) - <a href="https://exadel-inc.github.io/esl/utils/esl-traversing-query/">TraversingQuery</a> to find the target to add <code>container-class</code> to ('::parent' by default).</p>
</li>
</ul>
<p>NOTE: ESL Image supports <code>title</code> attribute like any HTML element, no additional reflection for that attribute is needed - it will work correctly according to HTML5.* REC</p>
<h3>Readonly Attributes</h3>
<ul>
<li>ready [boolean] - appears when the image is ready (either loaded or failed to load)</li>
<li>loaded [boolean] - appears when the image is loaded for the first time</li>
<li>error [boolean] - appears when current image failed to load</li>
</ul>
<h3>API</h3>
<ul>
<li>triggerLoad - shortcut function for manual adding <code>lazy-triggered</code> marker</li>
<li>currentSrc - image URL that is currently in use</li>
</ul>
<h3>Events</h3>
<ul>
<li>ready - emits when the image is ready (either loaded or failed to load)</li>
<li>load - emits when the image is loaded (also when the path is changed)</li>
<li>error - emits when the current source failed to load.</li>
</ul>
</div>

<section class="row">
  <div class="col-12">
    <h2>Related Examples: </h2>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/esl/examples/image">Image</a></li>
    </ul>
  </div>
</section>

    </div>
  </main>

  <footer class="footer bg-dark">
    <div class="container">
  <div class="text-center">
    <div class="text-muted">ESL v3.3.0 © 2021 Exadel, Inc</div>
    <div class="text-muted">Core Team Contributors:
      <a href="mailto:astsefanovich@exadel.com">Alexey Stsefanovich</a>,
      <a href="mailto:ymurashka@exadel.com">Julia Murashko</a>,
      <a href="mailto:yadamska@exadel.com">Yuliya Adamskaya</a>,
      <a href="mailto:dshovchko@exadel.com">Dmytro Shovchko</a>,
      <a href="mailto:abarmina@exadel.com">Anna Barmina</a>
    </div>
  </div>
</div>

  </footer>

  

  <script src="/esl/bundles/localdev.js"></script>


  <esl-scrollbar class="page-scrollbar" target="html"></esl-scrollbar>

</body>
</html>
