* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }
}

.main {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #f9f9f9;

  &-title {
    margin: 10px auto;
    font-weight: 400;
  }

  &-desc {
    font-size: 20px;
    font-weight: lighter;
  }

  .main-container .uip-root {
    margin-top: 20px;

    .logo-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;

      &.blue-clr {
        svg {
          fill: #0082CA;
        }
        .get-started {
          border-color: #0082CA;
          color: #0082CA;
        }
      }

      &.gray-clr {
        svg {
          fill: #4e4e4e;
        }
        .get-started {
          border-color: #4e4e4e;
          color: #4e4e4e;
        }
      }

      &.white-clr {
        svg {
          fill: white;
        }
        .get-started {
          border-color: white;
          color: white;
        }
      }
    }

    .get-started {
      margin-top: 10px;
      padding: 5px 8px;
      border: 3px solid #4e4e4e;
      border-radius: 10px;
      font-size: 18px;
      color: #4e4e4e;
      &:after {
        content: attr(data-test-msg);
      }
    }
  }
}

.content {
  flex: 1 0 auto;
  width: 100%;
  padding: 30px 0;

  ul, ol {
    list-style-position: inside;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;

  @media @mobile {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media @tablet {
    padding-right: 45px;
    padding-left: 45px;
  }
}

.footer {
  display: block;
  margin-top: auto;
  padding: 15px 0;
  color: #fff;
  background-color: @dark-bg;

  a {
    color: #e9e9e9;
  }
}

.collection {
  &-title {
    font-weight: 500;
  }

  &-list {
    margin: 20px 0;
    width: 100%;
    list-style-type: none;

    .title {
      margin: 10px 0;
      font-weight: 500;
    }

    .item {
      margin-bottom: 10px;
      border-bottom: 1px solid #ebebeb;

      a {
        color: #353535;
      }
    }
  }

  &-sublist {
    margin-left: 20px;
    list-style-type: none;
  }
}

.esl-scrollbar.page-scrollbar {
  top: @header-height-desktop;
  @media @mobile {
    top: @header-height-mobile;
  }
}

@import "./header.less";
@import "./sidebar.less";
