name: GH Pages Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  node-version: 18.x

jobs:
  deploy-gh-pages:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node v${{ env.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}
      - name: Install NPM Dependencies
        run: npm ci
      - name: Build
        run: npm run build-pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: pages/dist
