name: Test Pack of NPM package

on:
  workflow_dispatch:

env:
  node-version: 16.x

jobs:
  validate:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node v${{ env.node-version }}
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: ${{ env.node-version }}
      - name: Install NPM Dependencies
        run: npm ci
      - name: Run Pack
        run: npm pack
