name: Validate

on:
  push:
    branches: [ main, main-beta, epic/* ]
  pull_request:
    branches: [ main, main-beta, epic/* ]
  workflow_dispatch:

env:
  node-version: 24.x

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node v${{ env.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ env.node-version }}
      - name: Install NPM Dependencies
        run: npm ci
      - name: Run Linting
        run: npm run lint

  test:
    name: Unit Tests & Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node v${{ env.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ env.node-version }}
      - name: Install NPM Dependencies
        run: npm ci
      - name: Run Tests
        run: npm run test
      - name: Collect and Publish coverage to Qlty
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: |
            packages/esl/coverage/lcov.info
