name: Test and Lint

on:
  push:
    branches: [ main, main-beta, epic/* ]
  pull_request:
    branches: [ main, main-beta, epic/* ]
  workflow_dispatch:

env:
  node-version: 16.x

jobs:
  validate:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node v${{ env.node-version }}
        uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: ${{ env.node-version }}
      - name: Install NPM Dependencies
        run: npm ci
      - name: Run Linting JS
        run: npm run lint:js
      - name: Run Linting CSS
        run: npm run lint:css
      - name: Run Tests
        run: npm run test:unit
      - name: Run Linting Format
        run: npm run lint:spaces
