{% if banner.title and not banner.disabled %}
<esl-d-banner close-on=".close-button"
              cookie-name="{{banner.cookie or ''}}"
              role="note"
              aria-live="polite">
  <div class="banner" tabindex="-1">
    <h5 class="banner-title h4">{{ banner.title }}</h5>
    <div class="markdown-container">{% markdown %} {{ banner.content }} {% endmarkdown %}</div>

    <button type="button" class="close close-button" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</esl-d-banner>
{% endif %}
