{% from 'navigation/footer-menu.njk' import menu with context %}

<div class="container footer-container">
  <esl-panel-group mode="accordion" min-open-items="0 | @+MD => all" max-open-items="1 | @+MD => all" refresh-strategy="initial">
    <ul class="footer-accordion-container">
      <li class="footer-column">
        {{ menu ('Core', 'core') }}
      </li>
      <li class="footer-column footer-column-2">
        {{ menu ('Components', 'components') }}
      </li>
      <li class="footer-column footer-column-2">
        {{ menu ('Examples', 'examples') }}
      </li>
      <li class="footer-column">
        {{ menu ('Help', 'introduction', footer.additional) }}
      </li>
    </ul>
  </esl-panel-group>
  <div class="footer-common-links-container">
    <div class="footer-common-links">
      <div class="footer-copyright">
        ESL v{{ env.version }} © {{ env.date.getFullYear() }} <a class="footer-link" href="https://exadel.com" target="_blank">Exadel</a>, Inc.
        Code licensed under <a class="footer-link" href="https://github.com/exadel-inc/esl/blob/main/LICENSE" target="_blank">MIT</a>.
        <a class="footer-link" href="/privacy-policy/" target="_blank">Privacy</a>
      </div>
    </div>
    <div class="footer-common-links footer-common-links-right">
      <a class="footer-link icon-link" href="{{ site.github.url }}" target="_blank" aria-label="Open on GitHub">
        {% include 'static/assets/common/github.svg' %}
      </a>
    </div>
  </div>
</div>
