{% macro menu(title, collection, additional) %}
  <h4 class="footer-title">{{ title }}</h4>
  <esl-trigger class="footer-accordion-trigger" target="::next" hover-hide-delay="400">
    {{ title }} <span class="arrow"></span>
  </esl-trigger>
  <esl-panel class="footer-accordion-content"
             fallback-duration="400"
             close-on-esc>
    <ul class="footer-list">
      {% if collections[collection] %}
        {% for item in collections[collection] | exclude('data.hidden') | releasedStrict | sortByNameAndOrder %}
          <li class="footer-item">
            <a class="footer-link" href="{{ item.url | url }}">{{ item.data.name }}</a>
          </li>
        {% endfor %}
      {% endif %}
      {% if additional %}
        {% for item in additional %}
          <li class="footer-item">
            <a class="footer-link" href="{{ item.url | url }}" target="_blank">{{ item.text }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </esl-panel>
{% endmacro %}
